// DESKTOP
@media (min-width: 1024px) {
    .hero-header{
        .hero-wrapper{
            padding-top: rem(170);
            p{
                max-width: 90%;
                margin: 0 auto;
            }
            #search{
                display: flex;
                justify-content: space-between;
                height: 100%;
                width: 100%;
                .form-group{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    margin-right: rem(10);
                    margin-bottom: 0;
                    .form-select,
                    .input-search{
                        margin-bottom: 0;
                    }
                }
                input[type='submit']{
                    width: 70%;    
                }
                
            
            }
            .search-more{
                margin-top: rem(50);
            }
        }
    }
    #navigation{
        .toggle{
            display: none;
        }
        .brand{
            h1{
                font-size: em(24);
            }
        }
        .desktop-menu{
            display: block;
            z-index: 90;
            .lm-desktop{
                display: flex;
                a{
                    padding-left: rem(25);
                    display: block;
                    color: $white;
                    font-size: em(20);
                    letter-spacing: 0.125px;
                }
            }
        }
        &.white{
            .lm-desktop{
                a{
                    color: $dark;
                }
            }
        }
        &.fixed{
            background-color: $white;
            position: fixed;
            z-index: 50;
            border-bottom: 1px solid #efefef;
            .brand{
                h1{
                    color: $dark;
                }
            }
            .desktop-menu{
                a{
                    color: $dark;
                }
            }
        }
    }
    #activities{
        .act-container{
            .block-act{
                &:hover{
                    .background{
                        transform: scale(1.05);
                        }
                    .shadow{
                        background-color: rgba($dark, $alpha: 0.4);
                    }
                }
            }
        }
    }
    #news{
        .news{
            width: 90%;
            max-width: 1280px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article{
                width: calc(50% - 20px);
                height: 100%;
                img{
                    height: rem(200);
                }
            &:hover{
                img{
                    background-color: rgba($dark, $alpha: 0.4);
                }
            }
            }
        }
    }
    #testimonials{
        .users-testimonials{
            .block-testi{
                width: calc(50% - 20px);
            }
            .quote{
                top: 15%;
            }
            blockquote{
                padding-top: rem(30);
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    #footer{
        .footer-elems{
            justify-content: space-around;
        }
    }
    .separator{
        &.clouds{
            width: 150%;
        }
    }
    .form-ctn{
        .sign-up-container{
            width: 80%;
            align-self: center;
            .tt-01{
                padding-top: 0;
            }
        }
    }
    #categories{
        .cat{
            .cats{
                .cat-list{
                    .list-item{
                        width: 32%;
                    }
                }
            }
        }
    }
    .modal {
        display: none; /* Hidden by default */
        justify-content: center;
        align-items: center;
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        .modal-container{
            background-color: $white;
            border-radius: 4px;
            width: 90%;
            height: 90%;
        }
    }
    .error-page{
        .cloud{
            &.third{
                bottom: rem(50);
                left: 10%;
            }
        }
    }
    #profil-page{
        .com{
            .comment-form{
                .form-group{
                    input{
                        width: 90%;
                    }
                }
            }
            .message-group{
                textarea{
                    width: 80%;
                }

            }
        }
    }
    #profil-page{
        .profil{
            display: flex;
            .infos-side{
                flex: 1 1 35%;
            }
            .profil-ctn{
                flex: 1 1 65%;
            }
        }
    }
}