// DESKTOP 1200+
@media (min-width: 1200px) {
    #sign-up{
        .sign-up-container{
            width: 60%;
        }
    }
    .error-page{
        .cloud{
            &.last{
                display: block;
                top: rem(220);
                right: 20%;
            }
        }
    }
}