// DESKTOP 1200+
@media (min-width: 1200px) {
    #sign-up{
        .sign-up-container{
            width: 60%;
        }
    }
    .error-page{
        .cloud{
            &.last{
                display: block;
                top: rem(220);
                right: 20%;
            }
        }
    }
    #profil-page{
        .profil{
            display: flex;
            .infos-side{
                flex: 1 1 30%;
            }
            .profil-ctn{
                flex: 1 1 70%;
            }
        }
    }
    #footer{
        .footer-elems{
            justify-content: space-around;
        }
    }

    #testimonials{
        .users-testimonials{
            .block-testi{
                box-shadow: none;
                blockquote{
                    width: 80%;
                }
            }
        }
    }

    .result-map{
        display: flex;
        flex-direction: row;
        .results-ctn{
            width: calc(60% - 10px);
        }
        #map{
            width: calc(40% - 10px);
            position: relative;
            height: rem(420);
            right: 0;
        }
    }
}