// TABLET
@media (min-width: 768px) {
    .tt-01{
        font-size: em(38);
    }
    #cookies{
        height: rem(60);
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        p{
            text-align: left;
            width: 90%;
        }
        .accept{
            .btn-01{
                margin: 0;
            }
        }
    }
    .hero-header{
        .hero-wrapper{
            margin: auto;
            padding-top: rem(120);
            h2{
                font-size: em(50);
            }
            p{
                font-size: em(18);
            }
            #search{
                width: 80%;
                margin-top: rem(30);
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    #how{
        .howit{
           display: flex;
           justify-content: space-around;
           .block{
               width: calc(33% - 30px);
           }
        }
    }
    #activities{
        .act-container{
            width: 90%;
            max-width: 1280px;
            margin: 0 auto;
            .full-width-act{
                .block-act{
                    border-radius: 4px;
                    margin-bottom: rem(20);
                }
            }
            .half-width-act{
                display: flex;
                justify-content: space-between;
                .block-act{
                    border-radius: 4px;
                    width: calc(50% - 10px);
                    margin-bottom: rem(20);
                    p{
                        font-size: em(28);
                    }
                }
            }
            .full-width-act,
            .half-width-act{
                .block-act{
                    height: 340px;
                    .flex-sp{
                        p{
                            font-size: em(24);
                        }
                    }
                }
            }
        }
        .more{
            margin-top: rem(30);
        }
    }
    #last-users{
        .last-users{
            display: flex;
            justify-content: space-around;
            .block-last-user{
                color: $dark;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .name{
                    font-weight: $fw-bold;
                    font-size: em(20);
                    margin-bottom: rem(10);
                }
                p:last-child{
                    font-size: em(18);
                }
            }
        }
    }
    #stats{
        .stats{
            display: flex;
            justify-content: space-around;
            align-items: center;
           .block-stat{
               width: calc(25% - 10px);
               .stat-number{
               }
               .stat-desc{
               }
            }
        }
    }
    #news{
        .news{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article{
                width: calc(50% - 10px);
                height: 100%;
                margin-left: 0;
                margin-right: 0;
                img{
                    border-radius: 4px;
                }
            }
        }
    }
    #testimonials{
        .users-testimonials{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .block-testi{
                -webkit-box-shadow: 0px 0px 30px -6px rgba(194,194,194,1);
                -moz-box-shadow: 0px 0px 30px -6px rgba(194,194,194,1);
                box-shadow: 0px 0px 30px -6px rgba(194,194,194,1);
                width: 80%;
                padding: rem(20);
                background-color: $white;
            }
            .quote{
                top: 5%;
                left: 15%;
            }
            blockquote{
                width: 90%;
                text-align: center;
                margin: rem(10) auto;
            }
        }
    }
    #footer{
        padding: 0;
        .footer-elems{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: rem(50);
            padding-bottom: rem(20);
            .group-link,
            .links {
                width: calc(33%);
            }
            .group-link{
                display: flex;
                justify-content: center;
                align-items: center;
                .links{
                    width: calc(50%);
                    max-width: 110px;
                }
            }
            .links{
                margin-bottom: 0;
            }
            .logo-footer{
                padding-top: 0;
            }
            .contact{
                padding: 0;
            }
        }
        .logo-footer{
            padding-bottom: rem(30);
        }
        .copyright{
            a:first-of-type{
                margin-left: rem(20);
            }
        }
    }
    .separator{
        &.clouds{
            width: 280%;
        }
    }
    .sign-side{
        display: block;
        width: 40%;
        height: 100%;
        background: url(../images/aside_subscribe.jpg);
        background-size: cover;
        background-position-x: 72%;
        position: relative;
        &.left{
            float: left;
        }
        &.right{
            float: right;
        }
    }
    .form-ctn{
        .close-ctn{
            position: absolute;
            top: rem(25);
            cursor: pointer;
            .close{
                display: block;
                background-color: $white;
                border-radius: 1px;
                &::before,
                &::after{
                    content: '';
                    position: absolute;
                    width: rem(30);
                    height: rem(4);
                    background-color: $blue1;
                }
                &::before{
                    transform: rotateZ(45deg);
                }
                &::after{
                    transform: rotateZ(-45deg);
                }
            }
        &.right{
            right: rem(45);
        }
        &.left{
            left: rem(12.5);
        }
        }
        display: flex;
        flex-direction: column;
        align-content: space-between;
        min-height: 100%;
        height: 100%;
        position: relative;
        #logo-header{
            display: none;
        }
        .copyright{
            font-size: em(14);
        }
        .sign-up-container{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 0;
            .tt-01{
                font-size: em(38);
            }
            input[type='submit']{
                margin-top: rem(20);   
            }
            input[name='name']{
                text-transform: uppercase;
            }
            input[name='nickname']{
                text-transform: capitalize;
            }
            .sign-in{
                padding-bottom: rem(15);
                padding-top: 0;
            }
        }
    }
    #article{
        .art-ctn{
            width: 90%;
            max-width: 1280px;
            margin: 0 auto;
            .article-content{
                width: 100%;
            }
        }
    }
    .result-map{
        .results-ctn{
            width: 100%;
        }
        #map{
            width: 100%;
        }
        .results-ctn{
            .card-result{
                .card-head{
                    margin-bottom: 0;
                    .card-right{
                        img{
                            width: rem(200);
                            height: rem(200);
                            margin-bottom: 0;
                        }
                    }
                    .card-left{
                        padding-left: rem(10);
                    }
                }
                .card-ctn{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    & > div {
                        flex: 50%;
                        img{
                            margin-right: rem(5) !important;
                        }
                    }
                }
                .btn-more{
                    margin-top: 0;
                    .btn-01{
                        margin: auto;
                    }
                }
                &.mobile{
                    display: none;
                }
                &.desktop{
                    display: flex;
                }
            }
        }
    }
    #categories{
        .cat{
            .cats{
                .cat-list{
                    .list-item{
                        width: 48%;
                    }
                }
            }
        }
    }
    .modal {
        display: none; /* Hidden by default */
        justify-content: center;
        align-items: center;
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        .modal-container{
            background-color: $white;
            border-collapse: separate;
            width: 90%;
            height: 80%;
        }
    }
    .error-page{
        .cloud{
            position: absolute;
            &.first{
                top: rem(120);
                left: rem(-50);
            }
            &.second{
                bottom: 40%;
                right: rem(-200);
            }
            &.third{
                bottom: rem(70);
                left: 10%;
            }
            &.last{
                display: none;
            }
        }
    }
    #profil-page{
        .block-pro{
            padding: rem(25);
        }
        .profil{
            .infos-side{
                .infos{
                    display: flex;
                    flex-direction: row-reverse;
                    .left-side{
                        width: 33.3333%;
                        padding-right: rem(10);
                        .avatar{
                            margin-top: 0;
                        }                     
                        .flex-center{
                            a{
                                width: rem(140);
                            }
                        }
                    }
                    .right-side{
                        width: 66.6666%;
                        padding-left: rem(10);
                        .name-container{
                            p{
                                text-align: left;
                            }
                        }                      
                    }
                }
            }
        }
        .com{
            .comment-form{
                .form-group{
                    input{
                        width: 80%;
                    }
                }
            }
            .message-group{
                display: flex;
                justify-content: space-between;
                textarea{
                    width: 70%;
                }

            }
        }
    }
    #passwordForm{
        .mail-form{
            margin: 0 auto;
            width: 70%;
        }
    }
    .search-cant-find{
        max-width: rem(500);
        margin-left: auto;
        margin-right: auto;
        padding-top: rem(20);
        padding-bottom: rem(20);
    }

    #comment-declarer{
        .flex{
            display: flex;
            .img-container{
                padding: rem(70) rem(20) 0 0;
                display: block;
                img{
                    display: block;
                    width: rem(150);
                    height: auto;
                }
            }
        }
    }
    .partenaire{
        margin-bottom: rem(40);
        padding-bottom: rem(40);
        border: none;
        display: flex;
        max-width: rem(925);
        img{
            width: 30%;
        }
        .content-container{
            width: 70%;
            margin-left: rem(50);
        }
        h2{
            text-align: center;
        }
    }
}
