// TABLET
@media (min-width: 768px) {
    .hero-header{
        .hero-wrapper{
            margin: auto;
            padding-top: rem(120);
            h2{
                font-size: em(50);
            }
            p{
                font-size: em(18);
            }
            #search{
                width: 80%;
                margin-top: rem(30);
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    #how{
        .howit{
           display: flex;
           justify-content: space-around;
           .block{
               width: calc(33% - 30px);
           }
        }
    }
    #activities{
        padding-bottom: rem(60);
        .act-container{
            width: 90%;
            max-width: 1280px;
            margin: 0 auto;
            .full-width-act{
                .block-act{
                    border-radius: 4px;
                    margin: rem(20) 0;
                    .background{
                    }
                    p{
                        font-size: em(28);
                    }
                }
            }
            .half-width-act{
                display: flex;
                justify-content: space-between;
                .block-act{
                    border-radius: 4px;
                    width: calc(50% - 10px);
                    height: 320px;
                    p{
                        font-size: em(28);
                    }
                }
                
            }
        }
    }
    #last-users{
        .last-users{
            display: flex;
            justify-content: space-around;
            .block-last-user{
                color: $dark;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    width: rem(150);
                    height: rem(150);
                    border-radius: 50%;
                    margin-bottom: rem(20);
                }
                .name{
                    font-weight: $fw-bold;
                    font-size: em(20);
                    margin-bottom: rem(10);
                }
                p:last-child{
                    font-size: em(18);
                }
            }
        }
    }
    #news{
        .news{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .article{
                width: calc(50% - 10px);
                height: 100%;
                img{
                    border-radius: 4px;
                }
            &:last-child {
                margin-left: auto;
                margin-right: auto;
            }
            }
        }
    }
    #testimonials{
        padding-bottom: rem(60);
        .users-testimonials{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .block-testi{
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
            blockquote{
                width: 80%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    #footer{
        padding: 0;
        .footer-elems{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: rem(50) 0;
            .logo-footer{
                padding-top: 0;
            }
            .contact{
                padding: 0;
            }
            
        }
    }
    .separator{
        width: 280%;
    }
    .sign-side{
        display: block;
        width: 40%;
        min-height: 100vh;
        background: url(../images/aside_subscribe.jpg);
        background-size: cover;
        background-position-x: 72%;
        position: relative;
        &.left{
            float: left;
        }
        &.right{
            float: right;
        }
    }
    #sign-up{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        min-height: 100vh;
        height: 100vh;
        position: relative;
        #logo-header{
            display: none;
        }
        .copyright{
            font-size: em(14);
        }
        .return-link{
            display: flex;
            color: $blue1;
            font-size: em(18);
            width: rem(100);
            margin: rem(16);
            .return{
                width: rem(25);
                height: rem(25);
            }
        }
        .sign-up-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 85%;
            padding: 0;
            .tt-01{
                font-size: em(38);
            }
            input[type='submit']{
                margin-top: rem(20);   
            }
            input[name='name']{
                text-transform: uppercase;
            }
            input[name='nickname']{
                text-transform: capitalize;
            }
            .sign-in{
                padding-bottom: rem(15);
                padding-top: 0;
            }
        }
    }
}
