/* =============================================================================
   BASE
   ========================================================================== */

/* ---- base ---- */
*,
:before,
:after{
  box-sizing: border-box;
}
html,body{
  background: $white;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font-family: $font;
  color: $dark-grey;
  &.menu-open{
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

canvas{
  display:block;
  vertical-align:bottom;
}
.wrapper{
  padding-left: 20px;
  padding-right: 20px;
}
.container{
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}
section{
  padding: rem(50) 0;
  position: relative;
  &.white{
    background-color: $white;
  }
  &.blue{
    background-color: $blue1;
  }
  &.light{
    background-color: $light;
  }
}
.tt-01{
  font-size: em(38);
  text-align: center;
  padding-bottom: rem(50);
  font-weight: $fw-reg;
  text-rendering: optimizelegibility;
  letter-spacing: 1px;
  .blue &{
    color: $white;
  }
}
.tt-02{
  text-align: center;
  margin-bottom: rem(20);
  font-size: em(24);
  .blue &{
    color: $white;
  }
}
.btn-01{
  font-size: 19px;
  line-height: 15px;
  color: #ffffff;
  border-radius: 4px;
  border: 0px;
  background-color: $blue1;
  width: 100%;
  height: rem(50);
  justify-content: center;
  align-items: center;
  display: inline-flex;
  white-space: nowrap;
  cursor: pointer;
  font-family: $font;
  -webkit-appearance: none;
  &:hover{
    background-color: #68abd6;
  }
  &.more{
    width: rem(240);
  }
}
.btn-more{
  display: flex;
  justify-content: center;
  align-content: center;
}
.shadow{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.2s;
  z-index: 4;
  &.light{
    background-color: rgba($dark, $alpha: 0.3);
  }
  &.dark{
    background-color: rgba($dark, $alpha: 0.6);
  }
}
.separator{
  position: absolute;
  width: 100%;
  &.clouds{
    width: 350%;
  }
  &.top{
    top: 0;
    left: 0;
  }
  &.bottom{
    bottom: 0;
    right: 0;
  }
  &.white{
    path {
      fill: $white;
    }
  }
  &.blue{
    path {
      fill: $blue1;
    }
  }
  &.light{
    path {
      fill: $light;
    }
  }
  &.rev{
    transform: rotate(180deg);
  }
}

select,
input,
textarea{
    outline: none;
    font-size: 15px;
    line-height: 24px;
    color: #484848;
    background-color: $white;
    border: 1px solid rgba($dark, $alpha: 0.2);
    height: 100%;
    width: 100%;
    font-weight: normal;
    text-overflow: ellipsis;
    border-radius: 4px;
    padding-left: rem(10);
    position: relative;
    appearance: none;
    -webkit-appearance: none;
    font-family: $font;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    background: url("data:image/svg+xml;utf8,<svg fill='#666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/> <path d='M0-.75h24v24H0z' fill='none'/> </svg>") $white;
    background-size: rem(25);
    background-position: 98% 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}
input[type="file"]{
  border: none;
  padding: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $placeholder;
  opacity: 1; /* Firefox */
  font-weight: $fw-sb;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $placeholder;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $placeholder;
}

.logo-sign{
  font-size: em(24);
  color: $white;
  font-weight: $fw-bold;
  text-align: center;
}
.breadcrumbs{  
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  .breadcrumbs-item{
    display: inline-block;
    position: relative;
    padding-right: rem(24);
    margin-right: rem(8);
    color: $dark;
    &::after{
      content: "/";
      width: rem(16);
      height: rem(16);
      line-height: 1;
      text-align: center;
      font-family: "Arial", sans-serif;
      font-size: em(18);
      color: inherit;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    &.active{
      margin-right: 0;
      padding-right: 0;
      color: $blue1;
      font-weight: $fw-bold;
      &::after{
        display: none;
      }
    }
  }
  .breadcrumbs-element{
    color: inherit;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  animation-name: scale;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
  .modal-container{
    width: 100%;
    height: 100%;
    max-width: rem(930);
    max-height: rem(700);
  }
  @keyframes scale{
    from { 
      opacity: 0;
    }
    to {
      opacity: 1.0;
    }
  }
}

a{
  cursor: pointer;
}