.sign-side{
    display: none;
}
.form-ctn{
    min-height: 100vh;
    background-color: $white;
    #logo-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: rem(80);
        background-color: $blue1;
        .return{
            width: rem(20);
            height: rem(20);
            display: block;
        }
        &:after{
            content: '';
            flex-basis: auto;
        }
    }
    .copyright{
        text-align: center;
        color: $dark;
        opacity: 0.8;
        padding: rem(30) 0;
        background-color: $light;
        font-size: em(14);
        line-height: 1.2;
    }
    .return-link{
        display: none;
    }
    .sign-up-container{
        padding: rem(0) rem(15) rem(40) rem(15);
        .error{
            font-style: italic;
            color: $red1;
            text-align: center;
            padding-bottom: rem(30);
        }
        .tt-01{
            padding: rem(30) 0;
            font-size: em(26);
        }
        .mandatory{
            color: $red1;
            margin-bottom: rem(20);
            text-align: right;
            font-style: oblique;
        }
        label{
            color: $dark-grey;
            font-size: em(15);
            margin-bottom: rem(5);
            span{
                font-size: em(18);
                color: $red1;
            }
        }
        .sign-in{
            text-align: center;
            padding-top: rem(15);
            a{
                color: $blue1;
            }
        }
        input,
        select{
            height: rem(48);
            margin-top: rem(2);
            margin-bottom: rem(10);
        }
        input[type='submit']{
            margin: rem(20) auto;
            display: block;
            width: 50%;    
        }
        input[name='name']{
            text-transform: uppercase;
        }
        input[name='nickname']{
            text-transform: capitalize;
        }
        #success-cf,
        #success-reg{
            margin-top: rem(20);
            display: none;
            color: #155724;
            background-color: #d4edda;
            padding: rem(12) rem(20);
            align-self: center;
            border-radius: rem(4);
        }
    }
}