#cookies{
    padding: 0 rem(20);
    background-color: $blue1;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    height: rem(150);
    justify-content: center;
    max-height: rem(300);
        p{
        color: $white;
        font-weight: $fw-reg;
        line-height: 1.2;
        text-align: center;
        a{
            color: $white;
            font-weight: $fw-bold;
        }
    }
    .accept{
        display: flex;
        justify-content: center;
        align-items: center;
        .btn-01{
            background-color: $white;
            color: $blue1;
            height: rem(40);
            width: rem(100);
            margin-top: rem(15);
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.hero-header{
    width: 100%;
    height: rem(600);
    position: relative;
    overflow: hidden;
    #slideshow{
        .hero-media{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        img:nth-of-type(1) {
            animation-name: fader;
            animation-delay: 10s;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            z-index: 3;
        }
        img:nth-of-type(2) {
            z-index: 2;
        }
        img:nth-of-type(n+3) {
            display: none;
        }
        @keyframes fader{
            from { 
                opacity: 1.0;
                transform: scale(1.0);
            }
            to {
                opacity: 0.0;
                transform: scale(1.2);
            }
        }
    }
    .hero-wrapper{
        padding-top: rem(100);
        padding-right: rem(15);
        padding-left: rem(15);
        text-align: center;
        position: relative;
        z-index: 5;
        h2{
            font-size: em(32);
            font-weight: $fw-reg;
            text-rendering: optimizelegibility;
            line-height: 1.15;
            color: $white;
        }
        p{
            padding: rem(12.5);
            color: $white;
            font-weight: $fw-reg;
            text-rendering: optimizelegibility;
            line-height: 1.4;
            font-size: em(15);
        }
        #search{
            font-size: 19px;
            line-height: 24px;
            background-color: rgba($dark, 0.25);
            border-radius: 4px;
            padding: 10px;
            display: table;
            table-layout: fixed;
            height: 42px;
            position: relative;
            box-shadow: 0 2px 5px rgba($dark,0.25);
            margin-top: rem(10);
            width: 100%;
            .form-group{
                margin-bottom: rem(10);
                height: rem(50);
            }
        }
        .search-more{
            margin-top: rem(30);
            width: 100%;
            display: block;
            margin-left: auto;
            margin-right: auto;
            a{
                color: $white;
                font-size: em(17);
                border-bottom: 1px solid $white;
                transition: 0.2s;
                &:hover{
                    opacity: 0.6;
                }
            }
        }
    }
}
#navigation{
    height: rem(70);
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    line-height: rem(70);
    transition: 0.4s;
    .brand{
        z-index: 90;
        h1{
            font-size: em(20);
            color: $white;
            font-weight: $fw-bold;
        }
    }
    .toggle{
        display: block;
        width: rem(24);
        height: rem(4);
        background-color: $white;
        border-radius: 1px;
        z-index: 200;
        &::before,
        &::after{
            content: '';
            position: absolute;
            width: rem(24);
            height: rem(4);
            background-color: $white;
            transition: all 0.2s linear;
        }
        &::after{
            margin-top: 7px;
        }
        &::before{
            margin-top: -7px;
        }
        &.close{
            background-color: transparent;
            transition-delay: all 0.2s linear;
            &::after{
                margin: 0;
                transform: rotateZ(45deg);
            }
            &::before{
                transform: rotateZ(-45deg);
                margin: 0;
            }
        }
    }
    .desktop-menu{
        display: none;
    }
    &.white{
        background-color: $white;
        border-bottom: 1px solid #efefef;
        .brand{
            h1{
                color: $dark;
            }
        }
        .desktop-menu{
            a{
                color: $dark;
            }
        }
        .toggle{
            background-color: $dark;
            &::before,
            &::after{
                background-color: $dark;
            }
            &.close{
                background-color: transparent;
                transition-delay: all 0.2s linear;
                &::after{
                    margin: 0;
                    background-color: $white;
                    transform: rotateZ(45deg);
                }
                &::before{
                    transform: rotateZ(-45deg);
                    background-color: $white;
                    margin: 0;
                }
            }
        }
    }
}
.mobile-menu{
    position: fixed;
    top: 0;
    right: -300px;
    width: rem(300);
    max-width: 80%;
    height: 100%;
    background-color: $blue1;
    z-index: 90;
    transition: all 0.2s linear;
    &.active{
        right: 0;
    }
    .lm-mobile{
        padding: rem(100) rem(30) 0 rem(30);
        li{
            margin: 0;
            padding: 0;
            
            a{
                padding: 5px;
                margin-bottom: rem(20);
                display: block;
                color: $white;
                font-size: em(20);
                letter-spacing: 0.125px;
            }
        }
    }
}