#how{
    padding-bottom: 0;
    .howit{
       .block{
           text-align: center;
           img{
               width: rem(120);
               height: rem(120);
               display: block;
               margin: 0 auto;
               padding-bottom: rem(20);
           }
           .block-t{
               margin-bottom: rem(30);
           }
        }
    }
}
#activities{
    padding-top: rem(80);
    .act-container{
        width: 90%;
        max-width: 1280px;
        margin: 0 auto;
        .full-width-act{
            .block-act{
                border-radius: 4px;
                margin-bottom: rem(7.5);
            }
        }
        .half-width-act{
            display: flex;
            justify-content: space-between;
            .block-act{
                border-radius: 4px;
                width: calc(50% - 5px);
                margin-bottom: rem(rem(7.5));
            }
            
        }
        .full-width-act,
        .half-width-act{
            .block-act{
                position: relative;
                height: 200px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                .background{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: 0.4s;
                }
                .flex-sp{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .picto{
                        width: rem(40);
                        z-index: 5;
                        transition: 0.4s;
                        margin-bottom: rem(10);
                    }
                    p{
                        color: $white;
                        font-size: em(20);
                        font-weight: $fw-reg;
                        transition: 0.4s;
                        z-index: 6;
                        padding-bottom: 3px;
                        border-bottom: 3px solid $white;
                        border-radius: 4px;
                    }
                }
            }
        }
    }
    .btn-more{
        margin-top: rem(40);
    }
}
#stats{
    padding-bottom: 0;
    .stats{
        padding-bottom: rem(60);
       .block-stat{
           text-align: center;
           .stat-number{
               color: $white;
               font-size: em(46);
               padding-bottom: rem(20);
               text-shadow: 2px 0px 2px rgba($dark , .3);
           }
           .stat-desc{
               margin: 0 auto rem(10) auto;
               color: $white;
               text-shadow: 2px 0px 2px rgba($dark , .3);
               width: 80%;
               font-size: rem(18);
               font-style: italic;
               position: relative;
               .declare{
                   color: $white;
                   text-decoration: underline;
                   cursor: pointer;
               }
               &.popin{
                   img{
                       display: inline-block;
                       width: rem(25);
                   }
               }
           }
        }
    }
}
#news{
    .news{
        .article{
            color: $dark;
            display: block;
            margin-bottom: rem(50);
            overflow: hidden;
            -webkit-box-shadow: 0px 0px 30px -6px rgba(194,194,194,1);
            -moz-box-shadow: 0px 0px 30px -6px rgba(194,194,194,1);
            box-shadow: 0px 0px 30px -6px rgba(194,194,194,1);
            background: white;
            border-radius: 4px;
            position: relative;
            margin-left: rem(5);
            margin-right: rem(5);
            // border: 2px double rgba($blue1, $alpha: 0.2);
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-bottom: rem(20);
            }
            .btn-sm{
                height: 50px;
                padding: 0;
                background-color: $white;
                width: 50px;
                z-index: 10;
                float: right;
                border-radius: 50%;
                box-shadow: 0px 0px 30px -6px $dark;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
                margin-top: -50px;
                position: relative;
                .return{
                    display: block;
                    width: 20px;
                    height: 20px;
                    transform: rotate(180deg);
                    margin: 0;
                }
            }
            h3{
                margin-left: rem(10);
                margin-bottom: rem(10);
                font-size: em(22);
            }
            .date{
                margin-left: rem(35);
                position: relative;
                font-style: italic;
                color: $dark-grey; 
                &::before{
                    content: "";
                    width: rem(15);
                    height: rem(1);
                    background-color: $dark-grey;
                    position: absolute;
                    left: rem(-20);
                    top: 50%;
                    margin-right: 20px;
                }
            }
            p:last-child{
                padding: rem(20) rem(10) rem(20) rem(10);
                line-height: 1.2;
                .see-more{
                    display: inline;
                    color: $blue1;
                }
            }
        }
    }
    .btn-more{
        margin-top: rem(40);
    }
}
#last-users{
    padding-top: rem(130);
    .last-users{
        .block-last-user{
            color: $dark;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: rem(40);
            img{
                width: rem(200);
                height: rem(200);
                margin-bottom: rem(20);
                object-fit: cover;
            }
            .name{
                font-weight: $fw-bold;
                font-size: em(20);
                margin-bottom: rem(10);
            }
            p:last-child{
                font-size: em(18);
            }
        }
    }
}
#testimonials{
    padding-bottom: rem(10);
    .users-testimonials{
        .block-testi{
            position: relative;
            width: 100%;
            // -webkit-box-shadow: 0px 0px 30px -6px rgba(194,194,194,1);
            // -moz-box-shadow: 0px 0px 30px -6px rgba(194,194,194,1);
            // box-shadow: 0px 0px 30px -6px rgba(194,194,194,1);
            margin-bottom: rem(30);
            // padding: rem(20);
            // background-color: $white;
            margin-left: rem(5);
            margin-right: rem(5);
            &:last-child{
                margin-bottom: 0;
            }
        }
        .quote{
            position: absolute;
            display: block;
            width: rem(30);
            height: rem(30);
            left: 10%;
            top: 0;
            transform: rotate(180deg);
            // margin: 0 auto;
        }
        .quoter{
            width: rem(50);
            height: rem(50);
            display: block;
            margin: 0 auto;
            border-radius: 50%;
        }
        blockquote{
            text-align: center;
            padding: rem(30) rem(15);
            background-color: rgba($blue1, $alpha: 0.3);
            border-radius: 4px;
            margin-top: rem(10);
            margin-bottom: rem(20);
        }
        p{
            text-align: center;
            line-height: 20px;
            font-weight: $fw-bold;
            padding-top: rem(10);
            
        }
    }
}
.pac-logo::after{
    display: none;
}

.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow: visible;
    position: relative;
    z-index: 1;
    li{
        margin: 0 rem(10);
        width: rem(16);
        height: rem(16);
        position: relative;
        cursor: pointer;
        display: block;
        padding: 0;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        button{
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            background-color: rgba($blue1, $alpha: 0.3);
            position: absolute;
            transition: transform 0.3s ease, background-color 0.3s ease;
            border: none;
            text-indent: -999em;
            outline: none;
            appearance: none;
            -webkit-appearance: none;
            padding: 0;
            .blue &{
                background-color: rgba($white, $alpha: 0.3);
            }
        }
        &.slick-active{
            button{
                transform: scale(1.2);
                background-color: $blue1;
                .blue &{
                    background-color: $white;
                }
            }
        }
    }
}
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
