#profil-page{
    padding: rem(90) 0 rem(30) 0;
    background-color: $white;
    .block-pro{
        background-color: $white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: rem(10);
        display: flex;
        flex-direction: column;
        margin-bottom: rem(20);
        .name-container{
            margin-bottom: rem(20);
            h2{
                margin: 0 0 rem(15);
                font-size: em(36);
                text-transform: uppercase;
                line-height: 1.1;
                font-weight: 500;
                color: $blue1;
            }
            .d-flex{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;            }
            p{
                line-height: 19px;
                text-align: left;
            }
            .hours-days{
                display: flex;
                .hours,
                .days{
                    width: rem(35);
                    height: rem(35);
                    margin-right: 5px;
                    display: block;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
        h2{
            text-transform: uppercase;
            color: $blue1;
            font-weight: $fw-bold;
            font-size: em(14);
            margin-bottom: rem(10)
        }
        .menu{
            padding: rem(10);
            border-radius: 10px;
            border: 1px solid $blue1;
            .presta{
                display: flex;
                width: 100%;
                margin-bottom: rem(10);
                padding-bottom: rem(10);
                border-bottom: $grey solid 1px;
                .p-name{
                    display: flex;
                    width: 80%;
                    align-items: center;
                }
                .price{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 20%;
                    font-size: em(18);
                    color: $blue1;
                    font-weight: $fw-sb;
                    span{
                        display: inline-block;
                        font-weight: $fw-reg;
                        font-size: em(12);
                    }
                }
                &:last-child{
                    margin-bottom: 0;
                    border: none;
                    padding-bottom: 0;
                }
            }
        }
        .cta{
            display: flex;
            justify-content: space-between;
            margin: rem(20) 0;
            flex-wrap: wrap;
            a{
                width: calc(50% - 5px);
                text-transform: uppercase;
                font-size: em(12);
                img{
                    float: left;
                    width: rem(20);
                    margin-right: rem(10);
                }
            }
        }
        .description{
            h2{
                text-transform: uppercase;
                color: $blue1;
                font-weight: $fw-bold;
                font-size: em(14);
                margin-bottom: rem(10)
            }
            p{
                margin-bottom: rem(10);
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .left-side{
            .avatar{
                width: 100%;
                height: auto;
                display: block;
                // object-fit: cover;
                margin: rem(20) auto;
                max-width: 100%;
            }
            .socials{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-top: rem(10);
                margin-bottom: rem(5);
                a{
                    img{
                        width: rem(20);
                        margin-bottom: rem(5);
                    }
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
            .block-flex{
                display: flex;
                width: 100%;
                flex-wrap: wrap;
                img{
                    margin-bottom: rem(10);
                    display: block;
                    width: rem(20);
                    height: rem(20);
                    margin-right: rem(10);
                }
                p{
                    font-weight: $fw-sb;
                    line-height: 1.1;
                    word-break: break-all;
                }
            }
            .flex-center{
                display: flex;
                justify-content: center;
                margin-top: rem(10);
                a{
                    width: calc(50% - 5px);
                    text-transform: uppercase;
                    font-size: em(12);
                    img{
                        float: left;
                        width: rem(20);
                        margin-right: rem(10);
                    }
                }
            }
            .status{
                font-weight: $fw-sb;
                color: $dark;
                text-align: center;
                margin: rem(20) 0;
            }
            .info{
                display: flex;
                margin-bottom: rem(15);
                img{
                    display: block;
                    width: rem(20);
                    height: rem(20);
                    margin-right: rem(10);
                }
                p,
                a{
                    line-height: 1.3;
                }
                a{
                    color: $dark;
                    word-break: break-all;
                }
            }
            hr{
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                border-radius: 4px;
                border-top: 2px solid rgba($grey, 0.5);
            }
            .competences,
            .objectifs{
                margin-top: rem(20);
                h2{
                    text-transform: uppercase;
                    color: $blue1;
                    font-weight: $fw-bold;
                    font-size: em(14);
                    margin-bottom: rem(10)
                }
                li{
                    img{
                        width: rem(20);
                        margin-right: rem(10);
                        display: inline;
                    }
                }
                .info{
                    display: flex;
                    margin-bottom: rem(5);
                    img{
                        display: block;
                        width: rem(15);
                        height: rem(15);
                        margin-right: rem(10);
                    }
                    p,
                    a{
                        line-height: 1.3;
                    }
                    a{
                        color: $dark;
                        word-break: break-all;
                    }
                    &:first-child{
                        margin-top: rem(10);
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .surname-i,
        .name-i{
            word-break: break-all;
            text-align: center;
            font-size: em(24);
        }
        .name-i{
            font-weight: $fw-sb;
            text-transform: uppercase;
        }
        .title{
            color: $blue1;
            font-weight: $fw-bold;
            text-align: left;
            margin-bottom: rem(20);
        }
        .name{
            font-weight: $fw-bold;
            text-align: left;
            margin-bottom: rem(10);
            display: flex;
            justify-content: space-between;
            .locate{
                color: $blue1;
                display: inline-block;
            }
        }
        .resume{
            margin-top: rem(10);
            text-align: center;
        }
    
        .label{
            color: $blue1;
            font-weight: 600;
            display: block;
            margin-right: rem(10);
        }
        &.diplomes{
            img{
                width: 100%;
                max-width: 100%;
                object-fit: cover;
                max-height: rem(200);
                cursor: pointer;
            }
        }
        &.complement{
            .block-complement{
                margin-bottom: rem(25);
                .icon-title{
                    display: flex;
                    margin-bottom: rem(5);
                    img{
                        display: block;
                        width: rem(25);
                        height: rem(25);
                        margin-right: rem(10);
                    }
                    h3{
                        display: inline-flex;
                        align-items: center;
                        font-size: em(18);
                        font-weight: $fw-sb;
                    }
                }
                p{
                    margin-left: rem(35);
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    .informations{
        .map-ctn{
            img,
            iframe{
                width: 100%;
                max-height: rem(250);
            }
        }
        .diplomes{
            .slick-dots{
                margin-top: rem(20);
            }
        }
    }

    .com{
        $unchecked-star: '\2606';
        $unchecked-color: $grey;
        $checked-star: '\2605';
        $checked-color: $blue1;
        outline: none;

        .star-cb-group {
        margin-left: rem(10);
        font-size: 0;
        * {
            font-size: 1rem;
        }
        unicode-bidi: bidi-override;
        direction: rtl;
        margin-right: auto;
        & > input {
            display: none;
            & + label {
            display: inline-block;
            overflow: hidden;
            text-indent: 9999px;
            width: 1em;
            white-space: nowrap;
            cursor: pointer;
            &:before {
                display: inline-block;
                text-indent: -9999px;
                content: $unchecked-star;
                color: $unchecked-color;
            }
            }
            &:checked ~ label:before,
            & + label:hover ~ label:before,
            & + label:hover:before {
            content: $checked-star;
            color: $blue1;
            text-shadow: 0 0 1px $blue1;
            }
        }
        
        & > .star-cb-clear + label {
            text-indent: -9999px;
            width: .5em;
            margin-left: -.5em;
        }
        & > .star-cb-clear + label:before {
            width: .5em;
        }

        &:hover > input + label:before {
            content: $unchecked-star;
            color: $unchecked-color;
            text-shadow: none;
        }
        &:hover > input + label:hover ~ label:before,
        &:hover > input + label:hover:before {
            content: $checked-star;
            color: $checked-color;
            text-shadow: 0 0 1px $blue1;
        }
        }

        legend{
            color: $white;
            padding: rem(5);
            background-color: $blue1;
            border-radius: 4px;
            margin-bottom: rem(10);
            width: 100%;
            text-align: center;
        }
        .comment{
            padding: 2px;
            margin-bottom: rem(20);
            .comment-head{
                display: flex;
                justify-content: space-between;
                margin-bottom: rem(5);
                .com-name{
                    font-weight: $fw-bold;
                }
                .stars{
                    span{
                        color: $blue1;
                    }
                }
            }
            .date{
                font-size: em(12);
                text-transform: uppercase;
                color: $blue1;
                margin-bottom: rem(10);
                font-weight: $fw-bold;
            }
        }
        .comment-form{
            margin-top: rem(20);
            .form-group{
                display: flex;
                align-items: center;
                margin-bottom: rem(10);
                justify-content: space-between;
                input{
                    width: 80%;
                    padding: rem(5);
                }
            }
        }
    }
}
.pagination{margin: auto; text-align: center;}
.pagination .disabled{display:none;}
.pagination .active{display:inline-block;}
.pagination ul li{display:inline-block; padding:2px;}
.pagination ul li a{color:#70b7e5; font-weight:600; text-decoration: none;}
.com hr{margin: 0.8em 0;}

  .legend{
      margin-bottom: rem(10);
      .agenda{
          display: inline-block;
          vertical-align: middle;
          margin-left: rem(10);
          width: rem(20);
          height: rem(20);
          background-color: #32cdba;
      }
  }
  .fc-calendar-container {
	position: relative;
	height: 400px;
	width: 400px;
}

.fc-calendar {
	width: 100%;
	height: 100%;
}

.fc-calendar .fc-head {
	height: 30px;
	line-height: 30px;
	background: #ccc;
	color: #fff;
}

.fc-calendar .fc-body {
	position: relative;
	width: 100%;
	height: 100%;
	height: -moz-calc(100% - 30px);
	height: -webkit-calc(100% - 30px);
	height: calc(100% - 30px);
}

.fc-calendar .fc-row {
	width: 100%;
	border-bottom: 1px solid #ddd;
}

.fc-four-rows .fc-row  {
	height: 25%;
}

.fc-five-rows .fc-row  {
	height: 20%;
}

.fc-six-rows .fc-row {
	height: 16.66%;
	height: -moz-calc(100%/6);
	height: -webkit-calc(100%/6);
	height: calc(100%/6);
}

.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
	float: left;
	height: 100%;
	width:  14.28%; /* 100% / 7 */
	width: -moz-calc(100%/7);
	width: -webkit-calc(100%/7);
	width: calc(100%/7);
	position: relative;
}

/* IE 9 is rounding up the calc it seems */
.ie9 .fc-calendar .fc-row > div,
.ie9 .fc-calendar .fc-head > div {
	width:  14.2%;
}

.fc-calendar .fc-row > div {
	border-right: 1px solid #ddd;
	padding: 4px;
	overflow: hidden;
	position: relative;
}

.fc-calendar .fc-head > div {
	text-align: center;
}

.fc-calendar .fc-row > div > span.fc-date {
	position: absolute;
	width: 30px;
	height: 20px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 700;
	color: #ddd;
	text-shadow: 0 -1px 0 rgba(255,255,255,0.8);
	bottom: 5px;
	right: 5px;
	text-align: right;
}

.fc-calendar .fc-row > div > span.fc-weekday {
	padding-left: 5px;
	display: none;
}

.fc-calendar .fc-row > div.fc-today {
	background: #70b7e5;
}

.fc-calendar .fc-row > div.fc-today > span.fc-date{
	color: #ffffff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.fc-calendar .fc-row > div.fc-out {
	opacity: 0.6;
}

.fc-calendar .fc-row > div:last-child,
.fc-calendar .fc-head > div:last-child {
	border-right: none;
}

.fc-calendar .fc-row:last-child {
	border-bottom: none;
}
/* Custom calendar elements */

.custom-calendar-wrap {
	margin: 10px auto;
	position: relative;
	overflow: hidden;
}

.custom-inner {
	background: #fff;
	border-radius: 4px;
}

.custom-inner:before,
.custom-inner:after  {
	content: '';
	width: 99%;
	height: 50%;
	position: absolute;
	background: #f6f6f6;
	bottom: -4px;
	left: 0.5%;
	z-index: -1;
}

.custom-inner:after {
	content: '';
	width: 98%;
	bottom: -7px;
	left: 1%;
	z-index: -2;
}

.custom-header {
	background: #fff;
	padding: 5px 10px 10px 20px;
	position: relative;
}

.custom-header h2,
.custom-header h3 {
	text-align: center;
	text-transform: uppercase;
}

.custom-header h2 {
	color: #495468;
	font-weight: 300;
	font-size: 18px;
	margin-top: 10px;
}

.custom-header h3 {
	font-size: 10px;
	font-weight: 700;
	color: #b7bbc2;
}

.custom-header nav span {
	position: absolute;
	top: 10px;
	width: 30px;
	height: 30px;
	color: transparent;
	cursor: pointer;
	margin: 0 1px;
	font-size: 16px;
	line-height: 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-header nav span:first-child {
	left: 5px;
}

.custom-header nav span:last-child {
	right: 5px;
}

.custom-header nav span:before {
	font-family: 'fontawesome-selected';
	color: #70b7e5;
	position: absolute;
	text-align: center;
	width: 100%;
}

.custom-header nav span.custom-prev:before {
	content: '\25c2';
}

.custom-header nav span.custom-next:before {
	content: '\25b8';
}

.custom-header nav span:hover:before {
	color: #495468;
}

/* Modifications */

.fc-calendar-container {
	height: 251px;
	width: auto;
	background: #f5f6f5;
}

.fc-calendar .fc-head {
	background: #fff;
	color: #70b7e5;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
}

.fc-calendar .fc-row > div {
	background: #fff;
}

.fc-calendar .fc-row > div:empty {
	background: transparent;
}

.fc-calendar .fc-row > div > span.fc-date {
	top: 50%;
	left: 50%;
	text-align: center;
	margin: -10px 0 0 -15px;
	color: #686a6e;
	font-weight: 400;
	pointer-events: none;
}

.fc-calendar .fc-row > div.fc-avail {
	background: #32cdba;
}

.fc-calendar .fc-row > div.fc-avail > span.fc-date {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.fc-calendar .fc-row > div.fc-content:after {
	content: '\00B7';
	text-align: center;
	width: 20px;
	margin-left: -10px;
	position: absolute;
	color: #DDD;
	font-size: 70px;
	line-height: 20px;
	left: 50%;
	bottom: 3px;
}

.fc-calendar .fc-row > div.fc-avail.fc-content:after {
	color: #b02c42;
}

.fc-calendar .fc-row > div.fc-content:hover:after{
	color: #ef4f69;
}

.fc-calendar .fc-row > div.fc-avail.fc-content:hover:after{
	color: #fff;
}

.fc-calendar .fc-row > div > div a,
.fc-calendar .fc-row > div > div span {
	display: none;
	font-size: 16px;
}

@media screen and (max-width: 400px) {
	.fc-calendar-container {
		height: 250px;
	}
}
@media screen and (min-width: 1200px) {
	.fc-calendar .fc-row > div > span.fc-date {
		font-size: 20px;
	}
	.custom-header h2 {
		font-size: 20px;
	}
	.custom-header h3 {
		font-size: 14px;
	}
}
