@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Domine:400,700');

// POLICES
$font: 'Open Sans', sans-serif;
$font-s: 'Domine', serif;
$fw-light: 300;
$fw-reg: 400;
$fw-sb: 600;
$fw-bold: 700;
$fw-xbold: 800;
$global-font-size: 16px;

@media only screen and (-webkit-min-device-pixel-ratio: 2){
    $global-font-size: 12px;
}

// COULEURS
$dark-grey: #51555a;
$placeholder: #51555a;
$grey: #B7B8B6;
$blue1: #70b7e5;
$blue2: #000080;
$red1: #E74C3C;
$light: #f5f6f5;
$white: #FFFFFF;
$dark: #19181a;
$green: #32CD32;