@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Domine:400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Domine:400,700");
/*
Removes the unit (e.g. px, em, rem) from a value, returning the number only.
@param {Number} $num - Number to strip unit from.
@returns {Number} The same number, sans unit.
*/
/*
Removes the unit (e.g. px, em, rem) from a value, returning the number only.
@param {Number} $num - Number to strip unit from.
@returns {Number} The same number, sans unit.
*/
/*
Converts one or more pixel values into matching rem values.
@param {Number|List} $values - One or more values to convert. Be sure to separate them with spaces and not commas. If you need to convert a comma-separated list, wrap the list in parentheses.

@param {Number} $base [null] - The base value to use when calculating the `rem`. If you're using Foundation out of the box, this is 16px. If this parameter is `null`, the function will reference the `$base-font-size` variable as the base.

@returns {List} A list of converted values.
*/
/*
Converts a pixel value to matching rem value. *Any* value passed, regardless of unit, is assumed to be a pixel value. By default, the base pixel value used to calculate the rem value is taken from the `$global-font-size` variable.
@access private
@param {Number} $value - Pixel value to convert.
@param {Number} $base [null] - Base for pixel conversion.
@returns {Number} A number in rems, calculated based on the given value and the base pixel value. rem values are passed through as is.
*/
/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

li {
  list-style: none; }

/* =============================================================================
   BASE
   ========================================================================== */
/* ---- base ---- */
*,
:before,
:after {
  box-sizing: border-box; }

html, body {
  background: #FFFFFF; }

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

body {
  font-family: "Raleway", sans-serif;
  color: #51555a; }
  body.menu-open {
    position: fixed;
    width: 100%;
    height: 100%; }

canvas {
  display: block;
  vertical-align: bottom; }

.wrapper {
  padding-left: 20px;
  padding-right: 20px; }

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto; }

section {
  padding: 3.125rem 0;
  position: relative; }
  section.white {
    background-color: #FFFFFF; }
  section.blue {
    background-color: #70b7e5; }
  section.light {
    background-color: #f5f6f5; }

.tt-01 {
  font-size: 2.375em;
  text-align: center;
  padding-bottom: 3.125rem;
  font-weight: 400;
  text-rendering: optimizelegibility;
  letter-spacing: 1px; }
  .blue .tt-01 {
    color: #FFFFFF; }

.tt-02 {
  text-align: center;
  margin-bottom: 1.25rem;
  font-size: 1.5em; }
  .blue .tt-02 {
    color: #FFFFFF; }

.btn-01 {
  font-size: 19px;
  line-height: 15px;
  color: #ffffff;
  border-radius: 4px;
  border: 0px;
  background-color: #70b7e5;
  width: 100%;
  height: 3.125rem;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  white-space: nowrap;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  -webkit-appearance: none; }
  .btn-01:hover {
    background-color: #68abd6; }
  .btn-01.more {
    width: 15rem; }

.btn-more {
  display: flex;
  justify-content: center;
  align-content: center; }

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.2s;
  z-index: 4; }
  .shadow.light {
    background-color: rgba(25, 24, 26, 0.3); }
  .shadow.dark {
    background-color: rgba(25, 24, 26, 0.6); }

.separator {
  position: absolute;
  width: 100%; }
  .separator.clouds {
    width: 350%; }
  .separator.top {
    top: 0;
    left: 0; }
  .separator.bottom {
    bottom: 0;
    right: 0; }
  .separator.white path {
    fill: #FFFFFF; }
  .separator.blue path {
    fill: #70b7e5; }
  .separator.light path {
    fill: #f5f6f5; }
  .separator.rev {
    transform: rotate(180deg); }

select,
input,
textarea {
  outline: none;
  font-size: 15px;
  line-height: 24px;
  color: #484848;
  background-color: #FFFFFF;
  border: 1px solid rgba(25, 24, 26, 0.2);
  height: 100%;
  width: 100%;
  font-weight: normal;
  text-overflow: ellipsis;
  border-radius: 4px;
  padding-left: 0.625rem;
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  font-family: "Raleway", sans-serif; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  background: url("data:image/svg+xml;utf8,<svg fill='#666' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/> <path d='M0-.75h24v24H0z' fill='none'/> </svg>") #FFFFFF;
  background-size: 1.5625rem;
  background-position: 98% 50%;
  background-repeat: no-repeat;
  cursor: pointer; }

input[type="file"] {
  border: none;
  padding: 0; }

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #51555a;
  opacity: 1;
  /* Firefox */
  font-weight: 600; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #51555a; }

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #51555a; }

.logo-sign {
  font-size: 1.5em;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center; }

.breadcrumbs {
  list-style: none;
  display: flex;
  flex-wrap: wrap; }
  .breadcrumbs .breadcrumbs-item {
    display: inline-block;
    position: relative;
    padding-right: 1.5rem;
    margin-right: 0.5rem;
    color: #19181a; }
    .breadcrumbs .breadcrumbs-item::after {
      content: "/";
      width: 1rem;
      height: 1rem;
      line-height: 1;
      text-align: center;
      font-family: "Arial", sans-serif;
      font-size: 1.125em;
      color: inherit;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%); }
    .breadcrumbs .breadcrumbs-item.active {
      margin-right: 0;
      padding-right: 0;
      color: #70b7e5;
      font-weight: 700; }
      .breadcrumbs .breadcrumbs-item.active::after {
        display: none; }
  .breadcrumbs .breadcrumbs-element {
    color: inherit; }

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  animation-name: scale;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out; }
  .modal .modal-container {
    width: 100%;
    height: 100%;
    max-width: 58.125rem;
    max-height: 43.75rem; }

@keyframes scale {
  from {
    opacity: 0; }
  to {
    opacity: 1.0; } }

a {
  cursor: pointer; }

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 51%;
  height: 100vh;
  max-height: 100vh;
  background: #70b7e5;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */ }
  #loader-wrapper .loader-section.section-left {
    left: 0; }
    .loaded #loader-wrapper .loader-section.section-left {
      -webkit-transform: translateX(-100%);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(-100%);
      /* IE 9 */
      transform: translateX(-100%);
      /* Firefox 16+, IE 10+, Opera */
      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }
  #loader-wrapper .loader-section.section-right {
    right: 0; }
    .loaded #loader-wrapper .loader-section.section-right {
      -webkit-transform: translateX(100%);
      /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateX(100%);
      /* IE 9 */
      transform: translateX(100%);
      /* Firefox 16+, IE 10+, Opera */
      -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); }

#loader-wrapper #loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 9.375rem;
  height: 9.375rem;
  z-index: 1001;
  -webkit-transform: translate(-50%, -50%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translate(-50%, -50%);
  /* IE 9 */
  transform: translate(-50%, -50%);
  /* Firefox 16+, IE 10+, Opera */ }
  .loaded #loader-wrapper #loader {
    animation: launch 0.6s ease-out forwards; }

.loader #loader-wrapper {
  visibility: hidden;
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out; }

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none; }

@keyframes launch {
  0% {
    -webkit-transform: translate(-50%, -50%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translate(-50%, -50%);
    /* IE 9 */
    transform: translate(-50%, -50%);
    /* Firefox 16+, IE 10+, Opera */ }
  30% {
    -webkit-transform: translate(-50%, 0%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translate(-50%, 0%);
    /* IE 9 */
    transform: translate(-50%, 0%);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: translate(-50%, -600%);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translate(-50%, -600%);
    /* IE 9 */
    transform: translate(-50%, -600%);
    /* Firefox 16+, IE 10+, Opera */
    opacity: 0; } }

#cookies {
  padding: 0 1.25rem;
  background-color: #70b7e5;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  height: 9.375rem;
  justify-content: center;
  max-height: 18.75rem; }
  #cookies p {
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1.2;
    text-align: center; }
    #cookies p a {
      color: #FFFFFF;
      font-weight: 700; }
  #cookies .accept {
    display: flex;
    justify-content: center;
    align-items: center; }
    #cookies .accept .btn-01 {
      background-color: #FFFFFF;
      color: #70b7e5;
      height: 2.5rem;
      width: 6.25rem;
      margin-top: 0.9375rem;
      margin-left: auto;
      margin-right: auto; }

.hero-header {
  width: 100%;
  height: 37.5rem;
  position: relative;
  overflow: hidden; }
  .hero-header #slideshow .hero-media {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover; }
  .hero-header #slideshow img:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 10s;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    z-index: 3; }
  .hero-header #slideshow img:nth-of-type(2) {
    z-index: 2; }
  .hero-header #slideshow img:nth-of-type(n+3) {
    display: none; }

@keyframes fader {
  from {
    opacity: 1.0;
    transform: scale(1); }
  to {
    opacity: 0.0;
    transform: scale(1.2); } }
  .hero-header .hero-wrapper {
    padding-top: 6.25rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    text-align: center;
    position: relative;
    z-index: 5; }
    .hero-header .hero-wrapper h2 {
      font-size: 2em;
      font-weight: 400;
      text-rendering: optimizelegibility;
      line-height: 1.15;
      color: #FFFFFF; }
    .hero-header .hero-wrapper p {
      padding: 0.78125rem;
      color: #FFFFFF;
      font-weight: 400;
      text-rendering: optimizelegibility;
      line-height: 1.4;
      font-size: 0.9375em; }
    .hero-header .hero-wrapper #search {
      font-size: 19px;
      line-height: 24px;
      background-color: rgba(25, 24, 26, 0.25);
      border-radius: 4px;
      padding: 10px;
      display: table;
      table-layout: fixed;
      height: 42px;
      position: relative;
      box-shadow: 0 2px 5px rgba(25, 24, 26, 0.25);
      margin-top: 0.625rem;
      width: 100%; }
      .hero-header .hero-wrapper #search .form-group {
        margin-bottom: 0.625rem;
        height: 3.125rem; }
    .hero-header .hero-wrapper .search-more {
      margin-top: 1.875rem;
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto; }
      .hero-header .hero-wrapper .search-more a {
        color: #FFFFFF;
        font-size: 1.0625em;
        border-bottom: 1px solid #FFFFFF;
        transition: 0.2s; }
        .hero-header .hero-wrapper .search-more a:hover {
          opacity: 0.6; }

#navigation {
  height: 4.375rem;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  line-height: 4.375rem;
  transition: 0.4s; }
  #navigation .brand {
    z-index: 90; }
    #navigation .brand h1 {
      font-size: 1.25em;
      color: #FFFFFF;
      font-weight: 700; }
  #navigation .toggle {
    display: block;
    width: 1.5rem;
    height: 0.25rem;
    background-color: #FFFFFF;
    border-radius: 1px;
    z-index: 200; }
    #navigation .toggle::before, #navigation .toggle::after {
      content: '';
      position: absolute;
      width: 1.5rem;
      height: 0.25rem;
      background-color: #FFFFFF;
      transition: all 0.2s linear; }
    #navigation .toggle::after {
      margin-top: 7px; }
    #navigation .toggle::before {
      margin-top: -7px; }
    #navigation .toggle.close {
      background-color: transparent;
      transition-delay: all 0.2s linear; }
      #navigation .toggle.close::after {
        margin: 0;
        transform: rotateZ(45deg); }
      #navigation .toggle.close::before {
        transform: rotateZ(-45deg);
        margin: 0; }
  #navigation .desktop-menu {
    display: none; }
  #navigation.white {
    background-color: #FFFFFF;
    border-bottom: 1px solid #efefef; }
    #navigation.white .brand h1 {
      color: #19181a; }
    #navigation.white .desktop-menu a {
      color: #19181a; }
    #navigation.white .toggle {
      background-color: #19181a; }
      #navigation.white .toggle::before, #navigation.white .toggle::after {
        background-color: #19181a; }
      #navigation.white .toggle.close {
        background-color: transparent;
        transition-delay: all 0.2s linear; }
        #navigation.white .toggle.close::after {
          margin: 0;
          background-color: #FFFFFF;
          transform: rotateZ(45deg); }
        #navigation.white .toggle.close::before {
          transform: rotateZ(-45deg);
          background-color: #FFFFFF;
          margin: 0; }

.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 18.75rem;
  max-width: 80%;
  height: 100%;
  background-color: #70b7e5;
  z-index: 90;
  transition: all 0.2s linear; }
  .mobile-menu.active {
    right: 0; }
  .mobile-menu .lm-mobile {
    padding: 6.25rem 1.875rem 0 1.875rem; }
    .mobile-menu .lm-mobile li {
      margin: 0;
      padding: 0; }
      .mobile-menu .lm-mobile li a {
        padding: 5px;
        margin-bottom: 1.25rem;
        display: block;
        color: #FFFFFF;
        font-size: 1.25em;
        letter-spacing: 0.125px; }

#footer {
  background-color: #70b7e5;
  padding-top: 3.75rem;
  position: relative; }
  #footer .footer-elems .links {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #footer .footer-elems .links a {
      text-decoration: none;
      color: #FFFFFF;
      margin-bottom: 0.625rem; }
      #footer .footer-elems .links a:last-of-type {
        margin: 0; }
  #footer .footer-elems .logo-footer {
    padding-top: 3.125rem; }
    #footer .footer-elems .logo-footer p {
      font-size: 1.5em;
      color: #FFFFFF;
      font-weight: 700;
      text-align: center; }
  #footer .footer-elems .contact {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    text-align: center; }
    #footer .footer-elems .contact a {
      text-decoration: none;
      color: #FFFFFF; }
    #footer .footer-elems .contact p {
      color: #FFFFFF;
      margin-bottom: 0.625rem;
      font-style: italic; }
      #footer .footer-elems .contact p:last-of-type {
        margin: 0; }
      #footer .footer-elems .contact p:first-of-type {
        margin-top: 1.25rem; }
  #footer .copyright {
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    padding-bottom: 0.625rem;
    line-height: 1.2; }

#how {
  padding-bottom: 0; }
  #how .howit .block {
    text-align: center; }
    #how .howit .block img {
      width: 10rem;
      height: 10rem;
      display: block;
      margin: 0 auto;
      padding-bottom: 1.25rem; }
    #how .howit .block .block-t {
      margin-bottom: 1.875rem; }

#activities {
  padding-top: 5rem; }
  #activities .act-container {
    margin-bottom: 3.125rem; }
    #activities .act-container .full-width-act .block-act,
    #activities .act-container .half-width-act .block-act {
      position: relative;
      width: 100%;
      height: 320px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center; }
      #activities .act-container .full-width-act .block-act .background,
      #activities .act-container .half-width-act .block-act .background {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.4s; }
      #activities .act-container .full-width-act .block-act .picto,
      #activities .act-container .half-width-act .block-act .picto {
        position: absolute;
        width: 3.125rem;
        height: 3.125rem;
        top: 50%;
        right: 50%;
        transform: translate(50%, -60%);
        z-index: 5;
        transition: 0.4s; }
      #activities .act-container .full-width-act .block-act p,
      #activities .act-container .half-width-act .block-act p {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, 120%);
        color: #FFFFFF;
        font-size: 1.75em;
        font-weight: 400;
        transition: 0.4s;
        z-index: 6; }

#news .news .article {
  color: #19181a;
  display: block;
  margin-bottom: 3.125rem;
  overflow: hidden; }
  #news .news .article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 1.25rem; }
  #news .news .article h3 {
    margin-left: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 1.5em; }
  #news .news .article .date {
    margin-left: 2.1875rem;
    position: relative;
    font-style: italic;
    color: #51555a; }
    #news .news .article .date::before {
      content: "";
      width: 0.9375rem;
      height: 0.0625rem;
      background-color: #51555a;
      position: absolute;
      left: -1.25rem;
      top: 50%;
      margin-right: 20px; }
  #news .news .article p:last-child {
    font-size: 1.125em;
    padding: 1.875rem 0.625rem 0 0.625rem; }

#last-users {
  padding-top: 8.125rem; }
  #last-users .last-users .block-last-user {
    color: #19181a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem; }
    #last-users .last-users .block-last-user img {
      width: 9.375rem;
      height: 9.375rem;
      border-radius: 50%;
      margin-bottom: 1.25rem; }
    #last-users .last-users .block-last-user .name {
      font-weight: 700;
      font-size: 1.25em;
      margin-bottom: 0.625rem; }
    #last-users .last-users .block-last-user p:last-child {
      font-size: 1.125em; }

#testimonials {
  padding-bottom: 0.625rem; }
  #testimonials .users-testimonials .block-testi {
    position: relative;
    width: 100%;
    -webkit-box-shadow: 0px 0px 30px -6px #c2c2c2;
    -moz-box-shadow: 0px 0px 30px -6px #c2c2c2;
    box-shadow: 0px 0px 30px -6px #c2c2c2;
    margin-bottom: 1.875rem;
    padding: 1.25rem;
    background-color: #FFFFFF; }
    #testimonials .users-testimonials .block-testi:last-child {
      margin-bottom: 0; }
  #testimonials .users-testimonials .quote {
    display: block;
    width: 1.875rem;
    height: 1.875rem;
    margin: 0 auto; }
  #testimonials .users-testimonials .quoter {
    width: 3.125rem;
    height: 3.125rem;
    display: block;
    margin: 0 auto;
    border-radius: 50%; }
  #testimonials .users-testimonials blockquote {
    text-align: center;
    padding: 0 0.625rem 0 0.625rem;
    padding: 1.875rem 0; }
  #testimonials .users-testimonials p {
    text-align: center;
    line-height: 20px;
    font-weight: 700;
    padding-top: 0.625rem; }

.sign-side {
  display: none; }

.form-ctn {
  min-height: 100vh;
  background-color: #FFFFFF; }
  .form-ctn #logo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    background-color: #70b7e5; }
    .form-ctn #logo-header .return {
      width: 1.25rem;
      height: 1.25rem;
      display: block; }
    .form-ctn #logo-header:after {
      content: '';
      flex-basis: auto; }
  .form-ctn .copyright {
    text-align: center;
    color: #19181a;
    opacity: 0.8;
    padding: 1.875rem 0;
    background-color: #f5f6f5;
    font-size: 0.875em;
    line-height: 1.2; }
  .form-ctn .return-link {
    display: none; }
  .form-ctn .sign-up-container {
    padding: 0 0.9375rem 2.5rem 0.9375rem; }
    .form-ctn .sign-up-container .tt-01 {
      padding: 1.875rem 0;
      font-size: 1.625em; }
    .form-ctn .sign-up-container .mandatory {
      color: #E74C3C;
      margin-bottom: 1.25rem;
      text-align: right;
      font-style: oblique; }
    .form-ctn .sign-up-container label {
      color: #51555a;
      font-size: 0.9375em;
      margin-bottom: 0.3125rem; }
      .form-ctn .sign-up-container label span {
        font-size: 1.125em;
        color: #E74C3C; }
    .form-ctn .sign-up-container .sign-in {
      text-align: center;
      padding-top: 0.9375rem; }
      .form-ctn .sign-up-container .sign-in a {
        color: #70b7e5; }
    .form-ctn .sign-up-container input,
    .form-ctn .sign-up-container select {
      height: 3rem;
      margin-top: 0.125rem;
      margin-bottom: 0.625rem; }
    .form-ctn .sign-up-container input[type='submit'] {
      margin: 1.25rem auto;
      display: block;
      width: 50%; }
    .form-ctn .sign-up-container input[name='name'] {
      text-transform: uppercase; }
    .form-ctn .sign-up-container input[name='nickname'] {
      text-transform: capitalize; }

#article {
  padding-top: 2.5rem; }
  #article .brd {
    padding-bottom: 2.5rem; }
  #article .art-ctn .article-img {
    width: 100%;
    height: 18.75rem; }
    #article .art-ctn .article-img img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  #article .art-ctn .tt-01 {
    padding-top: 1.875rem;
    padding-bottom: 0.625rem; }
  #article .art-ctn .date {
    text-align: center; }
  #article .art-ctn .article-content {
    padding-top: 2.5rem;
    width: 90%;
    margin: 0 auto; }
    #article .art-ctn .article-content p {
      margin-bottom: 1.25rem; }
    #article .art-ctn .article-content a {
      color: #70b7e5;
      font-weight: 700; }

.result-map {
  display: flex;
  flex-direction: column-reverse; }
  .result-map .results-ctn .card-result {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.25rem;
    box-shadow: 0px 0px 10px -1px rgba(25, 24, 26, 0.3);
    margin-bottom: 1.25rem; }
    .result-map .results-ctn .card-result .card-head .avatar {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      display: block;
      margin: 1.25rem auto; }
    .result-map .results-ctn .card-result .card-head .name {
      font-weight: 700;
      text-align: left;
      margin-bottom: 0.625rem;
      display: flex;
      justify-content: space-between; }
      .result-map .results-ctn .card-result .card-head .name .locate {
        color: #70b7e5;
        display: inline-block; }
    .result-map .results-ctn .card-result .card-ctn {
      display: flex;
      flex-direction: column; }
      .result-map .results-ctn .card-result .card-ctn .resume {
        margin-bottom: 0.625rem;
        align-self: center; }
      .result-map .results-ctn .card-result .card-ctn .status {
        font-weight: 700;
        color: #70b7e5;
        margin-bottom: 0.625rem;
        align-self: center; }
      .result-map .results-ctn .card-result .card-ctn .address,
      .result-map .results-ctn .card-result .card-ctn .phone,
      .result-map .results-ctn .card-result .card-ctn .mail {
        display: flex;
        margin-bottom: 0.625rem; }
        .result-map .results-ctn .card-result .card-ctn .address img,
        .result-map .results-ctn .card-result .card-ctn .phone img,
        .result-map .results-ctn .card-result .card-ctn .mail img {
          display: block;
          width: 1.25rem;
          height: 1.25rem;
          margin-right: 1.25rem; }
        .result-map .results-ctn .card-result .card-ctn .address p,
        .result-map .results-ctn .card-result .card-ctn .address a,
        .result-map .results-ctn .card-result .card-ctn .phone p,
        .result-map .results-ctn .card-result .card-ctn .phone a,
        .result-map .results-ctn .card-result .card-ctn .mail p,
        .result-map .results-ctn .card-result .card-ctn .mail a {
          line-height: 1.3;
          word-break: break-all; }
        .result-map .results-ctn .card-result .card-ctn .address a,
        .result-map .results-ctn .card-result .card-ctn .phone a,
        .result-map .results-ctn .card-result .card-ctn .mail a {
          color: #19181a; }
      .result-map .results-ctn .card-result .card-ctn .address {
        margin-top: 0.625rem; }
      .result-map .results-ctn .card-result .card-ctn .mail {
        margin-bottom: 0; }
    .result-map .results-ctn .card-result .btn-more {
      margin-top: 1.25rem; }
      .result-map .results-ctn .card-result .btn-more .btn-01 {
        padding: 0.3125rem;
        height: 2.5rem;
        width: 6.25rem; }
  .result-map iframe {
    width: 100%;
    margin-bottom: 1.25rem;
    box-shadow: 0px 0px 10px -1px rgba(25, 24, 26, 0.3); }

#categories .cat {
  max-width: 59.375rem;
  margin: 0 auto 3.125rem auto; }
  #categories .cat .hr {
    width: 5.625rem;
    height: 0.25rem;
    background-color: #70b7e5; }
  #categories .cat .tt-02 {
    text-transform: capitalize;
    font-size: 1.75em;
    margin-top: 1.5625rem;
    margin-bottom: 0.9375rem;
    line-height: 1.15;
    font-weight: 400;
    text-align: left; }
  #categories .cat .cats {
    margin-top: 1.875rem; }
    #categories .cat .cats .cat-list {
      padding: 0;
      list-style-type: none;
      overflow: hidden; }
      #categories .cat .cats .cat-list .list-item {
        display: inline-block;
        margin-bottom: 0.875rem;
        padding-left: 1.25rem;
        width: 100%;
        font-size: 1.125em;
        word-break: break-all; }
  #categories .cat:nth-last-of-type(odd) .hr {
    margin-left: auto;
    background-color: #3bd800; }
  #categories .cat:nth-last-of-type(odd) .tt-02 {
    text-align: right; }
  #categories .cat:nth-last-of-type(odd) .list-item {
    text-align: right;
    padding-right: 1.25rem; }

.error-page {
  background-color: #70b7e5;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  .error-page .error-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transform: translateY(-5%); }
    .error-page .error-ctn h1 {
      color: #FFFFFF;
      font-size: 10em;
      text-shadow: 2px 0px 2px rgba(25, 24, 26, 0.3); }
    .error-page .error-ctn p {
      color: #FFFFFF;
      text-shadow: 2px 0px 2px rgba(25, 24, 26, 0.3);
      font-size: 1.875em;
      margin-top: 1.25rem;
      letter-spacing: 1.1px; }
    .error-page .error-ctn .btn-01 {
      background: #FFFFFF;
      width: fit-content;
      padding: 0 0.625rem;
      color: #70b7e5;
      margin-top: 1.875rem;
      box-shadow: 2px 3px 5px 0px rgba(25, 24, 26, 0.3);
      transition: all .2s; }
      .error-page .error-ctn .btn-01:hover {
        box-shadow: 0 0 10px 0px rgba(25, 24, 26, 0.6);
        color: #417698; }
  .error-page .cloud, .error-page .cloudshadow {
    width: 350px;
    height: 120px;
    background: #FFFFFF;
    border-radius: 100px;
    position: relative; }
  .error-page .cloud:after, .error-page .cloud:before, .error-page .cloudshadow:after, .error-page .cloudshadow:before {
    content: '';
    position: absolute;
    background: #FFFFFF;
    z-index: 10; }
  .error-page .cloudshadow, .error-page .cloudshadow:after, .error-page .cloudshadow:before {
    margin: 0;
    box-shadow: 2px 3px 5px 0px rgba(25, 24, 26, 0.3);
    z-index: 5;
    position: relative; }
  .error-page .cloud:after, .error-page .cloudshadow:after {
    width: 100px;
    height: 100px;
    top: -50px;
    left: 50px;
    border-radius: 100px; }
  .error-page .cloud:before, .error-page .cloudshadow:before {
    width: 180px;
    height: 180px;
    top: -90px;
    right: 50px;
    border-radius: 200px; }
  .error-page .cloud {
    position: absolute; }
    .error-page .cloud.last {
      bottom: -6.25rem;
      right: 20%; }

#profil-page {
  padding: 5.625rem 0 1.875rem 0;
  background-color: #f5f6f5; }
  #profil-page .infos,
  #profil-page .block-pro {
    background-color: #FFFFFF;
    box-shadow: 2px 3px 5px 0px rgba(25, 24, 26, 0.2);
    border-radius: 4px;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem; }
    #profil-page .infos .surname-i,
    #profil-page .infos .name-i,
    #profil-page .block-pro .surname-i,
    #profil-page .block-pro .name-i {
      word-break: break-all;
      text-align: center;
      font-size: 1.5em; }
    #profil-page .infos .name-i,
    #profil-page .block-pro .name-i {
      font-weight: 600;
      text-transform: uppercase; }
    #profil-page .infos .title,
    #profil-page .block-pro .title {
      color: #70b7e5;
      font-weight: 700;
      text-align: left;
      margin-bottom: 1.25rem; }
    #profil-page .infos .avatar,
    #profil-page .block-pro .avatar {
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      display: block;
      margin: 1.25rem auto 1.25rem auto; }
    #profil-page .infos .name,
    #profil-page .block-pro .name {
      font-weight: 700;
      text-align: left;
      margin-bottom: 0.625rem;
      display: flex;
      justify-content: space-between; }
      #profil-page .infos .name .locate,
      #profil-page .block-pro .name .locate {
        color: #70b7e5;
        display: inline-block; }
    #profil-page .infos .resume,
    #profil-page .block-pro .resume {
      margin-bottom: 0.625rem;
      align-self: center; }
    #profil-page .infos .status,
    #profil-page .block-pro .status {
      font-weight: 700;
      color: #70b7e5;
      align-self: center; }
    #profil-page .infos .cta,
    #profil-page .block-pro .cta {
      display: flex;
      justify-content: space-between;
      margin: 1.25rem 0; }
      #profil-page .infos .cta a,
      #profil-page .block-pro .cta a {
        width: calc(50% - 5px); }
    #profil-page .infos .info,
    #profil-page .block-pro .info {
      display: flex;
      margin-bottom: 0.625rem; }
      #profil-page .infos .info img,
      #profil-page .block-pro .info img {
        display: block;
        width: 1.25rem;
        height: 1.25rem;
        margin-right: 1.25rem; }
      #profil-page .infos .info p,
      #profil-page .infos .info a,
      #profil-page .block-pro .info p,
      #profil-page .block-pro .info a {
        line-height: 1.3; }
      #profil-page .infos .info a,
      #profil-page .block-pro .info a {
        color: #19181a;
        word-break: break-all; }
      #profil-page .infos .info:first-child,
      #profil-page .block-pro .info:first-child {
        margin-top: 0.625rem; }
      #profil-page .infos .info:last-child,
      #profil-page .block-pro .info:last-child {
        margin-bottom: 0; }
    #profil-page .infos .label,
    #profil-page .block-pro .label {
      color: #70b7e5;
      font-weight: 600;
      display: block;
      margin-right: 1.25rem; }
  #profil-page .profil-ctn .description p {
    margin-bottom: 0.625rem; }
    #profil-page .profil-ctn .description p:last-child {
      margin-bottom: 0; }
  #profil-page .profil-ctn .prest .presta {
    display: flex;
    width: 100%;
    margin-bottom: 1.25rem; }
    #profil-page .profil-ctn .prest .presta .p-name {
      display: flex;
      width: 80%;
      align-items: center; }
    #profil-page .profil-ctn .prest .presta .price {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 20%;
      font-size: 1.125em;
      color: #70b7e5;
      font-weight: 600; }
      #profil-page .profil-ctn .prest .presta .price span {
        display: inline-block;
        font-weight: 400;
        font-size: 0.75em; }
  #profil-page .com {
    outline: none; }
    #profil-page .com .star-cb-group {
      margin-left: 0.625rem;
      font-size: 0;
      unicode-bidi: bidi-override;
      direction: rtl;
      margin-right: auto; }
      #profil-page .com .star-cb-group * {
        font-size: 1rem; }
      #profil-page .com .star-cb-group > input {
        display: none; }
        #profil-page .com .star-cb-group > input + label {
          display: inline-block;
          overflow: hidden;
          text-indent: 9999px;
          width: 1em;
          white-space: nowrap;
          cursor: pointer; }
          #profil-page .com .star-cb-group > input + label:before {
            display: inline-block;
            text-indent: -9999px;
            content: "☆";
            color: #B7B8B6; }
        #profil-page .com .star-cb-group > input:checked ~ label:before,
        #profil-page .com .star-cb-group > input + label:hover ~ label:before,
        #profil-page .com .star-cb-group > input + label:hover:before {
          content: "★";
          color: #70b7e5;
          text-shadow: 0 0 1px #70b7e5; }
      #profil-page .com .star-cb-group > .star-cb-clear + label {
        text-indent: -9999px;
        width: .5em;
        margin-left: -.5em; }
      #profil-page .com .star-cb-group > .star-cb-clear + label:before {
        width: .5em; }
      #profil-page .com .star-cb-group:hover > input + label:before {
        content: "☆";
        color: #B7B8B6;
        text-shadow: none; }
      #profil-page .com .star-cb-group:hover > input + label:hover ~ label:before,
      #profil-page .com .star-cb-group:hover > input + label:hover:before {
        content: "★";
        color: #70b7e5;
        text-shadow: 0 0 1px #70b7e5; }
    #profil-page .com legend {
      color: #FFFFFF;
      padding: 0.3125rem;
      background-color: #70b7e5;
      border-radius: 4px;
      margin-bottom: 0.625rem;
      width: 100%;
      text-align: center; }
    #profil-page .com .comment {
      padding: 2px;
      margin-bottom: 1.25rem; }
      #profil-page .com .comment .comment-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.3125rem; }
        #profil-page .com .comment .comment-head .com-name {
          font-weight: 700; }
        #profil-page .com .comment .comment-head .stars span {
          color: #70b7e5; }
      #profil-page .com .comment .date {
        font-size: 0.75em;
        text-transform: uppercase;
        color: #70b7e5;
        margin-bottom: 0.625rem;
        font-weight: 700; }
    #profil-page .com .comment-form {
      margin-top: 1.25rem; }
      #profil-page .com .comment-form .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 0.625rem;
        justify-content: space-between; }
        #profil-page .com .comment-form .form-group input {
          width: 80%;
          padding: 0.3125rem; }

#profil-page.custom input {
  margin-top: 0.125rem;
  height: 2.5rem; }

#profil-page.custom .form-group {
  margin-bottom: 0.625rem; }

#profil-page.custom .prest .presta-ctn {
  margin-bottom: 1.25rem; }
  #profil-page.custom .prest .presta-ctn .title {
    font-size: 1.125em;
    font-style: italic;
    color: #51555a;
    font-weight: 600;
    margin-bottom: 0.625rem; }
  #profil-page.custom .prest .presta-ctn input {
    margin-bottom: 0.625rem; }
  #profil-page.custom .prest .presta-ctn:last-child {
    margin-bottom: 0; }

#profil-page.custom .prest .delete,
#profil-page.custom .prest .add {
  text-align: center;
  cursor: pointer;
  margin-top: 0.3125rem; }

#profil-page.custom .prest .add {
  color: #32CD32; }

#profil-page.custom .prest .delete {
  color: #E74C3C; }

@media (min-width: 768px) {
  #cookies {
    height: 3.75rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    #cookies p {
      text-align: left;
      width: 90%; }
    #cookies .accept .btn-01 {
      margin: 0; }
  .hero-header .hero-wrapper {
    margin: auto;
    padding-top: 7.5rem; }
    .hero-header .hero-wrapper h2 {
      font-size: 3.125em; }
    .hero-header .hero-wrapper p {
      font-size: 1.125em; }
    .hero-header .hero-wrapper #search {
      width: 80%;
      margin-top: 1.875rem;
      margin-left: auto;
      margin-right: auto; }
  #how .howit {
    display: flex;
    justify-content: space-around; }
    #how .howit .block {
      width: calc(33% - 30px); }
  #activities .act-container {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto; }
    #activities .act-container .full-width-act .block-act {
      border-radius: 4px;
      margin-bottom: 1.25rem; }
      #activities .act-container .full-width-act .block-act p {
        font-size: 1.75em; }
    #activities .act-container .half-width-act {
      display: flex;
      justify-content: space-between; }
      #activities .act-container .half-width-act .block-act {
        border-radius: 4px;
        width: calc(50% - 10px);
        margin-bottom: 1.25rem; }
        #activities .act-container .half-width-act .block-act p {
          font-size: 1.75em; }
  #activities .more {
    margin-top: 1.875rem; }
  #last-users .last-users {
    display: flex;
    justify-content: space-around; }
    #last-users .last-users .block-last-user {
      color: #19181a;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #last-users .last-users .block-last-user img {
        width: 9.375rem;
        height: 9.375rem;
        border-radius: 50%;
        margin-bottom: 1.25rem; }
      #last-users .last-users .block-last-user .name {
        font-weight: 700;
        font-size: 1.25em;
        margin-bottom: 0.625rem; }
      #last-users .last-users .block-last-user p:last-child {
        font-size: 1.125em; }
  #news .news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #news .news .article {
      width: calc(50% - 10px);
      height: 100%; }
      #news .news .article img {
        border-radius: 4px; }
      #news .news .article:last-child {
        margin-left: auto;
        margin-right: auto; }
  #testimonials .users-testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #testimonials .users-testimonials .block-testi {
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
    #testimonials .users-testimonials blockquote {
      width: 80%;
      margin-left: auto;
      margin-right: auto; }
  #footer {
    padding: 0; }
    #footer .footer-elems {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3.125rem 0; }
      #footer .footer-elems .logo-footer {
        padding-top: 0; }
      #footer .footer-elems .contact {
        padding: 0; }
  .separator.clouds {
    width: 280%; }
  .sign-side {
    display: block;
    width: 40%;
    height: 100%;
    background: url(../images/aside_subscribe.jpg);
    background-size: cover;
    background-position-x: 72%;
    position: relative; }
    .sign-side.left {
      float: left; }
    .sign-side.right {
      float: right; }
  .form-ctn {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    min-height: 100%;
    height: 100%;
    position: relative; }
    .form-ctn .close-ctn {
      position: absolute;
      top: 1.5625rem;
      cursor: pointer; }
      .form-ctn .close-ctn .close {
        display: block;
        background-color: #FFFFFF;
        border-radius: 1px; }
        .form-ctn .close-ctn .close::before, .form-ctn .close-ctn .close::after {
          content: '';
          position: absolute;
          width: 1.875rem;
          height: 0.25rem;
          background-color: #70b7e5; }
        .form-ctn .close-ctn .close::before {
          transform: rotateZ(45deg); }
        .form-ctn .close-ctn .close::after {
          transform: rotateZ(-45deg); }
      .form-ctn .close-ctn.right {
        right: 2.8125rem; }
      .form-ctn .close-ctn.left {
        left: 0.78125rem; }
    .form-ctn #logo-header {
      display: none; }
    .form-ctn .copyright {
      font-size: 0.875em; }
    .form-ctn .sign-up-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 0; }
      .form-ctn .sign-up-container .tt-01 {
        font-size: 2.375em; }
      .form-ctn .sign-up-container input[type='submit'] {
        margin-top: 1.25rem; }
      .form-ctn .sign-up-container input[name='name'] {
        text-transform: uppercase; }
      .form-ctn .sign-up-container input[name='nickname'] {
        text-transform: capitalize; }
      .form-ctn .sign-up-container .sign-in {
        padding-bottom: 0.9375rem;
        padding-top: 0; }
  #article .art-ctn {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto; }
    #article .art-ctn .article-content {
      width: 100%; }
  .result-map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 7.5rem; }
    .result-map .results-ctn,
    .result-map #map {
      width: calc(50% - 10px); }
    .result-map #map {
      position: relative; }
      .result-map #map .map-abs {
        position: absolute;
        top: 0;
        width: 100%;
        height: 26.25rem; }
        .result-map #map .map-abs .iframe {
          height: 26.25rem; }
          .result-map #map .map-abs .iframe.sticky {
            position: fixed;
            top: 4.375rem; }
  #categories .cat .cats .cat-list .list-item {
    width: 48%; }
  .modal {
    display: none;
    /* Hidden by default */
    justify-content: center;
    align-items: center;
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */ }
    .modal .modal-container {
      background-color: #FFFFFF;
      border-collapse: separate;
      width: 90%;
      height: 80%; }
  .error-page .cloud {
    position: absolute; }
    .error-page .cloud.first {
      top: 7.5rem;
      left: -3.125rem; }
    .error-page .cloud.second {
      bottom: 40%;
      right: -12.5rem; }
    .error-page .cloud.third {
      bottom: 4.375rem;
      left: 10%; }
    .error-page .cloud.last {
      display: none; }
  #profil-page .profil {
    display: flex; }
    #profil-page .profil .infos-side {
      flex: 1 1 40%; }
    #profil-page .profil .profil-ctn {
      flex: 1 1 60%;
      margin-left: 1.25rem; }
  #profil-page .com .comment-form .form-group input {
    width: 80%; }
  #profil-page .com .message-group {
    display: flex;
    justify-content: space-between; }
    #profil-page .com .message-group textarea {
      width: 70%; } }

@media (min-width: 1024px) {
  .hero-header .hero-wrapper {
    padding-top: 10.625rem; }
    .hero-header .hero-wrapper p {
      max-width: 90%;
      margin: 0 auto; }
    .hero-header .hero-wrapper #search {
      display: flex;
      justify-content: space-between;
      height: 100%;
      width: 100%; }
      .hero-header .hero-wrapper #search .form-group {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-right: 0.625rem;
        margin-bottom: 0; }
        .hero-header .hero-wrapper #search .form-group .form-select,
        .hero-header .hero-wrapper #search .form-group .input-search {
          margin-bottom: 0; }
      .hero-header .hero-wrapper #search input[type='submit'] {
        width: 70%; }
    .hero-header .hero-wrapper .search-more {
      margin-top: 3.125rem; }
  #navigation .toggle {
    display: none; }
  #navigation .brand h1 {
    font-size: 1.5em; }
  #navigation .desktop-menu {
    display: block;
    z-index: 90; }
    #navigation .desktop-menu .lm-desktop {
      display: flex; }
      #navigation .desktop-menu .lm-desktop a {
        padding-left: 1.5625rem;
        display: block;
        color: #FFFFFF;
        font-size: 1.25em;
        letter-spacing: 0.125px; }
  #navigation.white .lm-desktop a {
    color: #19181a; }
  #navigation.fixed {
    background-color: #FFFFFF;
    position: fixed;
    z-index: 50;
    border-bottom: 1px solid #efefef; }
    #navigation.fixed .brand h1 {
      color: #19181a; }
    #navigation.fixed .desktop-menu a {
      color: #19181a; }
  #activities .act-container .block-act:hover .background {
    transform: scale(1.05); }
  #activities .act-container .block-act:hover .shadow {
    background-color: rgba(25, 24, 26, 0.4); }
  #news .news {
    width: 90%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #news .news .article {
      width: calc(50% - 20px);
      height: 100%; }
      #news .news .article img {
        height: 12.5rem; }
      #news .news .article:hover img {
        background-color: rgba(25, 24, 26, 0.4); }
  #testimonials .users-testimonials .block-testi {
    width: calc(50% - 20px); }
  #testimonials .users-testimonials .quote {
    top: 15%; }
  #testimonials .users-testimonials blockquote {
    padding-top: 1.875rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto; }
  #footer .footer-elems {
    justify-content: space-around; }
  .separator.clouds {
    width: 150%; }
  .form-ctn .sign-up-container {
    width: 80%;
    align-self: center; }
    .form-ctn .sign-up-container .tt-01 {
      padding-top: 0; }
  #categories .cat .cats .cat-list .list-item {
    width: 32%; }
  .modal {
    display: none;
    /* Hidden by default */
    justify-content: center;
    align-items: center;
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */ }
    .modal .modal-container {
      background-color: #FFFFFF;
      border-radius: 4px;
      width: 90%;
      height: 90%; }
  .error-page .cloud.third {
    bottom: 3.125rem;
    left: 10%; }
  #profil-page .com .comment-form .form-group input {
    width: 90%; }
  #profil-page .com .message-group textarea {
    width: 80%; }
  #profil-page .profil {
    display: flex; }
    #profil-page .profil .infos-side {
      flex: 1 1 35%; }
    #profil-page .profil .profil-ctn {
      flex: 1 1 65%; } }

@media (min-width: 1200px) {
  #sign-up .sign-up-container {
    width: 60%; }
  .error-page .cloud.last {
    display: block;
    top: 13.75rem;
    right: 20%; }
  #profil-page .profil {
    display: flex; }
    #profil-page .profil .infos-side {
      flex: 1 1 30%; }
    #profil-page .profil .profil-ctn {
      flex: 1 1 70%; } }
