{% extends 'base.html.twig' %}

{% block title %}1001 Services | Conditions Particulières de Prestations de Services {% endblock %}

{% block body %}

<main>
    <div id="cgv" class="container">
        <h1 class="tt-01">Conditions Particulières de Prestations de Services</h1>        
        <div class="intro ">
            <p dir="ltr">ATTENTION – DISCLAIMER</p>
            <p dir="ltr"><strong><br></strong></p>
            <p dir="ltr">VEUILLEZ LIRE ATTENTIVEMENT CES CONDITIONS PARTICULIERES DE PRESTATIONS DE SERVICES AVANT D'UTILISER LES SERVICES PROPOSES PAR LE BON COACH.</p>
            <p dir="ltr"><strong><br></strong></p>
            <p dir="ltr">CES CONDITIONS PARTICULIERES DEFINISSENT LES CONDITIONS ET LES OBLIGATIONS LEGALES LIEES A LA SOUSCRIPTION PAR LE COACH DES SERVICES PROPOSES ET FOURNIS PAR LA SOCIETE LE BON MEDIA DEPUIS LE SITE INTERNET «LE BON COACH».</p>
            <p dir="ltr"><strong><br></strong></p>
            <p dir="ltr">TOUTE UTILISATION ET/OU RECOURS PAR LE COACH AUX SERVICES PROPOSES PAR LA SOCIETE AUX UTILISATEURS IMPLIQUENT L'ACCEPTATION SANS RESERVES DES PRESENTES CONDITIONS PARTICULIERES. LE SEUL FAIT D'UTILISER LESDITS SERVICES ENTRAINE L'ACCEPTATION PURE ET SIMPLE DES PRESENTES CONDITIONS PARTICULIERES, CE QUE LE COACH DECLARE ET RECONNAIT EXPRESSEMENT.</p>
            <p dir="ltr"><strong><br></strong></p>
            <p dir="ltr">L'UTILISATION DU SERVICE ET DU SITE INTERNET EST EXCLUSIVEMENT RESERVEE AUX PERSONNES CAPABLES DE SOUSCRIRE DES CONTRATS EN DROIT FRANÇAIS.</p>
            <p dir="ltr"><br></p>
        </div>
        <h2 dir="ltr">1. MENTIONS LEGALES</h2>
        <p dir="ltr">Le site Internet « LE BON COACH» (ci-après « le Site Internet ») est a été conçu et édité par la société LE BON MEDIA, Société par Actions Simplifiée immatriculée au Registre du Commerce et des Sociétés de Pontoise sous le numéro 818 067 720, dont le siège social se trouve 20 rue Berthe Morisot 95220 Herblay (Ci-après désignée « la Société »).</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Site Internet a fait l'objet d'une déclaration auprès de la CNIL sous le numéro q dT2 1 2 0 5 2 T.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Contact Client :</p>
        <p dir="ltr">- Email : contact@le-bon-coach.fr</p>
        <p dir="ltr">- Téléphone : 01 30 26 04 08</p>
        <h2 dir="ltr">2. OBJET – VALIDATION – PAIEMENT</h2>
        <p dir="ltr">Les présentes Conditions Générales de Prestation de Services (ci-après les « CGPS ») définissent le cadre légal d'utilisation des services proposés par la Société (ci-après les « Services ») sur le Site Internet par les Coach définis à l'article 3 des présentes, et les conditions de leur relation avec les Clients ainsi qu'avec la Société.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La version des CGPS disponible sur le Site Internet prévaudra, le cas échéant, sur toute autre version des présentes, à l'exception des modifications qui seraient intervenues postérieurement à son utilisation des Services et ce, conformément au droit commun.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Une copie des présentes CGPS sera adressée au format PDF, par courrier électronique, au Coach, dans leur version en vigueur au moment de leur acceptation.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les présentes CGPS ont été mises à jour le 01/03/2017.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les modifications ultérieures de ces CGPS seront opposables aux Coachs à compter de leur mise en ligne.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les cpps sont complétées par les Conditions Générales de Vente du Site accessibles à l’adresse www.le-bon-coach.com.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le tout formant un contrat indivisible, les Parties s’interdisent de dénoncer les présentes cpps aux seules fins de dénoncer les Conditions Générales de Vente.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L’Utilisateur déclare et reconnaît, en conséquence, avoir lu les présentes cpps ainsi que les Conditions Générales de Vente.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Site Internet est une plateforme communautaire qui propose la mise en relation entre des Utilisateurs de type professionnels et des Utilisateurs de type « non professionnels » (ci-après la « plateforme le bon coach»).</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Elle permet à des professionnels spécialisés dans le domaine du coaching physique et sportif, du bien-être physique et mental et de l’accompagnement personnel, de proposer la réalisation de prestations de coaching à des non professionnels à domicile (ci-après désignés « les Prestations »).</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">En pratique, les Utilisateurs de type « professionnels » (ci-après « les Coachs ») proposent leurs Prestations sur la plateforme le bon coach, avec la description de l’activité, la localisation, le prix, leurs disponibilités, à des Utilisateurs de type « non professionnels » (ci-après « les Clients »).</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Coach doit s’abonner aux Services de la Société dans les conditions de l’article 6 des présentes cpps pour pouvoir proposer ses prestations auprès du Client via la plateforme le bon coach.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">De son côté, le Client peut alors sélectionner et réserver directement via la plateforme le bon coach le Coach qui leur convient.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le paiement de la Prestation réalisée par le Coach auprès du Client sera payée directement par le Client auprès du Coach.</p>
        <h2 dir="ltr">3. DEFINITIONS</h2>
        <p dir="ltr">Dans les présentes CGPS, il est convenu que les expressions ou mots suivants, qu'ils soient employés au singulier ou au pluriel, auront la signification suivante :</p>
        <p dir="ltr">- CLIENT : Utilisateur qui souhaite réserver et bénéficier des Prestations proposées par le Coach.</p>
        <p dir="ltr">- COACH OU PROFESSIONNEL : Utilisateur qui propose sur la PLATEFORME LE BON COACH la réalisation d'une ou de plusieurs Prestations aux Clients.</p>
        <p dir="ltr">- CODE IDENTIFIANT : ensemble des informations relatives à chaque Utilisateur, qu'il soit Client ou Coach, composé d'un identifiant (Nom, prénom et adresse email) et d'un mot de passe sécurisé choisi par ce dernier afin de pouvoir accéder à son propre Compte Utilisateur.</p>
        <p dir="ltr">- COMPTE UTILISATEUR : module du Site Internet consacré aux Utilisateurs et à l'ensemble des informations propres à leur statut et leur utilisation des Services fournis par la Société.</p>
        <p dir="ltr">- PLATEFORME LE BON COACH : ensemble des éléments structurant la plateforme qui référence des Coachs et permet à un Client d'être mis en relation avec un Coach et de réserver ses Prestations.</p>
        <p dir="ltr">- PRESTATIONS : services effectués par le Coach proposés sur le Site Internet au Client.</p>
        <p dir="ltr">- PRIX : montant global que le Client s’engage à payer au Coach en contrepartie de l’exécution par le Coach de ses Prestations.</p>
        <p dir="ltr">- RESERVATION : réservation par le Client d'une Prestation auprès d'un Coach, via la PLATEFORME LE BON COACH.</p>
        <p dir="ltr">- SEANCE : plage horaire pendant laquelle le Coach réalise sa Prestation auprès du Client</p>
        <p dir="ltr">- SERVICES : mise en relation par la Société entre le Coach et le Client via la PLATEFORME LE BON COACH.</p>
        <p dir="ltr">- SITE OU SITE INTERNET : site édité par la Société et accessible à l'adresse www.le-bon-coach.com</p>
        <p dir="ltr">- UTILISATEUR : toute personne physique ou morale, Coach ou Client, qui s'est inscrite sur le Site Internet et l'utilise dans les conditions de l'article 6 des présentes.</p>
        <h2 dir="ltr">4. VERIFICATION DE L'ADEQUATION DES BESOINS AUX SERVICES</h2>
        <p dir="ltr">L'Utilisateur du Site Internet déclare par les présentes qu'il a procédé préalablement à la vérification de l'adéquation des Services dudit Site Internet à ses besoins.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Il déclare et garantit ainsi avoir reçu de la Société toutes les informations et conseils qui lui étaient nécessaires pour souscrire aux présentes Conditions Générales de Prestation de Services et qu'en conséquence il renonce à toute contestation sur ce point.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans ce prolongement, l'Utilisateur reconnait avoir été informé que la Société n'est qu'un prestataire technique proposant via son Site Internet une plateforme de mise en relation entre professionnels et particuliers.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Il appartient donc à l'Utilisateur de vérifier que les Services proposés sur le Site Internet sont adaptés à ses besoins.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L'Utilisateur déclare en outre qu'il dispose des connaissances, compétences et des ressources, notamment humaines et techniques, requises pour l'utilisation des services de ladite plateforme.</p>
        <h2 dir="ltr">5. ENTREE EN VIGUEUR – DUREE</h2>
        <p dir="ltr">Les présentes CGPS sont applicables pendant toute la durée de navigation et d'accès de l'Utilisateur sur le Site et pour toute la durée d'utilisation des Services par l'Utilisateur.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L'Utilisateur est informé que les CGPS pourront faire l'objet à n'importe quel moment d'une mise à jour dans les conditions de l'article 24 des présentes.</p>
        <h2 dir="ltr">6. L'ADHESION ET L'INSCRIPTION</h2>
        <p dir="ltr">La simple navigation sur le Site est libre et gratuite.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Cependant, le Coach doit, afin de pouvoir proposer ou réserver des Prestations, créer un Compte Utilisateur dans les conditions de l'article 6.1 et s'abonner aux Services de la Société dans les conditions de l'article 6.2.</p>
        <h3 dir="ltr">6.1 CREATION DU COMPTE PAR LE COACH</h3>
        <p dir="ltr">A l'occasion de son inscription, le Coach devra fournir sur le Site son identifiant (nom, prénom /ou dénomination sociale, et adresse électronique) et créer un mot de passe.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L'ensemble de ces éléments constitue ses Codes Identifiants, tels que définis à l'article 3 des présentes.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Lors de la création de son Compte le Coach devra également renseigner sa date de naissance, sa nationalité, son adresse, son numéro de téléphone.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Coach doit fournir à la Société une copie de sa carte nationale d'identité ou de son passeport ainsi qu'une photo d'identité.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Par ailleurs, le Coach pourra également compléter et/ou modifier certaines de ses informations à tout moment via son Compte Utilisateur.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">En outre, le Coach doit posséder un casier judiciaire vierge au moment de la création de son Compte ainsi durant toute la durée de l'utilisation du Site.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Coach devra également fournir un diplôme justifiant de ses capacités et de son aptitude à fournir à des non professionnels les Prestations de coaching physique et sportif et/ou du bien-être physique et mental et/ou de l'accompagnement personnel.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Coach devra également justifier qu'il a souscrit à une assurance de responsabilité civile dans le cadre de la réalisation de ses Prestations.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Coach est informé que la Société pourrait être amenée à tout moment à supprimer de manière discrétionnaire le Compte Utilisateur du Coach si elle venait à découvrir une irrégularité quant à ces diplômes et assurances fournis par le Coach, et de manière générale en cas de non-respect des dispositions des présentes CGPS par le Coach, ce que ce dernier reconnait expressément.</p>
        <h3 dir="ltr">6.2 ACCEPTATION DES PRESENTES CGPS</h3>
        <p dir="ltr">Avant de valider la création de son Compte, le Coach doit cocher la case « j'ai lu et j'accepte les Conditions Particulières de Prestations de Services ».</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Cette étape est déterminante et le Coach ne saurait cocher cette case sans avoir préalablement pris connaissance et accepté l'ensemble des clauses des présentes CGPS.</p>
        <h3 dir="ltr">6.3 SOUSCRIPTION AUX SERVICES PAR LE COACH</h3>
        <p dir="ltr">Une fois son Compte créé, le Coach souscrit aux Services de la Société par abonnement dans les conditions du présent article.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Coach peut sélection une méthode de paiement de son abonnement parmi les suivantes :</p>
        <p dir="ltr">- par prélèvement de type SEPA</p>
        <p dir="ltr">- par prélèvement sur carte bancaire. Il est précisé que le coût du paiement par carte bancaire est entièrement à la charge de l'Utilisateur. Sont acceptées les cartes bancaires : Carte Bleue, Visa™, MasterCard™, American Express.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les factures du Coach seront disponibles via son Compte Utilisateur ou adressées par email à l'adresse communiquée par celui-ci. Le Coach est donc tenu de mettre à jour son adresse de courrier électronique en toute circonstance.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société se réserve le droit de faire évoluer les prix de l'abonnement aux Services, sous réserve d'en informer le Coach par tout moyen, et notamment par email.</p>
        <p dir="ltr">Abonnement mensuel</p>
        <p dir="ltr">L'abonnement proposé aux Coachs qui exercent une activité dans le domaine sportif est un abonnement mensuel, qui est payé à la Société par le Coach tous les mois. Il est reconductible tacitement pour la même durée, sauf dénonciation par le Coach au plus tard 2 (deux) semaines avant la date anniversaire de l'abonnement, par lettre recommandée avec accusé de réception</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Abonnement annuel</p>
        <p dir="ltr">L'abonnement proposé aux Coachs qui n'exercent pas leur activité dans le domaine du sport est un abonnement annuel qui peut, au choix du Coach, être payé par le Coach soit en une fois, soit en trois fois sans frais.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Cet abonnement est valable pour une durée de 12 (douze) mois. Il est reconductible tacitement pour la même durée, sauf dénonciation par le Coach au plus tard 2 (deux) semaines avant la date anniversaire de l'abonnement, par lettre recommandée avec accusé de réception.</p>
        <h3 dir="ltr">6.4 Conditions d'annulation et frais de création</h3>
        <p dir="ltr">En cas d'annulation après encaissement et mise en ligne du coach sur la plateforme, 30% du montant total plus 20 euros seront conservés par LE BON MEDIA SAS et ce dans un délai de 8 jours maximum.</p>
        <p dir="ltr">Dépassé ce délai, aucun frais ne seront restitués.</p>
        <p dir="ltr">Ces 30% et 20 euros sont justifiés par le coût des frais bancaires, la création du dossier, la prise d'informations et la création de la fiche.</p>
        <p dir="ltr">NB : la date de facture faisant foi.</p>
        <h2 dir="ltr">7. Nos missions et fonctionnalités</h2>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans le cadre de notre engagement réciproque auprès des coachs, nous nous engageons à leur fournir les services et prestations suivantes :</p>
        <p dir="ltr">- Une étude globale de leur positionnement ainsi que de leurs attentes sur le marché</p>
        <p dir="ltr">- La création et la rédaction de leur fiche personnelle par nos experts en communication</p>
        <p dir="ltr">- Une mise en avant de leur profil auprès de notre communauté Linkedin</p>
        <p dir="ltr">- Une carte de visite digitale sur mesure à introduire dans leur signature de mails</p>
        <p dir="ltr">- Un texte de présentation accrocheur pour augmenter l'impact des emails et optimiser les retours clients</p>
        <p dir="ltr">- Une plaquette digitale format pdf à destination de leurs clients particuliers</p>
        <p dir="ltr">- Un dossier sur mesure présentant l’ensemble de leur activité, à destination des entreprises</p>
        <p dir="ltr">- Un argumentaire de vente pour les aider à décrocher des rendez-vous en entreprises</p>
        <p dir="ltr">- Une base de données de 2000 entreprises (500 par trimestre répartie sur l’année)</p>
        <p dir="ltr">- 4 mailings fait auprès des 2000 entreprises générant des contacts qualifiés (jusqu’à 30)</p>
        <p dir="ltr">- Un expert dédié à disposition tout au long de l’année à raison d’un point tous les trois mois</p>
        <p dir="ltr">- 3 formations commerciale “je suis coach comment me vendre” ou différentes thématiques sont traitées en rapport avec votre demande (aide à la prospection, à l’organisation et au développement de l'impact commercial)</p>
        <p dir="ltr">- Un accompagnement dans la constitution d’un contrat tripartite ou quadripartite en cas d’intervention en entreprise</p>
        <p dir="ltr">- Un service administratif et comptabilité pour répondre à toutes leurs questions</p>
        <p dir="ltr">- Uniquement sur demande écrite : nous appelons 20 prospects par an pour prendre rendez-vous à la place des coachs (50€ HT par rendez-vous décroché)</p>
        <p dir="ltr">- L’organisation du rendez-vous avec des coachs et entreprises partenaires.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Du côté de l'espace personnel (en accord avec la protection des données) :</p>
        <p dir="ltr">- La main mise sur votre fiche à tout moment</p>
        <p dir="ltr">- Un outil de gestion de clientèle, pour créer des fiches clients et assurer le suivi des séances et des objectifs</p>
        <p dir="ltr">- Un outil de facturation et de génération de devis en ligne</p>
        <p dir="ltr">- La gestion des avis clients</p>
        <p dir="ltr">- La gestion des prestations et le paiement des séances via la fiche personnelle par un client</p>
        <p dir="ltr">- Un Terminal de Paiement Electronique (TPE) virtuel pour générer des liens de paiements sécurisés à envoyer par mail afin d’encaisser vos clients avant ou après la séance</p>
        <p dir="ltr">- Un espace de cloud pour déposer vos fichiers et accéder aux livrables que nous vous fournissons (carte de visites, plaquettes, base de données, formation, aide à votre compte de résultat etc..)</p>
        <p dir="ltr">- Une messagerie dédiée pour interagir avec vos clients</p>
        <p dir="ltr">- Très prochainement : la réception par SMS des demandes de coaching.</p>
        <p dir="ltr">&nbsp;</p>
        <h2 dir="ltr">8. Les limites de nos missions</h2>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Nos travaux n'ont pas pour objectif d’intervenir au-delà du processus de la prise de contact. En effet, notre mission se fait en amont sur l’acquisition de clients pour vous. Nous avons une garantie de moyens et non de résultats.</p>
        <p dir="ltr">Nous comptons sur votre entière coopération afin qu'il soit mis à notre disposition toutes les informations nécessaires qui nous permettront de mener à bien notre mission. Vous serez donc chargé de la correcte transmission des informations nécessaires à la bonne réalisation de notre engagement.</p>
        <p dir="ltr">&nbsp;</p>
        <h2 dir="ltr">9. PHOTOGRAPHIES DE PROFIL</h2>
        <h3 dir="ltr">9.1 Le Coach a la possibilité de télécharger une photographie de profil pour personnaliser son Compte.</h3>
        <p dir="ltr">Le Coach reconnait être le propriétaire seul et exclusif de cette photographie de profil ou alors détenir tous les droits, licences, consentements et décharges servant à accorder à la Société le droit de publier cette photographie sur le Site Internet.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Coach reconnait que sa photographie de profil ne détourne ni ne viole les droits de propriété intellectuelle ou les droits de propriété d'une tierce partie, ou les droits de publicité ou de protection de la vie privée, ni ne donne lieu à la violation de toute loi ou règlement applicable.</p>
        <h3 dir="ltr">9.2 Le Coach accepte par ailleurs expressément que sa photographie soit visible par les autres Utilisateurs du Site Internet.</h3>
        <p dir="ltr">Le Coach autorise donc expressément la Société à publier, utiliser, et représenter l'image de sa photographie de profil via le Site Internet pour les stricts besoins du Service.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Coach reconnait que la photographie de son profil est utilisée par la Société pour les stricts besoins du Service et ne constitue aucunement une quelconque atteinte au droit à l'image de l'Utilisateur.</p>
        <h2 dir="ltr">10. DECLARATIONS ET GARANTIES DU PROFESSIONNEL</h2>
        <h3 dir="ltr">10.1 Le Coach déclare et garantit qu'il est bien un professionnel indépendant répondant aux profils suivants :</h3>
        <ul>
            <li dir="ltr">
                <p dir="ltr">soit une personne physique pouvant offrir légalement et fiscalement des prestations rémunérées et les facturer de manière indépendante : il s'agit là uniquement des personnes physiques ayant le statut d'entrepreneurs individuels/travailleurs indépendants et enregistrées comme tels auprès des services de l'Union de recouvrement des cotisations de sécurité sociale et d'allocations familiales (Urssaf) et/ou de tous autres services administratifs et légaux compétents,</p>
            </li>
            <li dir="ltr">
                <p dir="ltr">soit une personne physique ou une personne morale souhaitant mettre à la disposition des Utilisateurs ses propres salariés et/ou partenaires dans le cadre des Services pour l'exécution de Prestations à leurs bénéfices.</p>
            </li>
        </ul>
        <h3 dir="ltr">10.2 Les Coachs ayant le statut d'entrepreneurs individuels/travailleurs indépendants, déclarent sur l'honneur :</h3>
        <ul>
            <li dir="ltr">
                <p dir="ltr">avoir tout au long de leur utilisation des Services, plusieurs clients dans le cadre de leur activité autres que les Utilisateurs de la PLATEFORME LE BON COACH</p>
            </li>
            <li dir="ltr">
                <p dir="ltr">être en règle et à jour des cotisations sociales et impôts dus au titre de leur activité d'entrepreneurs individuels/travailleurs indépendants.</p>
            </li>
        </ul>
        <p dir="ltr">A ce titre, le Professionnel doit être en mesure de produire à tout moment, sur demande de la Société, un document attestant par année du nombre de clients du Professionnel et de la part de chiffre d'affaires réalisée grâce aux clients autres que les Utilisateurs.</p>
        <h3 dir="ltr">10.3 Les personnes morales et/ou personnes physiques souhaitant mettre à disposition des Utilisateurs leurs propres salariés et/ou partenaires déclarent sur l'honneur :</h3>
        <ul>
            <li dir="ltr">
                <p dir="ltr">remplir toutes les obligations légales et fiscales pour utiliser les Services,</p>
            </li>
            <li dir="ltr">
                <p dir="ltr">respecter l'ensemble de la législation du travail dans le cadre de leurs relations avec leurs salariés et/ou partenaires et entre leurs salariés et/ou partenaires et les Utilisateurs,</p>
            </li>
            <li dir="ltr">
                <p dir="ltr">garantir la Société de tout recours ou action ou revendication salariale qui seraient diligentés par leurs salariés et/ou partenaires contre la Société dans le cadre de l'utilisation des Services.</p>
            </li>
        </ul>
        <p dir="ltr">De manière plus générale, le Coach devra faire son affaire personnelle de toutes les formalités liées à la législation française et étrangère du travail et liées à l'assurance des potentiels dommages causés par/dans l'exécution de ses Prestations.</p>
        <h3 dir="ltr">10.4 Le Coach déclare sur l'honneur respecter l'ensemble des principes suivants dans l'exécution des Prestations :</h3>
        <ul>
            <li dir="ltr">
                <p dir="ltr">Amabilité et politesse envers les Utilisateurs</p>
            </li>
            <li dir="ltr">
                <p dir="ltr">Aspect propre et soigné</p>
            </li>
            <li dir="ltr">
                <p dir="ltr">Maitrise du français</p>
            </li>
            <li dir="ltr">
                <p dir="ltr">Ponctualité</p>
            </li>
            <li dir="ltr">
                <p dir="ltr">Honnêteté et fiabilité</p>
            </li>
            <li dir="ltr">
                <p dir="ltr">Rapidité et efficacité</p>
            </li>
            <li dir="ltr">
                <p dir="ltr">Confidentialité et intimité des Utilisateurs. Plus particulièrement, les données clients enregistrées dans les rubriques "mes clients" et "mes séances" sont enregistrées sur le site mais sont à l'usage exclusif du coach. La société ni toute autre entité ne saurait avoir connaissance de ces informations.</p>
            </li>
        </ul>
        <p dir="ltr">Dans le cas où, le Coach ne respecte pas les principes énumérés ci-dessus, la Société sera libre de mettre fin à tout moment et sans préavis à l'adhésion du Coach aux Services.</p>
        <h3 dir="ltr">10.5 Le Coach déclare également avoir contracté une police d'assurance responsabilité civile professionnelle couvrant sa responsabilité et celles de ses salariés et/partenaires dans le cadre de leurs activités de Coach.</h3>
        <p dir="ltr">Il devra en justifier au moment de son inscription aux Services dans les conditions de l'article 4 des présentes et devra également justifier de son renouvellement à chaque date d'anniversaire de sa police d'assurance.</p>
        <h2 dir="ltr">11. COMPORTEMENT GENERAL DES PROFESSIONNELS</h2>
        <h3 dir="ltr">11.1 A l'occasion de leur inscription et de leur adhésion aux présentes CGPS, comme par la suite de l'utilisation des Services de la PLATEFORME LE BON COACH mis à leur disposition, les Professionnels s'interdisent de transmettre :</h3>
        <ul>
            <li dir="ltr">
                <p dir="ltr">des informations en vue de leur inscription qui soient incorrectes ou fausses,</p>
            </li>
            <li dir="ltr">
                <p dir="ltr">la moindre information sensible d'origine raciale ou ethnique ou portant sur des opinions politiques, philosophiques ou religieuses, sur une appartenance à un syndicat, sur la vie sexuelle ou la santé, contraire aux bonnes mœurs et à la loi.</p>
            </li>
        </ul>
        <p dir="ltr">En cas d'infraction ou de contravention à ces règles du fait de la transmission de ces informations, la Société, outre le fait qu'elle aura le droit de supprimer ces informations litigieuses sans préavis, se réserve le droit de supprimer l'accès des Professionnels aux Services et à leur Compte Professionnel.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les Coachs doivent être âgés de plus de 18 ans.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société a le droit de mettre un terme au contrat sans préavis si tout lui donne à penser qu'il n'en est pas ainsi.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Ils doivent veiller à ce que toutes les informations communiquées ultérieurement restent correctes et s'interdisent de créer ou d'utiliser sur la PLATEFORME LE BON COACH, sauf autorisation, sous d'autres Comptes Professionnels que le leur sous leur propre identité et/ou celle d'un tiers, étant rappelé que toute usurpation d'identité est passible de poursuites et de sanctions pénales, qu'enfin toute contravention à cet engagement pourra entraîner la suspension immédiate et sans préavis des Comptes des Professionnels concernés.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Ils s'engagent enfin dans ce même registre, et dans le cas où ils ont connaissance d'une usurpation de leurs identifiants par une personne tierce ayant accédé à leur Compte Professionnel, à informer l'équipe d'administration de la PLATEFORME LE BON COACH par courrier électronique à l'adresse contact@le-bon-coach.fr et/ou par courrier à l'adresse suivante : Le Bon Média, 20 rue Berthe Morisot, 95220 Herblay</p>
        <p dir="ltr">&nbsp;</p>
        <h3 dir="ltr">11.2 Le Professionnel s'engage également à :</h3>
        <p dir="ltr">- ne pas tenter de débaucher d'autres Professionnels à quelque fin que ce soit.</p>
        <p dir="ltr">- ne pas solliciter en direct des Utilisateurs des Services de la Société pour leurs proposer des prestations similaires et/ou identiques à celles proposées via les Services de la Société.</p>
        <h2 dir="ltr">12. DISCLAIMER – MISE EN GARDE</h2>
        <h3 dir="ltr">12.1 Mise en garde – Conformité au Service :</h3>
        <p dir="ltr">La Société rappelle en tant que de besoin au Professionnel qu'elle ne fournit pas et n'a pas l'intention de fournir un service d'intérim du travail et/ou d'agir en tant qu'organisme intérimaire du travail.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">A ce titre, le Professionnel reconnait avoir été informé que la Société ne supportera à ce titre aucune responsabilité vis à vis de la relation directe entre le Client et le Professionnel.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans ces conditions, le Professionnel s'engage fermement et irrévocablement à relever garant la Société contre tout recours que serait susceptible de mettre en place le Client mécontent de la Prestation réalisée par le Professionnel, à l'encontre de la Société.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans ce prolongement, le Professionnel s'engage le cas échéant à :</p>
        <p dir="ltr">- indemniser directement le Client de tout préjudice subi par ce dernier et/ou</p>
        <p dir="ltr">(ii) à ne pas s'opposer au remboursement d'un Client qui se serait plaint des Prestations réalisées par le Professionnel et pour laquelle la justification s'avère réelle et/ou</p>
        <p dir="ltr">(iii) intervenir volontairement à la cause de toute procédure judiciaire diligentée contre la Société par un Client et à supporter toutes les demandes indemnitaires formées à son encontre.</p>
        <h3 dir="ltr">12.2 Législation fiscale et sociale – Mise en garde</h3>
        <p dir="ltr">Le Professionnel est informé que la Société ne peut en aucun cas être considérée comme un organisme de travail intérimaire ni comme son employeur direct ou indirect.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société ne fait qu'exploiter une plateforme en ligne de mise en relation entre Professionnels et Clients pour l'exécution de Prestations pour lesquelles ils se sont proposés.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans le cas où, le Professionnel aurait fourni des informations mensongères et/ou erronées à la Société sur sa situation administrative, légale et fiscale, la Société ne pourra pas en être tenu responsable et seul le Professionnel en sera responsable.</p>
        <h3 dir="ltr">12.3 La Société est un intermédiaire technique qui permet, via le Site qu'elle édite, la mise en relation entre les Clients et les Professionnels et n'intervient qu'en cette qualité entre les Clients et les Professionnels.</h3>
        <p dir="ltr">La Société n'intervient pas directement dans la relation contractuelle entre les Clients et les Professionnels.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">En conséquence, le Professionnel reconnait que la Société n'exerce aucun contrôle sur leur qualité, leur sûreté, leur sécurité.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Professionnel reconnait que la Société ne peut en aucun cas être tenue pour responsable des conditions d'exécution des Prestations proposées directement par lui.</p>
        <h2 dir="ltr">13. MODALITES DE RESERVATION D'UNE PRESTATION AUPRES DU PROFESSIONNEL</h2>
        <h3 dir="ltr">13.1 Indication par le Coach de ses disponibilités</h3>
        <p dir="ltr">Dès la création de son Compte Utilisateur, le Coach a la possibilité d'indiquer sur sa fiche ses disciplines, leur Prix, et ses disponibilités.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Ces informations seront accessibles par le Client via la PLATEFORME LE BON COACH, afin que le Client soit en mesure de sélectionner et réserver la Prestation qui lui convient.</p>
        <h3 dir="ltr">13.2 Réservation de la Séance par le Client</h3>
        <p dir="ltr">La Réservation d'une Séance se déroule en différentes étapes telles que détaillées ci-après.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Client sélectionne la Séance qu'il souhaite réserver et le Coach est informé sur son Compte de la Réservation par le Client.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Coach est informé et déclare accepter que l'indication de ses disponibilités l'engage à être effectivement disponible aux dates et horaires indiqués et à effectivement dispenser auprès du Client les Séances réservées.</p>
        <h3 dir="ltr">13.3 Paiement de la prestation</h3>
        <p dir="ltr">Le paiement de la prestation par le client peut s'effectuer de plusieurs manières :</p>
        <p dir="ltr">- directement auprès du coach, par chèque, en espèces ou par virement bancaire</p>
        <p dir="ltr">- par carte bancaire (Visa, Mastercard) via la plateforme sécurisée de paiement en ligne exploitée et gérée par la société stripe. En utilisant le système de paiement électronique stripe, le Client accepte sans condition les Conditions Générales de Vente de stripe, accessibles à l'adresse suivante : <a href="https://stripe.com/fr/privacy" data-mce-href="https://stripe.com/fr/privacy">https://stripe.com/fr/privacy</a>. (Il est important de noter que le premier paiement reçu via stripe implique une commission obligatoire de 2 euros au titre de la première opération. Les paiements suivants entraîneront une commission de 3 % de la somme pour couvrir les frais d'utilisation de stripe)</p>
        <p dir="ltr">- en utilisant un code promotionnel, acheté directement sur la plateforme.</p>
        <h3 dir="ltr">13.4 Confirmation de la réservation</h3>
        <p dir="ltr">Le Client et le Coach reçoivent ensuite une confirmation de Réservation par l'envoi d'un courriel à l'adresse qu'ils ont indiqués sur leur Compte Utilisateur.</p>
        <h3 dir="ltr">13.5 Neutralité de la société dans la relation contractuelle liant le professionnel au client</h3>
        <p dir="ltr">Les Utilisateurs sont également informés que la réservation d'une Prestation via la PLATEFORME LE BON COACH se matérialise par une relation contractuelle directe entre le Coach et le Client.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans ces conditions, la Société n'intervient aucunement dans la fourniture de la Prestation du Coach et auprès du Client, et ne pourra en aucun cas être tenue responsable d'un quelconque défaut de la Prestation ou d'un quelconque dommage causé par sa réalisation.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les CGPS resteront en vigueur vis-à-vis de l'Utilisateur tant qu'il utilisera les Services du Site Internet et tant qu'il en sera membre.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société pourra mettre fin à tout moment et sans préavis à l'adhésion de l'Utilisateur du Site Internet, si celui-ci ne respecte pas les termes des présentes CGPS.</p>
        <h2 dir="ltr">14. CONDITIONS D'ANNULATION DE LA COMMANDE</h2>
        <h3 dir="ltr">14.1 Le Coach est informé qu'il n'est pas autorisé à annuler la Réservation auprès du Client.</h3>
        <p dir="ltr">Toutefois, en cas d'impossibilité pour le Coach de maintenir la Séance et si cette annulation est justifiée, le Coach sera autorisé exceptionnellement à annuler la Séance en en informant directement le Client par SMS,.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Coach est informé qu'en cas d'annulation de sa part d'une Séance réservée plus de 3 (trois) fois au cours d'un même mois, la Société se réserve le droit de suspendre le Compte Utilisateur du Professionnel pendant un délai de un mois.</p>
        <h2 dir="ltr">15. CONDITIONS FINANCIERES</h2>
        <h3 dir="ltr">15.1 Prix de la Prestation</h3>
        <p dir="ltr">Le Prix de la Prestation est déterminé par le Coach lui-même.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Prix de la Prestation est affiché sur le Site et détaillé dans le courriel de confirmation de commande correspond au Prix total TTC dû par le Client au titre de l'exécution de la Prestation par le Coach</p>
        <h2 dir="ltr">16. REMUNERATION DE LA SOCIETE</h2>
        <p dir="ltr">La rémunération de la Société est assurée par le paiement par le Coach,dans le cadre de l'article 6.3., des Services de la Société , correspondant à la mise en relation proposée par LA PLATEFORME LE BON COACH entre les Coachs et les Clients</p>
        <h2 dir="ltr">17. LE COMPORTEMENT GENERAL DES UTILISATEURS</h2>
        <h3 dir="ltr">17.1 Les Utilisateurs doivent être âgés de plus de 18 ans.</h3>
        <p dir="ltr">Les Utilisateurs âgés de moins de 18 ans doivent obligatoirement et sans qu'aucune dérogation ne soit possible être accompagnés de leurs parents lors de la réalisation de la Prestation par le Coach.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">En cas de doute sur la majorité des Utilisateurs, la Société se réserve le droit de suspendre immédiatement et sans préavis des Comptes des Utilisateurs concernés.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">En cas de doute sur la majorité des Utilisateurs, les Coachs sont dans l'obligation de refuser la réalisation de leur Prestation et d'en informer la Société.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société ne saurait en aucun cas être tenue responsable en cas d'une utilisation de ses Services par un Utilisateur âgé de moins de 18 ans en violation du présent article 10.1.</p>
        <h3 dir="ltr">17.2 Les Utilisateurs du Site Internet s'interdisent, à l'occasion de leur inscription et de leur adhésion aux présentes CGPS, comme par la suite de l'utilisation des Services mis à leur disposition, de :</h3>
        <p dir="ltr">- Communiquer des informations en vue de leur inscription qui soient incorrectes ou fausses ;</p>
        <p dir="ltr">- Indiquer la moindre information sensible d'origine raciale ou ethnique ou portant sur des opinions politiques, philosophiques ou religieuses, sur une appartenance à un syndicat, sur la vie sexuelle ou la santé, contraire aux bonnes mœurs et à la loi.</p>
        <p dir="ltr">En cas d'infraction ou de contravention à ces règles, la Société se réserve le droit de supprimer ces messages litigieux sans préavis, et d'empêcher l'accès des Utilisateurs aux Services et à leur Compte Utilisateur.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les Utilisateurs doivent veiller à ce que toutes les informations communiquées ultérieurement restent correctes et s'interdisent de créer ou d'utiliser sur le Site Internet, sauf autorisation, d'autres Comptes Utilisateurs que le leur sous leur propre identité et/ou celle d'un tiers, étant rappelé que toute usurpation d'identité est passible de poursuites et de sanctions pénales.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Toute contravention à cet engagement pourra entraîner la suspension immédiate et sans préavis des Comptes des Utilisateurs concernés.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans le cas où ils ont connaissance d'une usurpation de leurs identifiants par une personne tierce ayant accédé à leur Compte Utilisateur, les Utilisateurs s'engagent à informer l'équipe d'administration du Site Internet par courrier électronique à l'adresse : contact@le-bon-coach.fr ou par courrier à l'adresse suivante : Le Bon Média, 20 rue Berthe Morisot, 95220 Herblay, ou par téléphone au 01 30 26 04 08</p>
        <h3 dir="ltr">17.3 De manière générale, l'Utilisateur s'engage à respecter les principes énumérés dans les présentes CGPS et à respecter les autres Utilisateurs des Services.</h3>
        <p dir="ltr">En cas de violation de ces dispositions, ou de comportement répété portant préjudice aux autres Utilisateurs, la Société sera libre de mettre fin à tout moment et sans préavis à l'adhésion de l'Utilisateur aux Services.</p>
        <h2 dir="ltr">18. EXCLUSION, LIMITE DE RESPONSABILITE, INDEMNISATION</h2>
        <h3 dir="ltr">18.1 EXCLUSION DE LA RESPONSABILITE DE LA SOCIETE</h3>
        <p dir="ltr">Les Prestations des Coachs sont réalisées « telles quelles » et « selon disponibilité ».</p>
        <p dir="ltr">La Société décline toute attestation et garantie expresse, tacite ou prévue par la loi, non expressément énoncée aux présentes conditions, y compris les garanties tacites d'adéquation à une finalité particulière.</p>
        <p dir="ltr">De plus, la Société ne livre aucune attestation de garantie, assurance concernant la fiabilité, la ponctualité, la qualité, le caractère adéquat ou la disponibilité des Services et des Prestations, ou que la réalisation des Prestations se fera sans interruptions ou erreurs.</p>
        <p dir="ltr">La Société ne garantit pas non plus la qualité, le caractère adéquat, la sécurité ou la capacité des Coachs.</p>
        <p dir="ltr">L'Utilisateur accepte donc que les risques découlant de l'utilisation qu'il fait des Services et des Prestations lui appartiennent intégralement et n'appartiennent qu'à lui seul, dans la mesure la plus large consentie par la loi applicable.</p>
        <h3 dir="ltr">18.2 LIMITATION DE RESPONSABILITE DE LA SOCIETE</h3>
        <p dir="ltr">La Société ne sera pas responsable des dommages indirects, accessoires, particuliers, punitifs ou consécutifs, incluant en cela la perte de profits, la perte de données, les dommages corporels ou matériels liés ou se rapportant à toute utilisation des Services et des Prestations, ou en découlant, même si la Société a été informée de la possibilité de tels dommages.</p>
        <p dir="ltr">La Société ne sera pas responsable des dommages, obligations ou pertes découlant de :</p>
        <p dir="ltr">(i) L'utilisation des Services et des Prestations par l'Utilisateur, ou de l'impossibilité pour lui d'avoir accès ou d'utiliser les Services et les Prestations,</p>
        <p dir="ltr">(ii) Toute transaction ou relation entre l'Utilisateur et tout prestataire tiers, même si la Société a été informée de la possibilité de tels dommages.</p>
        <p dir="ltr">Les limites et les exclusions du présent article 18 ne prétendent pas limiter la responsabilité ou modifier tout droit revenant à l'Utilisateur en qualité de consommateur, qui ne saurait être exclu au regard de la loi applicable.</p>
        <h3 dir="ltr">18.3 INDEMNISATION</h3>
        <p dir="ltr">L'Utilisateur accepte de mettre hors de cause la Société ainsi que ses administrateurs, dirigeants, employés et mandataires contre l'ensemble et chacune des actions, demandes, pertes, responsabilités et dépenses liées ou se rapportant à :</p>
        <p dir="ltr">(i) l'utilisation qu'il fait des Services de la Société et des Prestations du Coachs ;</p>
        <p dir="ltr">(ii) l'utilisation par la Société de son contenu d'Utilisateur ; ou</p>
        <p dir="ltr">(iii) une violation de sa part des droits de toute tierce partie, y compris les prestataires tiers.</p>
        <h2 dir="ltr">19. DROITS DE PROPRIETE INTELLECTUELLE DE LA SOCIETE</h2>
        <h3 dir="ltr">19.1 « LEBONCOACH » est une marque protégée et déposée auprès de l'EUIPO sous le numéro ___________</h3>
        <p dir="ltr">La Société est le titulaire exclusif des droits de propriété intellectuelle sur le Site Internet et notamment de l'ensemble des textes, commentaires, ouvrages, illustrations, vidéos et images, qu'ils soient visuels ou sonores, reproduits sur le Site Internet ainsi que ses bases de données dont elle est le producteur.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Toutes ces créations intellectuelles sont protégées au titre du droit d'auteur, du droit des marques, droit des brevets, du droit sui generis des bases de données et droit à l'image, et ce pour le monde entier.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Ces créations sont la propriété pleine et entière de la Société.</p>
        <h3 dir="ltr">19.2 Toutefois, la Société accorde aux Utilisateurs une licence leur permettant de reproduire et d'afficher les contenus du Site Internet, mais uniquement et strictement à leur usage personnel dans le cadre de la visualisation de ce Site et de l'utilisation des Services.</h3>
        <p dir="ltr">Cette licence exclut toutefois le droit des Utilisateurs de modifier, copier, traduire, diffuser, publier, transmettre, distribuer, produire, afficher ou céder les droits de tout contenu apparaissant sur le Site et par l'intermédiaire de celui-ci.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">A ce titre et conformément aux dispositions du Code de la Propriété Intellectuelle, seule l'utilisation pour un usage privé sous réserve de dispositions différentes voire plus restrictives de ce code, est autorisée. Toute autre utilisation est constitutive de contrefaçon et sanctionnée au titre de la Propriété Intellectuelle sauf autorisation préalable de la Société.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Pour rappel, le fait d'apposer un lien hypertexte à destination du le Site Internet, en utilisant la technique dite du « framing » ou du « deep-linking », est strictement interdit.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Toute forme de copie totale ou partielle, d'aspiration et de reproduction de la base de données produite et exploitée par la Société sur le Site Internet est formellement interdite sans son accord écrit et préalable.</p>
        <h2 dir="ltr">20. COMMENTAIRES, NOTATION DES UTILISATEURS, OUTIL DE PARTAGE WEB 2.0, LIENS HYPERTEXTES ET HYPERLIENS</h2>
        <h3 dir="ltr">20.1 La Société a mis en place des outils de communication interactive dits « Web 2.0 » qui permettent aux Utilisateurs de noter leurs expériences d'utilisateur sur la PLATEFORME LE BON COACH.</h3>
        <p dir="ltr">Dans ce prolongement, la Société se réserve le droit d'adresser publiquement sur le Site Internet certains avertissements aux Utilisateurs suite à des plaintes répétées et formulées par d'autres Utilisateurs mécontents.</p>
        <h3 dir="ltr">20.2 La Société a développé des outils permettant à l'Utilisateur de partager avec ses amis toutes les informations souhaitées à travers les différentes applications et sites communautaires, réseaux sociaux et blogs édités par des tiers.</h3>
        <h3 dir="ltr">20.3 Cependant, la Société autorise exclusivement l'Utilisateur à avoir recours à ce type de communication et de partage qu'à des fins de promotion, à l'exclusion de toute utilisation commerciale ou sans rapport avec la promotion des Services de la Société.</h3>
        <h3 dir="ltr">20.4 Le Site Internet peut contenir des liens hypertextes et/ou des hyperliens renvoyant vers des sites édités et hébergés depuis des serveurs tiers, et tout particulièrement concernant les bannières publicitaires, dont la régie n'est aucunement assurée par la Société et sur lesquels aucun contrôle ne peut être exercé.</h3>
        <p dir="ltr">A ce titre, la Société décline toute responsabilité concernant les conséquences juridiques liées à l'accès à ces sites depuis le Site Internet.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L'Utilisateur ne peut publier de liens hypertextes sur sa page personnelle ou sur les forums dès lors que ces liens renvoient à des sites Internet dont le contenu contrevient aux dispositions des présentes CGPS.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">En pareil hypothèse, tout lien litigieux constaté par la Société et/ou ayant fait l'objet d'une notification par un tiers, devra immédiatement et sans délai être supprimé sur simple demande de la Société.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Si, après notification écrite de la Société, l'Utilisateur n'a pas respecté les dispositions du présent article, la Société se réserve le droit de supprimer directement le message litigieux et en cas de récidive de supprimer définitivement le Compte de l'Utilisateur.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L'utilisation de liens hypertextes et/ou d'hyperliens pointant vers le Site Internet est autorisé par la Société dans le strict cadre de la promotion du Site Internet et des Services mais à la condition déterminante que l'intégrité du Site Internet soit préservée et qu'aucun risque de confusion entre le Site Internet et les sites édités par des tiers ne soit constaté.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans cette perspective, la Société interdit formellement à tout Utilisateur d'avoir recours aux techniques dit de « framing », « d'inline linking » et de « deep-linking » portant sur la reproduction servile non autorisée du contenu du Site Internet et son intégration sur des pages web éditées par des tiers.</p>
        <h2 dir="ltr">21. INFORMATIQUE ET LIBERTES – DONNEES PERSONNELLES</h2>
        <p dir="ltr">Le renseignement des informations nominatives collectées dans le cadre des présentes CGPS est obligatoire. Ces informations sont nécessaires pour le traitement et la mise en relation des Utilisateurs ainsi que pour l'établissement des factures. Le défaut de renseignements empêche le bon fonctionnement des Services proposés en ligne par la Société.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, le traitement des informations nominatives collectées sur le Site Internet a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés sous le n°____________</p>
        <h3 dir="ltr">21.1 UTILISATION ET TRANSMISSION DES DONNEES PERSONNELLES DE L'UTILISATEUR</h3>
        <p dir="ltr">Afin d'assurer le traitement, le suivi et la mise en relation des Utilisateurs sur le Site Internet, la Société doit nécessairement traiter les données personnelles de l'Utilisateur. Les données traitées sont transmises à la Société, et le cas échéant aux partenaires concernés, selon les modalités et pour les finalités suivantes :</p>
        <h4 dir="ltr">Mise en relation des Utilisateurs :</h4>
        <p dir="ltr">Le renseignement des données personnelles collectées aux fins de mise en relation des Utilisateurs sur le Site Internet est obligatoire. En leur absence, les Services ne pourront correctement être fournis. Ces données peuvent être transmises auprès des prestataires techniques de la Société, dans la seule finalité de la bonne exécution des Services, ou l'établissement de statistiques.</p>
        <h4 dir="ltr">Envoi d'informations commerciales :</h4>
        <p dir="ltr">Après accord express de l'Utilisateur lors de la collecte de ses données personnelles, la Société se réserve le droit de transmettre ses données à des partenaires commerciaux. Sauf opposition, l'Utilisateur pourra donc être amené à recevoir de la Société et/ou, le cas échant de la part de ses partenaires, des courriers électroniques ou des SMS contenant des informations sur les Services et activités de la Société ainsi que des informations commerciales de la part de sociétés tierces partenaires de la Société. L'Utilisateur conserve le droit de refuser à posteriori une telle communication en manifestant son refus par courrier électronique.</p>
        <h4 dir="ltr">Géolocalisation de l'Utilisateur :</h4>
        <p dir="ltr">En géolocalisant l'Utilisateur, la PLATEFORME LE BON COACH sera en mesure de mettre en relation les Coachs et les Clients les plus proches dans un secteur géographique donné.</p>
        <h3 dir="ltr">21.2 DROITS D'ACCES, DE MODIFICATION, D'OPPOSITION ET DE SUPPRESSION</h3>
        <p dir="ltr">L'Utilisateur dispose d'un droit d'accès, de modification, de rectification et de suppression des informations personnelles collectées par la Société le concernant. Pour exercer ce droit, l'Utilisateur peut envoyer un courrier électronique à la Société à l'adresse électronique : contact@le-bon-coach.fr ou un courrier à l'adresse : Le Bon Média, 20 rue Berthe Morisot, 95220 Herblay.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Conformément à la réglementation en vigueur, toute demande doit être signée et accompagnée de la photocopie d'un titre d'identité portant la signature du requérant et préciser l'adresse à laquelle doit parvenir la réponse. Une réponse sera alors adressée à l'Utilisateur dans un délai de 2 (DEUX) mois suivant la réception de la demande.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L'Utilisateur peut également désactiver sa géolocalisation à partir du Site Internet à tout moment, désactivation qui prend effet immédiatement et sans délai.</p>
        <h3 dir="ltr">21.3 COOKIES</h3>
        <h4 dir="ltr">21.3.1 Lors de la consultation du Site Internet, des informations relatives à la navigation de l'Utilisateur sur le Site Internet, sont susceptibles d'être enregistrées dans des fichiers « cookies » installés sur l'ordinateur ou le terminal mobile de l'Utilisateur, sous réserve des choix que vous auriez exprimés concernant les cookies et que vous pouvez modifier à tout moment.</h4>
        <p dir="ltr">Les cookies sont des identifiants alphanumériques qui sont transférés sur le disque dur de l'Utilisateur par l'intermédiaire de votre navigateur Internet, afin de permettre au système de reconnaître le navigateur de l'Utilisateur et de lui proposer des Services adaptés.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les cookies sont utilisés par la Société afin de mémoriser les préférences de l'Utilisateur, d'optimiser et améliorer l'utilisation du Site Internet par l'Utilisateur en fournissant un contenu qui est plus précisément adapté à ses besoins.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les « cookies » sont utilisés pour :</p>
        <p dir="ltr">- Identifier l'Utilisateur lors de sa connexion au Site Internet</p>
        <p dir="ltr">- Déterminer les paramètres du navigateur Internet de l'Utilisateur, tels que le type de navigateur utilisé et les plug-ins qui y sont installés.</p>
        <p dir="ltr">- Mémoriser les Formulaires de l'Utilisateur.</p>
        <p dir="ltr">- Connaître les pages internet consultées et/ou recherchées sur le Site Internet par l'Utilisateur afin de lui proposer des suggestions adaptées. Aucune donnée personnelle n'est collectée dans le cadre de cette activité, seules des données statistiques y sont collectées et analysées aux fins d'optimisation du Site Internet.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Certains cookies sont installés jusqu'à la fermeture du navigateur de l'Utilisateur, d'autres sont conservés pendant plus longtemps. Les cookies sont conservés pour une durée maximale de 12 mois.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La section Aide de la barre d'outils de la plupart des navigateurs indique comment refuser les nouveaux « cookies » ou obtenir un message qui vous signale leur réception, ou encore comment désactiver tous les « cookies ».</p>
        <h4 dir="ltr">21.3.2 Seul l'émetteur d'un cookie est susceptible de lire ou de modifier des informations qui y sont contenues. Lorsque l'Utilisateur se connecte sur le Site Internet, la Société peut être amenée, sous réserve du choix de l'Utilisateur, à installer divers cookies dans son terminal, permettant de reconnaître le navigateur de son terminal pendant la durée de validité du cookie concerné. Les cookies que la Société émet sont utilisés aux fins décrites ci-dessous, sous réserve du choix de l'Utilisateur, qui résultent des paramètres de son logiciel de navigation utilisé lors de sa visite sur le Site Internet.</h4>
        <p dir="ltr">Plusieurs possibilités sont offertes à l'Utilisateur pour gérer les cookies. Tout paramétrage de l'Utilisateur sur l'utilisation des cookies sera susceptible de modifier sa navigation sur Internet et ses conditions d'accès à certains Services nécessitant l'utilisation de cookies.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L'Utilisateur peut faire le choix à tout moment d'exprimer et de modifier ses souhaits en matière de cookies, par les moyens décrits ci-dessous et/ou en exprimant son refus directement sur la page d'accueil du Site Internet via le pop-up prévu à cet effet.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L'Utilisateur peut configurer son logiciel de navigation de manière à ce que des cookies soient enregistrés dans son terminal ou, au contraire, qu'ils soient rejetés, soit systématiquement, soit selon leur émetteur. L'Utilisateur peut également configurer son logiciel de navigation de manière à ce que l'acceptation ou le refus des cookies lui soient proposés ponctuellement, avant qu'un cookie soit susceptible d'être enregistré dans son terminal.</p>
        <h4 dir="ltr">21.3.3 COOKIES DE COMPORTEMENT</h4>
        <p dir="ltr">La Société ne collecte ni traite à ce jour d'informations personnelles dites « de comportement » de l'Utilisateur, tel que défini par l'Ordonnance n° 2011-1012 du 24 août 2011 relative aux communications électroniques.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Toute mise en place de cookie de comportement sur le Site Internet par la Société fera l'objet au préalable d'une autorisation expresse et préalable de l'Utilisateur sur le Site Internet.</p>
        <h2 dir="ltr">22. MISE EN GARDE – DISCLAIMER</h2>
        <h3 dir="ltr">22.1 CONFORMITE AU SERVICE</h3>
        <p dir="ltr">La Société rappelle en tant que de besoin à l'Utilisateur qu'elle ne fournit pas et n'a pas l'intention de fournir un service d'intérim du travail et/ou d'agir en tant qu'organisme intérimaire du travail.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société n'intervient qu'en qualité d'intermédiaire technique qui permet la proposition, la réservation et l'achat des Services par les Utilisateurs.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">A ce titre, l'Utilisateur reconnait avoir été informé que la Société ne supportera aucune responsabilité vis à vis du Coach et des conditions d'exécution du Service directement réalisée par ce dernier.</p>
        <h3 dir="ltr">22.2 LEGISLATION FISCALE ET SOCIALE</h3>
        <p dir="ltr">L'Utilisateur est informé que la Société ne peut en aucun cas être considérée comme un organisme de travail intérimaire ni comme l'employeur direct ou indirect des Coachs inscrits sur LA PLATEFORME LE BON COACH.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société ne fait qu'exploiter une plateforme en ligne de mise en relation et de réservation de Prestations fournies par des professionnels spécialisés dans le domaine du coaching physique et sportif, du bien-être physique et mental et de l'accompagnement personnel.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Ainsi, la Société ne peut garantir la véracité et la conformité des informations déclarées par le Coach.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans le cas où le Coach aurait fourni des informations mensongères et/ou erronées à la Société sur sa situation administrative, légale et fiscale, la Société ne pourra pas en être tenue responsable et seul le Coach en sera responsable.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Coach reconnait que la Société ne peut en aucun cas être tenue pour responsable des conditions d'exécution des Prestations proposées et réalisées directement par lui.</p>
        <h3 dir="ltr">22.3 La Société est un intermédiaire technique qui permet, via le Site qu'elle édite, la mise en relation entre les Utilisateurs et n'intervient qu'en cette qualité entre les Utilisateurs.</h3>
        <p dir="ltr">La Société n'intervient pas directement dans la relation entre les Utilisateurs. En conséquence, la Société n'exerce aucun contrôle sur la qualité, la sûreté, la sécurité des Services effectués par les Coachs et sur tout événement faisant suite à la mise en relation effectuée via le Site. De même la Société ne peut garantir le caractère régulier de l'activité exercée par les Coachs et qu'ils sont bien titulaires des agréments et/ou diplômes nécessaires pour offrir les Prestations.</p>
        <h3 dir="ltr">22.4 La Société n'est nullement responsable des liens figurant sur son Site avec d'autres sites Internet qui ne lui appartiennent pas et qui ne sont pas contrôlés par elle, dès lors qu'elle n'exerce aucun contrôle sur le contenu, les chartes de protection des données personnelles ou les pratiques des sites édités par des tiers.</h3>
        <h3 dir="ltr">22.5 La Société n'est pas responsable de la disponibilité de ces sites et ne peut en contrôler le contenu ni valider la publicité, les produits et autres informations diffusées sur ces sites Internet.</h3>
        <h3 dir="ltr">22.6 La responsabilité de la Société vis-à-vis des Utilisateurs ne peut être engagée qu'en cas d'inexécution de ses engagements résultant des CGPS.</h3>
        <p dir="ltr">Les Utilisateurs ont pleinement pris conscience des dispositions du présent article et notamment des garanties et limitations de responsabilité susvisées, conditions essentielles sans lesquelles la Société n'aurait jamais contracté.</p>
        <h2 dir="ltr">27. DISPOSITION D'ORDRE TECHNIQUE</h2>
        <p dir="ltr">Les Utilisateurs déclarent accepter les caractéristiques et les limites de l'Internet et de l'informatique et en particulier reconnaissent :</p>
        <ul>
            <li dir="ltr">
                <p dir="ltr">qu'ils ont connaissance de la nature de l'Internet, en particulier de ses performances techniques et des temps de réponse pour consulter, interroger ou transférer des informations ;</p>
            </li>
            <li dir="ltr">
                <p dir="ltr">que la communication par les Utilisateurs d'éléments personnels d'identification ou d'une manière générale de toute information jugée par les Utilisateurs comme confidentielle est faite sous leur propre responsabilité ;</p>
            </li>
            <li dir="ltr">
                <p dir="ltr">qu'il appartient aux Utilisateurs de prendre toutes mesures nécessaires pour s'assurer que les caractéristiques techniques de leur smartphone ou ordinateur lui permettent la consultation des informations ;</p>
            </li>
            <li dir="ltr">
                <p dir="ltr">qu'il appartient aux Utilisateurs de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciel de la contamination par d'éventuels virus circulant à travers le Site Internet.</p>
            </li>
        </ul>
        <p dir="ltr">De ce fait, la responsabilité de la Société ne pourra être engagée pour tous les inconvénients ou dommages inhérents à l'utilisation du réseau Internet, notamment une rupture de service, une intrusion extérieure ou la présence de virus informatiques. Les Services sont fournis en l'état et dans la mesure des disponibilités.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société ne garantit pas une fourniture sans erreur, sans interruption ponctuelle et sécurisée des Services proposés via le Site Internet.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Elle n'est tenue par aucune obligation d'assistance personnalisée notamment technique.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Elle décline toute garantie expresse ou implicite notamment concernant la qualité et la compatibilité du Site Internet à l'utilisation que les Utilisateurs en feront. Elle ne garantit aucun résultat ni bénéfice dans l'utilisation qui sera faite des Services proposés à travers le Site Internet.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Elle ne garantit pas davantage que les fichiers transmis par les Utilisateurs ne puissent pas faire l'objet d'intrusions de tiers non autorisés ni être corrompus ou téléchargés ni encore que les informations et les données circulant sur l'Internet sont protégées contre de telles attaques ou des détournements éventuels.</p>
        <h2 dir="ltr">24. FORCE MAJEURE</h2>
        <h3 dir="ltr">24.1 Tout événement en dehors du contrôle de la Société et contre lequel elle n'a pu raisonnablement se prémunir constitue un cas de force majeure et suspend à ce titre les obligations des parties, comme par exemple sans que cette liste soit limitative :</h3>
        <p dir="ltr">une grève ou une panne technique (EDF, ERDF, des opérateurs de télécommunications, des fournisseurs d'accès Internet ou d'hébergement, des Registrar, etc.), un arrêt de fourniture d'énergie (telle que l'électricité), une défaillance du réseau de communication électronique dont dépend la Société et/ou des réseaux qui viendraient s'y substituer.</p>
        <h3 dir="ltr">24.2 La Société ne pourra être tenue responsable, ou considérée comme ayant failli à ses obligations prévues dans les présentes CGPS, pour toute inexécution liée à un cas de force majeure tel que défini par la loi et la jurisprudence française, à la condition qu'elle le notifie à l'autre partie d'une part, et qu'elle fasse son possible pour minimiser le préjudice et exécuter au plus vite ses obligations après cessation du cas de force majeure d'autre part.</h3>
        <h3 dir="ltr">24.3 En cas de réalisation d'un tel évènement, les parties se rapprocheront pour examiner l'incidence de l'événement et convenir des conditions dans lesquelles l'exécution du contrat sera poursuivie.</h3>
        <h2 dir="ltr">25. CORRESPONDANCE ENTRE LES PARTIES</h2>
        <p dir="ltr">Sauf disposition particulière dans les présentes CGPS, les correspondances échangées entre les Utilisateurs et la Société sont assurées par courrier électronique via le Site.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">En application des articles 1316 et suivants du Code civil et, le cas échéant, de l'article L.110-3 du Code de commerce, les parties déclarent que les informations délivrées par courrier électronique font foi entre les parties tant qu'aucun écrit contradictoirement authentifié et signé, venant remettre en cause ces informations informatisées, ne soit produit.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les éléments tels que le moment de la réception ou de l'émission, ainsi que la qualité des données reçues feront foi par priorité telles que figurant sur les systèmes d'information de la Société, ou telles qu'authentifiées par les procédures informatisées de la Société sauf à en apporter la preuve écrite et contraire par les Utilisateurs.</p>
        <h2 dir="ltr">26. MISE A JOUR DES CGPS</h2>
        <p dir="ltr">La Société est susceptible de modifier et/ou mettre à jour les termes des CGPS en fonction de certaines nécessités économiques ou légales ; les Utilisateurs en cours d'utilisations des Services seront informés et disposeront d'un délai de 8 (HUIT) jours pour notifier par lettre simple ou par courriel leur refus des modifications proposées et par conséquent demander la suppression de leur Compte Utilisateur.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans le cas contraire, les modifications proposées seront considérées comme tacitement acceptées par les Utilisateurs et le présent contrat se poursuivra jusqu'à son terme.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société se réserve le droit de modifier, à tout moment, les caractéristiques des Services, sans que lesdites modifications n'entraînent de modifications substantielles. La Société avertira alors les Utilisateurs de cette modification 15 (QUINZE) jours avant l'entrée en vigueur de ces dernières.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Une copie des CGPS sera adressée au format PDF, par courrier électronique, à l'Utilisateur, dans leur version en vigueur à jour des dernières modifications.</p>
        <h2 dir="ltr">27. INTEGRALITE</h2>
        <p dir="ltr">Les dispositions des présentes CGPS expriment l'intégralité de l'accord conclu entre les Utilisateurs et la Société. Elles prévalent sur toute proposition, échange de lettres antérieures et postérieures à la conclusion des présentes, ainsi que sur toute autre disposition figurant dans les documents échangés entre les parties et relatifs à l'objet des CGPS, sauf avenant dûment signé par les représentants des deux parties.</p>
        <h2 dir="ltr">28. NON RENONCIATION</h2>
        <p dir="ltr">Le fait que l'une des parties aux présentes CGPS n'ait pas exigé l'application d'une clause quelconque, que ce soit de façon permanente ou temporaire, ne pourra en aucun cas être considéré comme une renonciation aux droits de cette partie découlant de ladite clause.</p>
        <h2 dir="ltr">29. NULLITE</h2>
        <p dir="ltr">Si une ou plusieurs dispositions des présentes CGPS sont tenues pour non valides ou déclarées comme telles en application d'une loi, d'un règlement ou à la suite d'une décision devenue définitive d'une juridiction compétente, les autres stipulations des présentes CGPS garderont toute leur force et leur portée.</p>
        <p dir="ltr">Le cas échéant la Société s'engage à supprimer et remplacer immédiatement ladite clause par une clause juridiquement valide.</p>
        <h2 dir="ltr">30. TITRE</h2>
        <p dir="ltr">En cas de difficulté d'interprétation entre le titre et le chapitre de l'un quelconque des articles et l'une quelconque des clauses, les titres seront réputés non-écrits.</p>
        <h2 dir="ltr">31. ATTRIBUTION DE JURIDICTION – LOI APPLICABLE</h2>
        <p dir="ltr">Toute difficulté née de l'interprétation et/ou de l'exécution des présentes sera soumise à l'appréciation des juridictions françaises compétentes, les seules lois applicables étant les lois françaises.</p>
        <p dir="ltr"><strong id="docs-internal-guid-e6503f16-8d9f-1f8f-0df4-d9d94fc0f800"></strong><br class="Apple-interchange-newline"><br></p>
        <h2><br></h2>
    </div>
    
</main>

{% endblock %}