{% extends 'base.html.twig' %}

{% block title %}1001 Services | Conditions générales d'utilisation {% endblock %}

{% block body %}

<main>
    <div id="cgv" class="container">
        <h1 class="tt-01">Conditions générales d'utilisation</h1>
        <div class="intro ">
           <p>veuillez lire attentivement ces conditions générales d'utilisation avant d'utiliser les services proposés par 1001 services.<br>ces conditions générales définissent les conditions et les obligations legales liees a la souscription des services proposes et fournis par la société le bon media depuis le site internet «le bon coach».<br><br> toute utilisation et/ou recours aux services proposés par la société aux utilisateurs impliquent l’acceptation sans réserves des présentes conditions générales. le seul fait d’utiliser lesdits services entraîne l’acceptation pure et simple des présentes conditions générales, ce que l’utilisateur du site internet déclare et reconnaît expressément.<br><br> l’utilisation du service et du site internet est exclusivement réservée aux personnes capables de souscrire des contrats en droit français.</p>
        </div>
        <p><br></p>
        <h2 dir="ltr">1. Mentions légales</h2>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le site Internet « le bon coach» (ci-après « le Site Internet ») est a été conçu et édité par la société le bon media, Société par Actions Simplifiée immatriculée au Registre du Commerce et des Sociétés de Pontoise sous le numéro 818 067 720, dont le siège social se trouve 20 rue Berthe Morisot 95220 Herblay (Ci-après désignée « la Société »).</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Site Internet a fait l’objet d’une déclaration auprès de la CNIL sous le numéro q dT2 1 2 0 5 2 T.</p>
        <p dir="ltr">Contact Client :</p>
        <p dir="ltr">Email : contact@le-bon-coach.fr</p>
        <p dir="ltr">Téléphone : 01 30 26 04 08</p>
        <p dir="ltr">&nbsp;</p>
        <h2 dir="ltr">2. Objet – validation – paiement</h2>
        <p dir="ltr">2.1. Les présentes Conditions Générales d'Utilisation (ci-après les « CGU ») définissent, d’une part, le cadre légal d’utilisation des services proposés par la Société (ci-après les « Services ») sur le Site Internet par les utilisateurs (ci-après « les Utilisateurs »), ainsi que les relations pouvant s’établir entre eux sur le Site, ceux-ci avec les droits qui leur sont reconnus, mais aussi avec les devoirs fondés, indépendamment de ce qui est visé aux présentes.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Il est précisé en tant que de besoin, que l’Utilisateur peut sauvegarder ou imprimer les présentes CGU, à condition toutefois de ne pas les modifier.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La version des CGU disponible sur le Site Internet prévaudra, le cas échéant, sur toute autre version des présentes, à l’exception des modifications qui seraient intervenues postérieurement à son utilisation des Services et ce, conformément au droit commun.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Une copie des présentes CGU sera adressée au format pdf, par courrier électronique, à l’utilisateur, dans leur version en vigueur au moment de leur acceptation.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les présentes CGU été mises à jour le 01/03/2017 Les modifications ultérieures de ces CGU seront opposables aux Utilisateurs du Site Internet à compter de leur mise en ligne, mais elles ne pourront s’appliquer aux contrats de mandat de recherche conclus antérieurement.</p>
        <p dir="ltr">Les CGU sont complétées par les Conditions Particulières de Prestation de Service du Site accessibles à l’adresse www.1000-1services.com. Le tout formant un contrat indivisible, les Parties s’interdisent de dénoncer les présentes CGU aux seules fins de dénoncer les Conditions Particulières de Prestation de Service. L’Utilisateur déclare et reconnaît, en conséquence, avoir lu les présentes CGU ainsi que les Conditions Particulières de Prestation de Service.</p>
        <p dir="ltr">2.2. Le Site Internet est une plateforme communautaire qui propose la mise en relation entre des Utilisateurs de type professionnels et des Utilisateurs de type « non professionnels » (ci-après la « plateforme le bon coach»).</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Elle permet à des professionnels spécialisés dans le domaine du coaching physique et sportif, du bien-être physique et mental et de l’accompagnement personnel, de proposer la réalisation de prestations de coaching à des non professionnels à domicile (ci-après désignés « les Prestations »).</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">En pratique, les Utilisateurs de type « professionnels » (ci-après « les Coachs ») proposent leurs Prestations sur la plateforme 1001 services, avec la description de l’activité, la localisation, le prix, leurs disponibilités, à des Utilisateurs de type « non professionnels » (ci-après « les Clients »).</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les Clients peuvent sélectionner, réserver et payer directement via la plateforme 1001 services le Service qui leur convient.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La navigation sur le Site est gratuite.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">En revanche, la souscription des prestations proposées par les Coachs par l’intermédiaire de la plateforme 1001 services sera payante pour les Clients.</p>
        <p dir="ltr">&nbsp;</p>
        <h2 dir="ltr">3. Définitions</h2>
        <p dir="ltr">Dans les présentes CGU, il est convenu que les expressions ou mots suivants, qu’ils soient employés au singulier ou au pluriel, auront la signification suivante :</p>
        <p dir="ltr">- client : Utilisateur qui souhaite réserver et bénéficier des Prestations proposées par le professionnel.</p>
        <p dir="ltr">- professionnel : Utilisateur qui propose sur la plateforme 1001 services la réalisation d’une ou de plusieurs Prestations aux Clients.</p>
        <p dir="ltr">- code identifiant : ensemble de informations relatives à chaque Utilisateur, qu’il soit Client ou Coach, composé d’un identifiant (Nom, prénom et adresse email) et d’un mot de passe sécurisé choisi par ce dernier afin de pouvoir accéder à son propre Compte Utilisateur.</p>
        <p dir="ltr">- compte utilisateur : module du Site Internet consacré aux Utilisateurs et à l’ensemble des informations propres à leur statut et leur utilisation des Services fournis par la Société.</p>
        <p dir="ltr">- plateforme 1001 services : ensemble des éléments structurant la plateforme qui référence des Coachs et permet à un Client d’être mis en relation avec un Coach et de réserver ses Prestations.</p>
        <p dir="ltr">- prestations : services effectués par le Coach proposés sur le Site Internet au Client.</p>
        <p dir="ltr">- prix : montant global que le Client s’engage à payer au Coach en contrepartie de l’exécution par le Coach de ses Prestations. Le paiement de la prestation est être effectué de différentes manières :</p>
        <p dir="ltr">- par chèque, espèces, virement bancaire directement auprès du professionnel</p>
        <p dir="ltr">- par carte bancaire directement sur la plateforme Le Bon Coach, via l'outil de paiement en ligne stripe</p>
        <p dir="ltr">- réservation : réservation par le Client d’une Prestation auprès d’un Coach, via la plateforme 1001 services.</p>
        <p dir="ltr">- séance : plage horaire pendant laquelle le Coach réalise sa Prestation auprès du Client</p>
        <p dir="ltr">- services : mise en relation par la Société entre le Coach et le Client via la plateforme 1001 services.</p>
        <p dir="ltr">- site ou site internet : site édité par la Société et accessible à l’adresse www.1000-1services.fr</p>
        <p dir="ltr">- utilisateur : toute personne physique ou morale, professionnel ou Client, qui s’est inscrite sur le Site Internet et l’utilise dans les conditions de l’article 6 des présentes.</p>
        <h2 dir="ltr">4. Vérification de l’adéquation des besoins aux services</h2>
        <p dir="ltr">L’Utilisateur du Site Internet déclare par les présentes qu’il a procédé préalablement à la vérification de l’adéquation des Services dudit Site Internet à ses besoins.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Il déclare et garantit ainsi avoir reçu de la Société toutes les informations et conseils qui lui étaient nécessaires pour souscrire aux présentes Conditions Générales de Vente et qu’en conséquence il renonce à toute contestation sur ce point.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans ce prolongement, l’Utilisateur reconnait avoir été informé que la Société n’est qu’un prestataire technique proposant via son Site Internet une plateforme de mise en relation entre professionnels et particuliers.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Il appartient donc à l’Utilisateur de vérifier que les Services proposés sur le Site Internet sont adaptés à ses besoins.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L’Utilisateur déclare en outre qu’il dispose des connaissances, compétences et des ressources, notamment humaines et techniques, requises pour l’utilisation des services de ladite plateforme.</p>
        <h2 dir="ltr">5. Entrée en vigueur – durée</h2>
        <p dir="ltr">Les présentes CGU sont applicables pendant toute la durée de navigation et d’accès de l’Utilisateur sur le Site et pour toute la durée d’utilisation des Services par l’Utilisateur.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L’Utilisateur est informé que les CGU pourront faire l’objet à n’importe quel moment d’une mise à jour dans les conditions de l’article 21 des présentes.</p>
        <h2 dir="ltr">6. L’adhésion et l’inscription</h2>
        <h3 dir="ltr">6.1 La simple navigation sur le Site est libre et gratuite</h3>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Cependant, l’Utilisateur doit, afin de pouvoir proposer ou réserver des Prestations, s’inscrire et créer un Compte Utilisateur dans les conditions du présent article.</p>
        <p dir="ltr">Il existe deux types de Compte Utilisateur :</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">- le compte Client</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">- le compte Coach, dont les conditions de création sont prévues par les Conditions Générales de Prestations de Services, acceptées par le Coach au moment de la création de son Compte Utilisateur.</p>
        <p dir="ltr">&nbsp;</p>
        <h3 dir="ltr">6.2 La création du Compte est libre et gratuite et sa validation se fait par email.</h3>
        <p dir="ltr">&nbsp;</p>
        <h4 dir="ltr">6.2.1 Création du Compte par le Client</h4>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">A l’occasion de son inscription, le Client devra fournir sur le Site son identifiant (nom, prénom, et adresse électronique) et créer un mot de passe.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L’ensemble de ces éléments constitue ses Codes Identifiants, tels que définis à l’article 3 des présentes.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Lors de la création de son Compte le Client devra également renseigner sa date de naissance, son adresse, son numéro de téléphone, ainsi que ses coordonnées bancaires.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Par ailleurs, le Client pourra également compléter et/ou modifier certaines de ses informations à tout moment via son Compte Utilisateur.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">LE CLIENT EST INFORMÉ QUE LA SOCIÉTÉ POURRAIT ÊTRE AMENÉE À TOUT MOMENT À SUPPRIMER DE MANIÈRE DISCRÉTIONNAIRE LE COMPTE UTILISATEUR DU CLIENT EN CAS DE NON-RESPECT DES DISPOSITIONS DES PRÉSENTES CGU PAR LE CLIENT, CE QUE CE DERNIER RECONNAIT EXPRESSÉMENT.</p>
        <h4 dir="ltr">&nbsp;</h4>
        <h4 dir="ltr">6.2.2 Création du Compte par le Coach</h4>
        <p dir="ltr">A l’occasion de son inscription, le Coach devra fournir sur le Site son identifiant (nom, prénom, et adresse électronique) et créer un mot de passe.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L’ensemble de ces éléments constitue ses Codes Identifiants, tels que définis à l’article 3 des présentes.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Lors de la création de son Compte le Coach devra également renseigner sa date de naissance, son adresse, son numéro de téléphone.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Coach doit fournir à la Société une copie de sa carte nationale d’identité ou de son passeport ainsi qu’une photo d’identité.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Par ailleurs, le Coach pourra également compléter et/ou modifier certaines de ses informations à tout moment via son Compte Utilisateur.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">En outre, le Coach doit posséder un casier judiciaire vierge au moment de la création de son Compte ainsi que durant toute la durée de l’utilisation du Site.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Coach devra également fournir un diplôme justifiant de ses capacités et de son aptitude à fournir à des non professionnels les Prestations de coaching physique et sportif et/ou du bien-être physique et mental et/ou de l’accompagnement personnel.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Coach devra également justifier qu’il a souscrit à une assurance de responsabilité civile dans le cadre de la réalisation de ses Prestations.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Coach est informé que la Société pourrait être amenée à tout moment à supprimer de manière discrétionnaire son Compte Utilisateur si elle venait à découvrir une irrégularité quant à ces diplômes et assurances fournis par le Coach, et de manière générale en cas de non-respect des dispositions des présentes CGU par le Coach, ce que ce dernier reconnait expressément.</p>
        <p dir="ltr">&nbsp;</p>
        <h3 dir="ltr">6.3 Acceptation des présentes CGU</h3>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">AVANT DE VALIDER LA CRÉATION DE SON COMPTE, L’UTILISATEUR DOIT COCHER LA CASE « J’AI LU ET J’ACCEPTE LES CONDITIONS GÉNÉRALES DE VENTE ».</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Cette étape est déterminante et l’Utilisateur ne saurait cocher cette case sans avoir préalablement pris connaissance et accepté l’ensemble des clauses des présentes CGU.</p>
        <p dir="ltr">&nbsp;</p>
        <h3 dir="ltr">6.4 utilisation et responsabilité relative à l’utilisation du compte utilisateur</h3>
        <p dir="ltr">Chaque Utilisateur reconnaît son entière responsabilité dans l’usage qui sera fait de ses Codes Identifiants comme du Site.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Il s’engage à effectuer sous ses propres Codes Identifiants tous les actes au sein de son Compte Utilisateur.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">De même, tous les actes effectués sous ces Codes Identifiants seront considérés avoir été effectués par lui-même.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">En cas d’oubli, d’utilisation détournée ou non autorisée de ses Codes Identifiants par un autre Utilisateur, la responsabilité de la Société ne pourra en aucun cas être engagée et l’Utilisateur devra immédiatement informer la Société de cette situation, par courriel à l’adresse suivante contact@le-bon-coach.fr, et/ou par courrier à l’adresse suivante : Le Bon Média, 20 rue Berthe Morisot, 95220 Herblay</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">A réception de cette notification écrite dûment justifiée, la Société procédera à l’étude du dossier et pourra, par mesure de sécurité, suspendre tout accès au Compte Utilisateur.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société traitera la demande de l’Utilisateur dans les meilleurs délais et lui transmettra en retour par courrier électronique les nouveaux Codes Identifiants après vérification de son identité.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L’Utilisateur demeure responsable de l’utilisation de son Compte Utilisateur par des tiers jusqu’à la modification par la Société des Codes Identifiants, ainsi l’Utilisateur garantit la Société de toute action ou réclamation concernant la perte de données résultant de la perte ou de l’usage frauduleux de ses Codes Identifiants.</p>
        <p dir="ltr">&nbsp;</p>
        <h3 dir="ltr">6.5 Recours légaux</h3>
        <p dir="ltr">L’Utilisateur accepte que les enregistrements informatiques ou électroniques effectués par la Société et/ou par ses fournisseurs pour la délivrance des Services, de toutes opérations accomplies notamment par l’intermédiaire de son Compte Utilisateur, puissent être opposés ou utilisés devant toute autorité administrative et/ou judiciaire compétente en tant que preuve.</p>
        <h2 dir="ltr">7. Modalités de commande et de réservation d’une prestation</h2>
        <h3 dir="ltr">1 - Étapes de réservation d’une prestation par le client</h3>
        <p dir="ltr">La Réservation de la Prestation par le Client se déroule en différentes étapes telles que détaillées ci-après :</p>
        <h4 dir="ltr">- Etape 1 : sélection du professionnel et de sa prestation</h4>
        <p dir="ltr">Dès la création de son Compte Utilisateur, le Client a accès à la liste des Coachs référencés sur la plateforme 1001 services.</p>
        <p dir="ltr">Le Client peut alors renseigner les critères de la Prestation qu’il souhaite réserver, ainsi que la plage horaire ou la date de réalisation s’il veut effectuer une réservation à l’avance.</p>
        <p dir="ltr">Le Client a également la possibilité d’indiquer à ce stade s’il souhaite réaliser la Séance seul ou en groupe avec d’autres personnes.</p>
        <p dir="ltr">La plateforme 1001 services lui suggère alors, en fonction de sa géolocalisation, différents Coachs, puis le Client sélectionne le Coach qui lui convient ainsi que sa Prestation.</p>
        <p dir="ltr">&nbsp;</p>
        <h4 dir="ltr">- Étape 2 : validation de la réservation</h4>
        <p dir="ltr">Avant de valider sa Réservation, le Client a accès au récapitulatif de la Prestation qu’il réserve ainsi qu’à son prix.</p>
        <p dir="ltr">Cette étape lui permet également de modifier ou annuler la Réservation avant qu’elle ne soit effectivement validée.</p>
        <p dir="ltr">&nbsp;</p>
        <h4 dir="ltr">- Étape 3 : envoi de la commande vers le coach</h4>
        <p dir="ltr">Suite à la validation de la Réservation, la Réservation est transférée via la plateforme 1001 services au Coach sélectionné.</p>
        <p dir="ltr">&nbsp;</p>
        <h4 dir="ltr">- Étape 4 : confirmation de la réservation</h4>
        <p dir="ltr">Le Client et le Coach reçoivent ensuite une confirmation de Réservation par l’envoi d’un courriel à l’adresse qu’ils ont indiquée sur leur Compte Utilisateur.</p>
        <p dir="ltr">&nbsp;</p>
        <h3 dir="ltr">2 - Conditions d’annulation</h3>
        <p dir="ltr">2.1. Modalités d'annulation</p>
        <p dir="ltr">Toute annulation effectuée par le Client ou par le Coach doit intervenir par l’envoi d’un SMS ou d'un email, aux coordonnées que l’Utilisateur a renseigné au moment de la création de son Compte.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">2.2. Conditions d'annulation de prestation</p>
        <p dir="ltr">2.2.1 Le professionnel annule la séance</p>
        <p dir="ltr">Les deux parties informent la plateforme Le Bon Coach de l'annulation de la séance et du nouveau rendez-vous établi. Un nouvelle séance est alors programmée par le coach dans son espace personnel, le client recevant dès lors confirmation de la nouvelle date. Le paiement de la séance est alors conservé sur la plateforme stripe jusqu'à ce que la nouvelle séance ait eu lieu.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">2.2.2 Le client annule la séance</p>
        <p dir="ltr">Les deux parties informent la plateforme Le Bon Coach de l'annulation de la séance. Si la séance n'est pas reprogrammée, tout ou partie du montant de la séance est recrédité sur le compte utilisateur du client sous forme de code promotionnel à réutiliser sur la plateforme (moins les frais d'utilisation de la plateforme stripe). Le montant de ce crédit est fonction du délai d'annulation par le client :</p>
        <p dir="ltr">- en cas d'annulation plus de 48h avant la séance, le client est intégralement remboursé</p>
        <p dir="ltr">- en cas d'annulation moins de 48h avant la séance, 30% de la somme revient au coach, le reste étant crédité sous forme de code promotionnel</p>
        <p dir="ltr">- en cas d'annulation moins de 2h avant la séance, le coach conserve l'intégralité de la somme</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">2.3. Mise en garde</p>
        <p dir="ltr">Par souci d'image de fiabilité et de confiance des clients envers la plateforme et les coachs, nous demandons à ces derniers de limiter dans la mesure du possible les annulations de séance, ou de trouver d'autres créneaux horaires pour assurer les prestations.</p>
        <p dir="ltr">Toutefois, en cas d’impossibilité pour le Coach de maintenir la Séance et si cette annulation est justifiée, le Coach sera autorisé exceptionnellement à annuler la Séance par l’envoi d’un SMS ou d'un mail.</p>
        <p dir="ltr">Les Utilisateurs sont néanmoins informés que plusieurs annulations, par un même de Coach, de Séances réservées par un Client pourra entrainer des sanctions auprès du Coach, prévues aux Conditions Générales de Prestations de Services accessibles sur le Site Internet à l’adresse :<a href="https://www.le-bon-coach.fr/fr/CGPS.php" data-mce-href="/fr/CGPS.php"> Conditions particulieres de prestations de services</a>.</p>
        <p dir="ltr">&nbsp;</p>
        <h3 dir="ltr">3 - Conditions de modification d’une réservation</h3>
        <p dir="ltr">Toute modification de la Réservation entre le coach et le client interviendra par téléphone (appel ou SMS), aux coordonnées renseignées par les deux parties lors de la création de leur Compte Utilisateur.</p>
        <p dir="ltr">3.2 Modification par le client</p>
        <p dir="ltr">Le Client a la possibilité de proposer au Coach de modifier l’heure, la date ou le lieu de réalisation de la Prestation, en contactant directement le Coach par SMS ou par mail.</p>
        <p dir="ltr">Le Client est également informé que le Prix de la Prestation réservée peut varier en fonction du tarif applicable à la nouvelle date ou heure ou nouveau lieu de réservation.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">3.3 Modification par le coach</p>
        <p dir="ltr">Le Coach a la possibilité de proposer au client de modifier l’heure, la date ou le lieu de réalisation de la Prestation, en contactant directement le Client par téléphone ou par mail.</p>
        <p dir="ltr">Le Coach est tout de même informé que le Client peut refuser cette modification. Dans ce cas, en cas d’impossibilité du maintien de la Séance par le Coach, la Réservation sera considérée comme annulée par le Coach, ce qui entrainera les mêmes conséquences que celles prévues en cas d’annulation par le Coach aux Conditions Particulières de Prestations de Services, accessibles sur le Site Internet à l’adresse : <a href="https://www.le-bon-coach.fr/fr/CGPS.php" data-mce-href="/fr/CGPS.php">Conditions particulieres de prestations de services</a>.</p>
        <h3 dir="ltr">&nbsp;</h3>
        <h3 dir="ltr">4 - Neutralité de la société dans la relation contractuelle liant le coach au client</h3>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les Utilisateurs sont également informés que la réservation d’une Prestation via la plateforme 1001 services se matérialise par une relation contractuelle directe entre le Coach et le Client.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans ces conditions, la Société n'intervient aucunement dans la fourniture de la Prestation du Coach et auprès du Client, et ne pourra en aucun cas être tenue responsable d’un quelconque défaut de la Prestation ou d’un quelconque dommage causé par sa réalisation.</p>
        <p dir="ltr">En particulier dans le cas d'un litige entre le coach et son client sur le déroulement de la séance (insatisfaction du client...), le montant de la séance ayant eu lieu est du au coach, le client restant libre d'indiquer son insatisfaction par un avis sur la fiche personnelle de celui-ci.</p>
        <p dir="ltr">Les CGU resteront en vigueur vis-à-vis de l’Utilisateur tant qu’il utilisera les Services du Site Internet et tant qu’il en sera membre.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société pourra mettre fin à tout moment et sans préavis à l’adhésion de l'Utilisateur du Site Internet, si celui-ci ne respecte pas les termes des présentes CGU.</p>
        <h2 dir="ltr">8. Absence de droit de rétractation</h2>
        <p dir="ltr">Conformément à l’article L. 121-21-8 alinéa 1 4° du Code de la consommation ci-après reproduit :</p>
        <p dir="ltr">« Le droit de rétractation ne peut être exercé pour les contrats :</p>
        <p dir="ltr">1° De fourniture de services pleinement exécutés avant la fin du délai de rétractation et dont l'exécution a commencé après accord préalable exprès du consommateur et renoncement exprès à son droit de rétractation (…).»</p>
        <p dir="ltr">Par conséquent, en acceptant les présentes CGU, l’Utilisateur reconnait expressément avoir été informé de cette absence de droit de rétractation, et l’accepter de manière express, ferme et définitive.</p>
        <h2 dir="ltr">9. Dispositions financières</h2>
        <h3 dir="ltr">9.1 Paiement de la Prestation par le Client</h3>
        <p dir="ltr">Le Prix payé par le Client est celui déterminé par le Coach et affiché sur le Site Internet au moment de la confirmation de la Réservation de la Prestation.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les Utilisateurs sont informés et acceptent expressément que le Prix payé par le Client directement au Coach à l’issue de la Séance correspond à la contrepartie financière des Prestations accomplies par le Coach. Le Client est informé que ce montant est déterminé par le Coach lui-même.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Client est informé que le montant de la Prestation accomplie par le Coach ne saurait être systématiquement le même et qu’il est susceptible d’évoluer en fonction de la date et l’heure de la Réservation, du lieu de réalisation de la Prestation, de l’affluence des Réservations.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">De même, le Client est informé que les méthodes de paiement des Prestations sont établies par le Coach, qui pourra proposer au Client un paiement soit par carte bancaire (Carte Bleue, Visa™, MasterCard™, American Express), soit en espèce ou soit par chèque.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Client pourra à tout moment accéder depuis son Compte Utilisateur au récapitulatif de l’ensemble des Prestations qu’il aura réservées, précisant notamment la date de cette Prestation et son Prix.</p>
        <h3 dir="ltr">9.2 Rémunération de la société</h3>
        <p dir="ltr">Le Client reconnaît que le Prix affiché sur le Site Internet et détaillé dans le courriel de confirmation de commande correspond au Prix TTC dû par le Client au titre de l'exécution de la Prestation par le Coach.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société ne facture au Client aucun Frais de services du fait de la mise en relation avec le Coach et de l'utilisation de la plateforme 1001 services.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La rémunération de la Société est assurée par l’Abonnement du Coach aux Services de la Société, dans les conditions énoncées aux Conditions Générales de Prestations de Services.</p>
        <h2 dir="ltr">10. Le comportement général des utilisateurs</h2>
        <p dir="ltr">10.1. Les Utilisateurs doivent être âgés de plus de 18 ans.</p>
        <p dir="ltr">Les Utilisateurs âgés de moins de 18 ans doivent obligatoirement et sans qu’aucune dérogation ne soit possible être accompagnés de leurs parents lors de la réalisation de la Prestation par le Coach.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">En cas de doute sur la majorité des Utilisateurs, la Société se réserve le droit de suspendre immédiatement et sans préavis des Comptes des Utilisateurs concernés.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les Utilisateurs sont également informés qu’en cas de doute sur leur majorité, les Coachs sont dans l’obligation de refuser la réalisation de leur Prestation et d’en informer la Société.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société ne saurait en aucun cas être tenue responsable en cas d’une utilisation de ses Services par un Utilisateur âgé de moins de 18 ans en violation du présent article 10.1.</p>
        <p dir="ltr">10.2 Les Utilisateurs du Site Internet s’interdisent, à l’occasion de leur inscription et de leur adhésion aux présentes CGU, comme par la suite de l’utilisation des Services mis à leur disposition, de :</p>
        <p dir="ltr">- Communiquer des informations en vue de leur inscription qui soient incorrectes ou fausses ;</p>
        <p dir="ltr">- Indiquer la moindre information sensible d’origine raciale ou ethnique ou portant sur des opinions politiques, philosophiques ou religieuses, sur une appartenance à un syndicat, sur la vie sexuelle ou la santé, contraire aux bonnes mœurs et à la loi.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">En cas d’infraction ou de contravention à ces règles, la Société se réserve le droit de supprimer ces messages litigieux sans préavis, et d’empêcher l’accès des Utilisateurs aux Services et à leur Compte Utilisateur.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les Utilisateurs doivent veiller à ce que toutes les informations communiquées ultérieurement restent correctes et s’interdisent de créer ou d’utiliser sur le Site Internet, sauf autorisation, d’autres Comptes Utilisateurs que le leur sous leur propre identité et/ou celle d’un tiers, étant rappelé que toute usurpation d’identité est passible de poursuites et de sanctions pénales.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Toute contravention à cet engagement pourra entraîner la suspension immédiate et sans préavis des Comptes des Utilisateurs concernés.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans le cas où ils ont connaissance d’une usurpation de leurs identifiants par une personne tierce ayant accédé à leur Compte Utilisateur, les Utilisateurs s’engagent à informer l’équipe d’administration du Site Internet par courrier électronique à l’adresse : contact@le-bon-coach.fr ou par courrier à l’adresse suivante : Le Bon Média, 20 rue Berthe Morisot, 95220 Herblay, ou par téléphone au 01 30 26 04 08</p>
        <p dir="ltr">10.3 De manière général, l’Utilisateur s’engage à respecter les principes énumérés dans les présentes CGU et à respecter les autres Utilisateurs des Services.</p>
        <p dir="ltr">En cas de violation de ces dispositions, ou de comportement répété portant préjudice aux autres Utilisateurs, la Société sera libre de mettre fin à tout moment et sans préavis à l'adhésion de l’Utilisateur aux Services.</p>
        <h2 dir="ltr">13. Exclusion, limite de responsabilité, indemnisation.</h2>
        <h3 dir="ltr">13.1 exclusion de la responsabilité de la société</h3>
        <p dir="ltr">Les Prestations des Coachs sont réalisées « telles quelles » et « selon disponibilité ».</p>
        <p dir="ltr">La Société décline toute attestation et garantie expresse, tacite ou prévue par la loi, non expressément énoncée aux présentes conditions, y compris les garanties tacites d’adéquation à une finalité particulière.</p>
        <p dir="ltr">De plus, la Société ne livre aucune attestation de garantie, assurance concernant la fiabilité, la ponctualité, la qualité, le caractère adéquat ou la disponibilité des Services et des Prestations, ou que la réalisation des Prestations se fera sans interruptions ou erreurs.</p>
        <p dir="ltr">La Société ne garantit pas non plus la qualité, le caractère adéquat, la sécurité ou la capacité des Coachs.</p>
        <p dir="ltr">L’Utilisateur accepte donc que les risques découlant de l’utilisation qu’il fait des Services et de la réalisation des Prestations lui appartiennent intégralement et n’appartiennent qu’à lui seul, dans la mesure la plus large consentie par la loi applicable.</p>
        <h3 dir="ltr">13.2 limitation de responsabilité de la société</h3>
        <p dir="ltr">La Société ne sera pas responsable des dommages indirects, accessoires, particuliers, punitifs ou consécutifs, incluant en cela la perte de profits, la perte de données, les dommages corporels ou matériels liés ou se rapportant à toute utilisation des Services et des Prestations, ou en découlant, même si la Société a été informée de la possibilité de tels dommages.</p>
        <p dir="ltr">La Société ne saura être tenue responsable en cas de litige après le déroulement d'une séance, notamment s'il s'agit d'une insatisfaction du client. Toute séance ayant eu lieu est due et doit être réglée. Le client reste néanmoins libre de laisser un commentaire et une note sur la fiche personnelle du coach pour témoigner de son ressenti.</p>
        <p dir="ltr">La Société ne sera pas responsable des dommages, obligations ou pertes découlant de :</p>
        <p dir="ltr">(i) L’utilisation des Services et des Prestations par l’Utilisateur, ou de l’impossibilité pour lui d’avoir accès ou d’utiliser les Services et les Prestations,</p>
        <p dir="ltr">(ii) Toute transaction ou relation entre l’Utilisateur et tout prestataire tiers, même si la Société a été informée de la possibilité de tels dommages.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les limites et les exclusions du présent article 13 ne prétendent pas limiter la responsabilité ou modifier tout droit revenant à l’Utilisateur en qualité de consommateur, qui ne saurait être exclu au regard de la loi applicable.</p>
        <h3 dir="ltr">13.3 Indemnisation</h3>
        <p dir="ltr">L’Utilisateur accepte de mettre hors de cause la Société ainsi que ses administrateurs, dirigeants, employés et mandataires contre l’ensemble et chacune des actions, demandes, pertes, responsabilités et dépenses liées ou se rapportant à : (i) l’utilisation qu’il fait des Services de la Société et des Prestations du Coachs ; (ii) l’utilisation par la Société de son contenu d’Utilisateur ; ou (iii) une violation de sa part des droits de toute tierce partie, y compris les prestataires tiers.</p>
        <h2 dir="ltr">14. Droits de propriété intellectuelle de la société</h2>
        <p dir="ltr">14.1. « leboncoach » est une marque protégée et déposée auprès de l’EUIPO sous le numéro ___________</p>
        <p dir="ltr">La Société est le titulaire exclusif des droits de propriété intellectuelle sur le Site Internet et notamment de l’ensemble des textes, commentaires, ouvrages, illustrations, vidéos et images, qu’ils soient visuels ou sonores, reproduits sur le Site Internet ainsi que ses bases de données dont elle est le producteur.</p>
        <p dir="ltr">Toutes ces créations intellectuelles sont protégées au titre du droit d’auteur, du droit des marques, droit des brevets, du droit sui generis des bases de données et droit à l’image, et ce pour le monde entier.</p>
        <p dir="ltr">Ces créations sont la propriété pleine et entière de la Société.</p>
        <p dir="ltr">14.2. Toutefois, la Société accorde aux Utilisateurs une licence leur permettant de reproduire et d’afficher les contenus du Site Internet, mais uniquement et strictement à leur usage personnel dans le cadre de la visualisation de ce Site et de l’utilisation des Services.</p>
        <p dir="ltr">Cette licence exclut toutefois le droit des Utilisateurs de modifier, copier, traduire, diffuser, publier, transmettre, distribuer, produire, afficher ou céder les droits de tout contenu apparaissant sur le Site et par l’intermédiaire de celui-ci.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">A ce titre et conformément aux dispositions du Code de la Propriété Intellectuelle, seule l’utilisation pour un usage privé sous réserve de dispositions différentes voire plus restrictives de ce code, est autorisée. Toute autre utilisation est constitutive de contrefaçon et sanctionnée au titre de la Propriété Intellectuelle sauf autorisation préalable de la Société.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Pour rappel, le fait d’apposer un lien hypertexte à destination d'un Site Internet, en utilisant la technique dite du « framing » ou du « deep-linking », est strictement interdit.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Toute forme de copie totale ou partielle, d’aspiration et de reproduction de la base de données produite et exploitée par la Société sur le Site Internet est formellement interdite sans son accord écrit et préalable.</p>
        <h2 dir="ltr">15. Commentaires, notation des utilisateurs, outil de partage web 2.0, liens hypertextes et hyperliens</h2>
        <p dir="ltr">15.1 La Société a mis en place des outils de communication interactive dits « Web 2.0 » qui permettent à aux Utilisateurs de noter leurs expériences d’utilisateur sur la plateforme 1001 services.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans ce prolongement, la Société se réserve le droit d’adresser publiquement sur le Site Internet certains avertissements aux Utilisateurs suite à des plaintes répétées et formulées par d’autres Utilisateurs mécontents.</p>
        <p dir="ltr">15.2. La Société a développé des outils permettant à l’Utilisateur de partager avec ses amis toutes les informations souhaitées à travers les différentes applications et sites communautaires, réseaux sociaux et blogs édités par des tiers.</p>
        <p dir="ltr">15.3. Cependant, la Société autorise exclusivement l’Utilisateur à avoir recours à ce type de communication et de partage qu’à des fins de promotion, à l’exclusion de toute utilisation commerciale ou sans rapport avec la promotion des Services de la Société.</p>
        <p dir="ltr">15.4. Le Site Internet peut contenir des liens hypertextes et/ou des hyperliens renvoyant vers des sites édités et hébergés depuis des serveurs tiers, et tout particulièrement concernant les bannières publicitaires, dont la régie n’est aucunement assurée par la Société et sur lesquels aucun contrôle ne peut être exercé.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">A ce titre, la Société décline toute responsabilité concernant les conséquences juridiques liées à l’accès à ces sites depuis le Site Internet. L’Utilisateur ne peut publier de liens hypertextes sur sa page personnelle ou sur les forums dès lors que ces liens renvoient à des sites Internet dont le contenu contrevient aux dispositions des présentes CGU.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">En pareil hypothèse, tout lien litigieux constaté par la Société et/ou ayant fait l’objet d’une notification par un tiers, devra immédiatement et sans délai être supprimé sur simple demande de la Société.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Si, après notification écrite de la Société, l’Utilisateur n’a pas respecté les dispositions du présent article, la Société se réserve le droit de supprimer directement le message litigieux et en cas de récidive de supprimer définitivement le Compte de l’Utilisateur.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L’utilisation de liens hypertextes et/ou d’hyperliens pointant vers le Site Internet est autorisé par la Société dans le strict cadre de la promotion du Site Internet et des Services mais à la condition déterminante que l’intégrité du Site Internet soit préservée et qu’aucun risque de confusion entre le Site Internet et les sites édités par des tiers ne soit constaté.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans cette perspective, la Société interdit formellement à tout Utilisateur d’avoir recours aux techniques dit de « framing », « d’inline linking » et de « deep-linking » portant sur la reproduction servile non autorisée du contenu du Site Internet et son intégration sur des pages web éditées par des tiers.</p>
        <h2 dir="ltr">16. Informatique et libertés – données personnelles</h2>
        <p dir="ltr">Le renseignement des informations nominatives collectées dans le cadre des présentes CGU est obligatoire. Ces informations sont nécessaires pour le traitement et la mise en relation des Utilisateurs ainsi que pour l’établissement des factures. Le défaut de renseignements empêche le bon fonctionnement des Services proposés en ligne par la Société.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, le traitement des informations nominatives collectées sur le Site Internet a fait l’objet d’une déclaration auprès de la Commission Nationale de l’Informatique et des Libertés sous le n°____________</p>
        <h3 dir="ltr">16.1. Conformité avec le Règlement Général pour la Protection des Données</h3>
        <p dir="ltr">A L'ATTENTION DES COACHS. Pour garantir la continuité de notre service conformément au RGPD, nous sommes tenus de mettre à jour le contrat qui nous lie. Vous recevrez sous peu un avenant relatif au traitement des données, qui sera intégré au contrat et contiendra nos conditions RGPD actualisées. Les principales modifications apportées aux conditions sont les suivantes :</p>
        <p dir="ltr">- Nous déclarons que nous agissons chacun en tant que contrôleur indépendant des données personnelles relatives aux individus auprès desquels nous collectons des paiements pour votre compte.</p>
        <p dir="ltr">- Compte tenu de ce qui précède, nous confirmons que nous sommes chacun responsable des obligations qui nous incombent en vertu du RGPD, indépendamment l'un de l'autre.</p>
        <p dir="ltr">Lorsque vous choisissez d'utiliser vos propres pages de paiements et/ou notifications personnalisées, vous devez faire preuve de transparence et vous assurer que les individus qui effectuent des paiements en votre faveur sont informésdu fait que nou traitons leurs données personnelles dans le but d'effectuer ces paiements.</p>
        <ul>
           <li dir="ltr"><br></li>
           <li dir="ltr"><br></li>
        </ul>
        <h3 dir="ltr">16.2. Utilisation et transmission des données personnelles de l’utilisateur</h3>
        <p dir="ltr">Afin d’assurer le traitement, le suivi et la mise en relation des Utilisateurs sur le Site Internet, la Société doit nécessairement traiter les données personnelles de l’Utilisateur. Les données traitées sont transmises à la Société, et le cas échéant aux partenaires concernés, selon les modalités et pour les finalités suivantes :</p>
        <ul>
           <ul>
              <li dir="ltr">
                 <p dir="ltr">Mise en relation des Utilisateurs :</p>
              </li>
           </ul>
        </ul>
        <p dir="ltr">Le renseignement des données personnelles collectées aux fins de mise en relation des Utilisateurs sur le Site Internet est obligatoire. En leur absence, les Services ne pourront correctement être fournis. Ces données peuvent être transmises auprès des prestataires techniques de la Société, dans la seule finalité de la bonne exécution des Services, ou l’établissement de statistiques.</p>
        <ul>
           <ul>
              <li dir="ltr">
                 <p dir="ltr">Facturation des Frais de Service :</p>
              </li>
           </ul>
        </ul>
        <p dir="ltr">La Société est dans l’obligation de collecter certaines informations personnelles de l’Utilisateur afin de pouvoir facturer à ce dernier les Frais de Service. Il est rappelé que la Société n’a jamais accès aux informations de paiement et confidentielles des Utilisateurs.</p>
        <ul>
           <ul>
              <li dir="ltr">
                 <p dir="ltr">Facturation des Frais de Service :</p>
              </li>
           </ul>
        </ul>
        <p dir="ltr">La Société est dans l’obligation de collecter certaines informations personnelles de l’Utilisateur afin de pouvoir facturer à ce dernier les Frais de Service. Il est rappelé que la Société n’a jamais accès aux informations de paiement et confidentielles des Utilisateurs.</p>
        <ul>
           <ul>
              <li dir="ltr">
                 <p dir="ltr">Envoi d’informations commerciales :</p>
              </li>
           </ul>
        </ul>
        <p dir="ltr">Après accord express de l’Utilisateur lors de la collecte de ses données personnelles, la Société se réserve le droit de transmettre ses données à des partenaires commerciaux. Sauf opposition, l’Utilisateur pourra donc être amené à recevoir de la Société et/ou, le cas échant de la part de ses partenaires, des courriers électroniques ou des SMS contenant des informations sur les Services et activités de la Société ainsi que des informations commerciales de la part de sociétés tierces partenaires de la Société. L’Utilisateur conserve le droit de refuser à posteriori une telle communication en manifestant son refus par courrier électronique.</p>
        <ul>
           <ul>
              <li dir="ltr">
                 <p dir="ltr">Géolocalisation de l’Utilisateur :</p>
              </li>
           </ul>
        </ul>
        <p dir="ltr">En géolocalisant l’Utilisateur, la plateforme 1001 services sera en mesure de mettre en relation les Coachs et les Clients les plus proches dans un secteur géographique donné.</p>
        <h3 dir="ltr">16.3. Droits d’accès, de modification, d’opposition et de suppression</h3>
        <p dir="ltr">L’Utilisateur dispose d’un droit d’accès, de modification, de rectification et de suppression des informations personnelles collectées par la Société le concernant. Pour exercer ce droit, l’Utilisateur peut envoyer un courrier électronique à la Société à l’adresse électronique : contact@le-bon-coach.fr ou un courrier à l’adresse : Le Bon Média, 20 rue Berthe Morisot, 95220 Herblay.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Conformément à la réglementation en vigueur, toute demande doit être signée et accompagnée de la photocopie d’un titre d’identité portant la signature du requérant et préciser l’adresse à laquelle doit parvenir la réponse. Une réponse sera alors adressée à l’Utilisateur dans un délai de 2 (deux) mois suivant la réception de la demande.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L’Utilisateur peut également désactiver sa géolocalisation à partir du Site Internet à tout moment, désactivation qui prend effet immédiatement et sans délai.</p>
        <h3 dir="ltr">16.4. Cookies</h3>
        <p dir="ltr">16.4.1. Lors de la consultation du Site Internet, des informations relatives à la navigation de l’Utilisateur sur le Site Internet, sont susceptibles d’être enregistrées dans des fichiers « cookies » installés sur l’ordinateur ou le terminal mobile de l’Utilisateur, sous réserve des choix que vous auriez exprimés concernant les cookies et que vous pouvez modifier à tout moment.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les cookies sont des identifiants alphanumériques qui sont transférés sur le disque dur de l’Utilisateur par l’intermédiaire de votre navigateur Internet, afin de permettre au système de reconnaître le navigateur de l’Utilisateur et de lui proposer des Services adaptés.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les cookies sont utilisés par la Société afin de mémoriser les préférences de l’Utilisateur, d’optimiser et améliorer l’utilisation du Site Internet par l’Utilisateur en fournissant un contenu qui est plus précisément adapté à ses besoins.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les « cookies » sont utilisés pour :</p>
        <p dir="ltr">- Identifier l’Utilisateur lors de sa connexion au Site Internet - Déterminer les paramètres du navigateur Internet de l’Utilisateur, tels que le type de navigateur utilisé et les plug-ins qui y sont installés. - Mémoriser les Formulaires de l’Utilisateur. - Connaître les pages internet consultées et/ou recherchées sur le Site Internet par l’Utilisateur afin de lui proposer des suggestions adaptées. Aucune donnée personnelle n’est collectée dans le cadre de cette activité, seules des données statistiques y sont collectées et analysées aux fins d’optimisation du Site Internet.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Certains cookies sont installés jusqu’à la fermeture du navigateur de l’Utilisateur, d’autres sont conservés pendant plus longtemps. Les cookies sont conservés pour une durée maximale de 12 mois.</p>
        <p dir="ltr">La section Aide de la barre d’outils de la plupart des navigateurs indique comment refuser les nouveaux « cookies » ou obtenir un message qui vous signale leur réception, ou encore comment désactiver tous les « cookies ».</p>
        <p dir="ltr">16.4.2. Seul l’émetteur d’un cookie est susceptible de lire ou de modifier des informations qui y sont contenues. Lorsque l’Utilisateur se connecte sur le Site Internet, la Société peut être amenée, sous réserve du choix de l’Utilisateur, à installer divers cookies dans son terminal, permettant de reconnaître le navigateur de son terminal pendant la durée de validité du cookie concerné. Les cookies que la Société émet sont utilisés aux fins décrites ci-dessous, sous réserve du choix de l’Utilisateur, qui résultent des paramètres de son logiciel de navigation utilisé lors de sa visite sur le Site Internet.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Plusieurs possibilités sont offertes à l’Utilisateur pour gérer les cookies. Tout paramétrage de l’Utilisateur sur l’utilisation des cookies sera susceptible de modifier sa navigation sur Internet et ses conditions d’accès à certains Services nécessitant l’utilisation de cookies.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L’Utilisateur peut faire le choix à tout moment d’exprimer et de modifier ses souhaits en matière de cookies, par les moyens décrits ci-dessous et/ou en exprimant son refus directement sur la page d’accueil du Site Internet via le pop-up prévu à cet effet.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">L’Utilisateur peut configurer son logiciel de navigation de manière à ce que des cookies soient enregistrés dans son terminal ou, au contraire, qu’ils soient rejetés, soit systématiquement, soit selon leur émetteur. L’Utilisateur peut également configurer son logiciel de navigation de manière à ce que l’acceptation ou le refus des cookies lui soient proposés ponctuellement, avant qu’un cookie soit susceptible d’être enregistré dans son terminal.</p>
        <p dir="ltr">&nbsp;</p>
        <h4 dir="ltr">16.4.3 Cookies de comportement</h4>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société ne collecte ni traite à ce jour d’informations personnelles dites « de comportement » de l’Utilisateur, tel que défini par l’Ordonnance n° 2011-1012 du 24 août 2011 relative aux communications électroniques. Toute mise en place de cookie de comportement sur le Site Internet par la Société fera l’objet au préalable d’une autorisation expresse et préalable de l’Utilisateur sur le Site Internet.</p>
        <h2 dir="ltr">17. Mise en garde – disclaimer</h2>
        <h3 dir="ltr">17.1. Conformité au service</h3>
        <p dir="ltr">La Société rappelle en tant que de besoin à l’Utilisateur qu’elle ne fournit pas et n’a pas l’intention de fournir un service d'intérim du travail et/ou d’agir en tant qu'organisme intérimaire du travail.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société n’intervient qu’en qualité d’intermédiaire technique qui permet la proposition, la réservation et l’achat des Services par les Utilisateurs.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">A ce titre, l’Utilisateur reconnait avoir été informé que la Société ne supportera aucune responsabilité vis à vis du Coach et des conditions d'exécution du Service directement réalisée par ce dernier.</p>
        <h3 dir="ltr">17.2. Législation fiscale et sociale</h3>
        <p dir="ltr">L’Utilisateur est informé que la Société ne peut en aucun cas être considérée comme un organisme de travail intérimaire ni comme l'employeur direct ou indirect des Coachs inscrits sur la plateforme 1001 services.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société ne fait qu'exploiter une plateforme en ligne de mise en relation et de réservation de Prestations fournies par des professionnels spécialisés dans le domaine du coaching physique et sportif, du bien-être physique et mental et de l’accompagnement personnel.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Ainsi, la Société ne peut garantir la véracité et la conformité des informations déclarées par le Coach.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans le cas où le Coach aurait fourni des informations mensongères et/ou erronées à la Société sur sa situation administrative, légale et fiscale, la Société ne pourra pas en être tenue responsable et seul le Coach en sera responsable.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Le Coach reconnait que la Société ne peut en aucun cas être tenue pour responsable des conditions d'exécution des Prestations proposées et réalisées directement par lui.</p>
        <p dir="ltr">17.3. La Société est un intermédiaire technique qui permet, via le Site qu’elle édite, la mise en relation entre les Utilisateurs et n'intervient qu'en cette qualité entre les Utilisateurs.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société n'intervient pas directement dans la relation entre les Utilisateurs. En conséquence, la Société n’exerce aucun contrôle sur la qualité, la sûreté, la sécurité des Services effectués par les Coachs et sur tout événement faisant suite à la mise en relation effectuée via le Site. De même la Société ne peut garantir le caractère régulier de l'activité exercée par les Coachs et qu'ils sont bien titulaires des agréments et/ou diplômes nécessaires pour offrir les Prestations.</p>
        <p dir="ltr">17.4. La Société n’est nullement responsable des liens figurant sur son Site avec d’autres sites Internet qui ne lui appartiennent pas et qui ne sont pas contrôlés par elle, dès lors qu’elle n’exerce aucun contrôle sur le contenu, les chartes de protection des données personnelles ou les pratiques des sites édités par des tiers.</p>
        <p dir="ltr">17.5. La Société n’est pas responsable de la disponibilité de ces sites et ne peut en contrôler le contenu ni valider la publicité, les produits et autres informations diffusées sur ces sites Internet.</p>
        <p dir="ltr">17.6. La responsabilité de la Société vis-à-vis des Utilisateurs ne peut être engagée qu’en cas d’inexécution de ses engagements résultant des CGU.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les Utilisateurs ont pleinement pris conscience des dispositions du présent article et notamment des garanties et limitations de responsabilité susvisées, conditions essentielles sans lesquelles la Société n’aurait jamais contracté.</p>
        <h2 dir="ltr">18. Disposition d’ordre technique</h2>
        <p dir="ltr">Les Utilisateurs déclarent accepter les caractéristiques et les limites de l’Internet et de l’informatique et en particulier reconnaissent :</p>
        <ul>
           <li dir="ltr">
              <p dir="ltr">qu’ils ont connaissance de la nature de l'Internet, en particulier de ses performances techniques et des temps de réponse pour consulter, interroger ou transférer des informations ;</p>
           </li>
           <li dir="ltr">
              <p dir="ltr">que la communication par les Utilisateurs d’éléments personnels d'identification ou d'une manière générale de toute information jugée par les Utilisateurs comme confidentielle est faite sous leur propre responsabilité ;</p>
           </li>
           <li dir="ltr">
              <p dir="ltr">qu'il appartient aux Utilisateurs de prendre toutes mesures nécessaires pour s'assurer que les caractéristiques techniques de leur smartphone ou ordinateur lui permettent la consultation des informations ;</p>
           </li>
           <li dir="ltr">
              <p dir="ltr">qu'il appartient aux Utilisateurs de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciel de la contamination par d'éventuels virus circulant à travers le Site Internet.</p>
           </li>
        </ul>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">De ce fait, la responsabilité de la Société ne pourra être engagée pour tous les inconvénients ou dommages inhérents à l'utilisation du réseau Internet, notamment une rupture de service, une intrusion extérieure ou la présence de virus informatiques. Les Services sont fournis en l’état et dans la mesure des disponibilités.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société ne garantit pas une fourniture sans erreur, sans interruption ponctuelle et sécurisée des Services proposés via le Site Internet.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Elle n’est tenue par aucune obligation d’assistance personnalisée notamment technique.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Elle décline toute garantie expresse ou implicite notamment concernant la qualité et la compatibilité du Site Internet à l’utilisation que les Utilisateurs en feront. Elle ne garantit aucun résultat ni bénéfice dans l’utilisation qui sera faite des Services proposés à travers le Site Internet.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Elle ne garantit pas davantage que les fichiers transmis par les Utilisateurs ne puissent pas faire l’objet d’intrusions de tiers non autorisés ni être corrompus ou téléchargés ni encore que les informations et les données circulant sur l’Internet sont protégées contre de telles attaques ou des détournements éventuels.</p>
        <h2 dir="ltr">19. Force majeure</h2>
        <p dir="ltr">19.1. Tout événement en dehors du contrôle de la Société et contre lequel elle n’a pu raisonnablement se prémunir constitue un cas de force majeure et suspend à ce titre les obligations des parties, comme par exemple sans que cette liste soit limitative : une grève ou une panne technique (EDF, ERDF, des opérateurs de télécommunications, des fournisseurs d’accès Internet ou d’hébergement, des Registrar, etc.), un arrêt de fourniture d’énergie (telle que l’électricité), une défaillance du réseau de communication électronique dont dépend la Société et/ou des réseaux qui viendraient s’y substituer.</p>
        <p dir="ltr">19.2. La Société ne pourra être tenue responsable, ou considérée comme ayant failli à ses obligations prévues dans les présentes CGU, pour toute inexécution liée à un cas de force majeure tel que défini par la loi et la jurisprudence française, à la condition qu’elle le notifie à l’autre partie d’une part, et qu’elle fasse son possible pour minimiser le préjudice et exécuter au plus vite ses obligations après cessation du cas de force majeure d’autre part.</p>
        <p dir="ltr">19.3. En cas de réalisation d’un tel évènement, les parties se rapprocheront pour examiner l'incidence de l'événement et convenir des conditions dans lesquelles l'exécution du contrat sera poursuivie.</p>
        <h2 dir="ltr">20. Correspondance entre les parties</h2>
        <p dir="ltr">Sauf disposition particulière dans les présentes CGU, les correspondances échangées entre les Utilisateurs et la Société sont assurées par courrier électronique via le Site.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">En application des articles 1316 et suivants du Code civil et, le cas échéant, de l’article L.110-3 du Code de commerce, les parties déclarent que les informations délivrées par courrier électronique font foi entre les parties tant qu’aucun écrit contradictoirement authentifié et signé, venant remettre en cause ces informations informatisées, ne soit produit.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Les éléments tels que le moment de la réception ou de l’émission, ainsi que la qualité des données reçues feront foi par priorité telles que figurant sur les systèmes d’information de la Société, ou telles qu’authentifiées par les procédures informatisées de la Société sauf à en apporter la preuve écrite et contraire par les Utilisateurs.</p>
        <h2 dir="ltr">21. Mise à jour des CGU</h2>
        <p dir="ltr">La Société est susceptible de modifier et/ou mettre à jour les termes des CGU en fonction de certaines nécessités économiques ou légales ; les Utilisateurs en cours d’utilisation des Services seront informés et disposeront d’un délai de 8 (huit) jours pour notifier par lettre simple ou par courriel leur refus des modifications proposées et par conséquent demander la suppression de leur Compte Utilisateur.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Dans le cas contraire, les modifications proposées seront considérées comme tacitement acceptées par les Utilisateurs et le présent contrat se poursuivra jusqu’à son terme.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">La Société se réserve le droit de modifier, à tout moment, les caractéristiques des Services, sans que lesdites modifications n’entraînent de modifications substantielles. La Société avertira alors les Utilisateurs de cette modification 15 (quinze) jours avant l’entrée en vigueur de ces dernières.</p>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Une copie des CGU sera adressée au format pdf, par courrier électronique, à l’Utilisateur, dans leur version en vigueur à jour des dernières modifications.</p>
        <h2 dir="ltr">22. Intégralité</h2>
        <p dir="ltr">Les dispositions des présentes CGU expriment l’intégralité de l’accord conclu entre les Utilisateurs et la Société. Elles prévalent sur toute proposition, échange de lettres antérieures et postérieures à la conclusion des présentes, ainsi que sur toute autre disposition figurant dans les documents échangés entre les parties et relatifs à l’objet des CGU, sauf avenant dûment signé par les représentants des deux parties.</p>
        <h2 dir="ltr">23. Non renonciation</h2>
        <p dir="ltr">Le fait que l’une des parties aux présentes CGU n’ait pas exigé l’application d’une clause quelconque, que ce soit de façon permanente ou temporaire, ne pourra en aucun cas être considéré comme une renonciation aux droits de cette partie découlant de ladite clause.</p>
        <h2 dir="ltr">24. Nullité</h2>
        <p dir="ltr">Si une ou plusieurs dispositions des présentes CGU sont tenues pour non valides ou déclarées comme telles en application d’une loi, d’un règlement ou à la suite d’une décision devenue définitive d’une juridiction compétente, les autres stipulations des présentes CGU garderont toute leur force et leur portée.</p>
        <p dir="ltr">Le cas échéant la Société s’engage à supprimer et remplacer immédiatement ladite clause par une clause juridiquement valide.</p>
        <p dir="ltr">&nbsp;</p>
        <h2 dir="ltr">25. Titre</h2>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">En cas de difficulté d’interprétation entre le titre et le chapitre de l’un quelconque des articles et l’une quelconque des clauses, les titres seront réputés non-écrits.</p>
        <p dir="ltr">&nbsp;</p>
        <h2 dir="ltr">26. Attribution de juridiction – loi applicable</h2>
        <p dir="ltr">&nbsp;</p>
        <p dir="ltr">Toute difficulté née de l’interprétation et/ou de l’exécution des présentes sera soumise à l’appréciation des juridictions françaises compétentes, les seules lois applicables étant les lois françaises.</p>
        <h2><strong id="docs-internal-guid-d5d8adb9-8dae-059c-683a-8a7560c47545"></strong><br class="Apple-interchange-newline"><br></h2>
    </div>
    
</main>

{% endblock %}