{% extends 'base.html.twig' %}

{% block title %}1001 Services | Cookies {% endblock %}

{% block body %}

<main>
    <div id="mentions-legales" class="container">
        <h1 class="tt-01">Cookies</h1>
        <div class="intro ">
            <p>Les cookies sont de petits fichiers texte qui permettent aux sites Web que vous visitez d'enregistrer des informations sur votre navigation, en les gardant en mémoire sur votre ordinateur. C'est pratique pour retenir certaines de vos préférences (la taille de la police avec laquelle vous souhaitez que le site s'affiche par exemple) ou pour vous identifier à nouveau sans avoir à ressaisir de mot de passe. Mais cela permet aussi aux sites que vous visitez d'en savoir plus sur vous et vos habitudes de navigation : sur quelle page vous étiez avant d'arriver là, de quel point géographique vous vous connectez, quel navigateur et quel système vous utilisez, etc.</p>
            <p>Pour ne pas divulguer ces informations personnelles, mais aussi pour protéger votre vie privée en empêchant qu'une autre personne ayant accès à votre ordinateur puisse se connecter à un site dont vous êtes membre sans votre autorisation, vous pouvez décider de supprimer les cookies enregistrés sur votre disque dur. Quelques clics suffisent.</p>
        </div>
        <h2>Effacer les cookies avec Internet Explorer</h2>
        <ol>
            <li>Cliquez sur la roue dentée en haut à droite de la fenêtre pour faire apparaître le menu Outils et sélectionnez Options Internet.</li>
            <li>Dans la fenêtre qui s'affiche, sélectionnez l'onglet Général puis, dans la rubrique Historique de navigation, cliquez sur le bouton Supprimer...</li>
            <li>Cochez la case Cookies et données de sites Web (ainsi que d'autres si vous le souhaitez) et cliquez sur Supprimer. Cliquez ensuite sur OK pour fermer la fenêtre de réglages.</li>
        </ol>
        <h2>Supprimer les cookies avec Microsoft Edge</h2>
        <ol>
            <li>Cliquez sur l'icône ... en haut à droite de la fenêtre pour ouvrir le menu de réglage et choisissez Paramètres.</li>
            <li>Dans la section Effacer les données de navigation, cliquez sur Choisir les éléments à effacer.</li>
            <li>Cochez la case Cookies et données de sites Web enregistrées (ainsi que d'autres si vous le souhaitez) et cliquez sur Effacer. Fermez ensuite la fenêtre de réglages.</li>
        </ol>
        <h2>Supprimer les cookies avec Firefox</h2>
        <ol>
            <li>Cliquez sur l'icône ≡ en haut à droite de la fenêtre pour ouvrir le menu de réglage et choisissez Options puis Vie privée et Sécurité puis dans la partie Historique, cliquez sur Effacer votre historique récent.</li>
            <li>Dans la fenêtre qui s'affiche, cochez la case Cookies (ainsi que d'autres si vous le souhaitez) et cliquez sur Effacer maintenant.</li>
        </ol>
        <h2>Effacer les cookies avec Google Chrome</h2>
        <ol>
            <li>Cliquez sur l'icône ≡ en haut à droite de la fenêtre pour ouvrir le menu de réglage et choisissez Paramètres.</li>
            <li>Dans la fenêtre qui s'affiche, cliquez sur "Paramètres avancés" puis sur Effacer les données de navigation.</li>
            <li>Cochez la case Cookies et autres données de site (ainsi que d'autres si vous le souhaitez) et cliquez sur Effacer les données. Fermez ensuite la fenêtre des réglages.</li>
        </ol>
        <h2>Supprimer les cookies dans Opera</h2>
        <ol>
            <li>Dans le menu principal accessible en cliquant sur Menu en haut à gauche de la fenêtre,sélectionnez Plus d'outils et Effacer les données de navigation.</li>
            <li>Dans la fenêtre qui s'affiche, cochez la case Cookies et autres données des sites (ainsi que d'autres si vous le souhaitez) et cliquez sur Effacer les données de navigation. Fermez ensuite la fenêtre des réglages.</li>
        </ol>
        <h2>Effacer les cookies avec Safari (sous Mac)</h2>
        <ol>
            <li>Cliquez sur Safari dans la barre de menu, puis sélectionnez Préférences et Confidentialité</li>
            <li>Cliquez alors sur Supprimer toutes les données de sites web ou cliquez sur Détails, sélectionnez un ou plusieurs sites web, et cliquez sur Supprimer. Fermez ensuite la fenêtre des réglages.</li>
        </ol>
    </div>
    
</main>

{% endblock %}